{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You need to complete the response</h1>
        <p class="govuk-body">We have created a draft using the details provided.</p>
        <p class="govuk-body">You need to <a href="#" class="govuk-link">download and complete the appeal response</a>. It will open in Word.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">When you download the response, we will delete the case details from this service.  You will not be able to create another response for this case. You can close this window.</p>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">

  window.addEventListener('load', (event) => {
  });


  function saveData(){
    window.location.href = "01-task-list-new";
  }
</script>
{% endblock %}
