{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <form novalidation method="post">
    
    <h1 class="govuk-heading-l">Check your answers (example)
    </h1>

    <h2 class="govuk-heading-m">
      Activities and points</h2>

      
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">          
Activities to address in the appeal
          </dt>
          <dd class="govuk-summary-list__value">
            Mobilising&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;0 <br>
            Standing and sitting&nbsp;  &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;0 <br>
            Reaching&nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;   &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp;   &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp;   &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp;   &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp;   &nbsp; &nbsp;0 <br>
            Picking up and moving&nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;0 <br>
            Manual dexterity&nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;  &nbsp; &nbsp;0 <br>
            Making self understood&nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;0 <br>
            Understanding communication&nbsp;  &nbsp;&nbsp;0
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </dl>
          
        
      <h2 class="govuk-heading-m">Schedule of evidence</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Lower limbs
          </dt>
          <dd class="govuk-summary-list__value">
            
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> previous application number</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row" style="border-bottom: 0;">
          <dt class="govuk-summary-list__key">
            Evidence
          </dt>
          <dd class="govuk-summary-list__value">
            Is able to cook and clean for themselves
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence type</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row" style="border-bottom: 0;">
          <dt class="govuk-summary-list__key">
            Source
          </dt>
          <dd class="govuk-summary-list__value">
            UC50
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> home address</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Page
          </dt>
          <dd class="govuk-summary-list__value">
            34
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> home address</span></a>
          </dd>
          </div>

          <div class="govuk-summary-list__row" style="border-bottom: 0;">
            <dt class="govuk-summary-list__key">
              Evidence
            </dt>
            <dd class="govuk-summary-list__value">
              Is able to lift heavey items
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence type</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row" style="border-bottom: 0;">
            <dt class="govuk-summary-list__key">
              Source
            </dt>
            <dd class="govuk-summary-list__value">
              UC50
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Page
            </dt>
            <dd class="govuk-summary-list__value">
              37
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> home address</span></a>
            </dd>
            </div>

          
        </dl>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Upper limbs
            </dt>
            <dd class="govuk-summary-list__value">
              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row" style="border-bottom: 0;">
            <dt class="govuk-summary-list__key">
              Evidence
            </dt>
            <dd class="govuk-summary-list__value">
              Can walk to the shops and back
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence type</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row" style="border-bottom: 0;">
            <dt class="govuk-summary-list__key">
              Source
            </dt>
            <dd class="govuk-summary-list__value">
              UC85
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Page
            </dt>
            <dd class="govuk-summary-list__value">
              56
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> home address</span></a>
            </dd>
            </div>
  
            <div class="govuk-summary-list__row" style="border-bottom: 0;">
              <dt class="govuk-summary-list__key">
                Evidence
              </dt>
              <dd class="govuk-summary-list__value">
                Plays football with his son on a sunday 
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence type</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row" style="border-bottom: 0;">
              <dt class="govuk-summary-list__key">
                Source
              </dt>
              <dd class="govuk-summary-list__value">
                UC85
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> home address</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Page
              </dt>
              <dd class="govuk-summary-list__value">
                59
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> home address</span></a>
              </dd>
              </div>
  
            
          </dl>
     
      
         

 {{ govukButton({
  text: "Continue"
 }) }}
</form>
</div>
</div>
{% endblock %}

//when they click continue - change to '2,copy to endblock

{% block pageScripts %}
<script type="text/javascript">
  function saveData(){
    sessionStorage.setItem("taskProgressPoints","2");
    document.getElementById("form").submit();
  }


</script>
{% endblock %}