{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <form novalidation method="post">
    
    <h1 class="govuk-heading-l">Enter points awarded for each Upper limbs activity </h1>
    
    {{ govukInput({
        label: {
          text: "Reaching"
        },
        classes: "govuk-input--width-3",
        id: "width-3",
        name: "Reaching"
      }) 
    }}

    {{ govukInput({
      label: {
        text: "Picking up and moving"
      },
      classes: "govuk-input--width-3",
      id: "width-3",
      name: "Picking up and moving"
    }) }}

    {{ govukInput({
      label: {
        text: "Manual dexterity"
      },
      classes: "govuk-input--width-3",
      id: "width-3",
      name: "Manual dexterity"
    }) }} 

    {{ govukInput({
      label: {
        text: "Making self understood"
      },
      classes: "govuk-input--width-3",
      id: "width-3",
      name: "Making self understood"
    }) }} 

    {{ govukInput({
      label: {
        text: "Understanding communication"
      },
      classes: "govuk-input--width-3",
      id: "width-3",
      name: "Understanding communication"
    }) }}
      
         

 {{ govukButton({
  text: "Continue"
 }) }}
</form>
</div>
</div>
{% endblock %}

//when they click continue - change to '2,copy to endblock

