{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}

    <form novalidation method="post">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          
       
    <h1 class="govuk-heading-l">Justify the descriptor points awarded for 
      vision speech and hearing activities</h1>

      
      {{ govukTextarea({
    
        name: "[timeline][section52][document]",
        classes: "govuk-input--width-20",
        id: "[timeline][section52][document]",
        rows: "1",
        
        label: {
          text: "Which document are you taking evidence from?"
        },
        value: data.timeline.section52.document

      }) }}

      {{ govukInput({
        label: {
          text: "Which page does the evidence start on?"
        },
        classes: "govuk-input--width-3",
        id: "[timeline][section52][page]",
        name: "[timeline][section52][page]",
        value: data.timeline.section52.page
        
      }) }}

      <h1 class="govuk-heading-s">Provide evidence from this document, showing the appellant could do 
        one or more of the following:</h1>

<ul class="govuk-list govuk-list--bullet">
  <li>Go up or down two steps without the help of another person,</li>
  <li>Move more than 100 metres on level ground without stopping to avoid 
    significant discomfort or exhaustion, and can do it repeatedly within a 
    reasonable timescale</li>
  <li>For the majority of the time, can remain at a workstation (either 
    standing without help from another person or sitting) for more than 30 
    minutes before needing to move away in order to avoid significant 
    discomfort.</li>
</ul>

        
    
          {{ govukTextarea({
            name: "[timeline][section52][evidence]",
            id: "[timeline][section52][evidence]",
            rows: "4",
           
            value: data.timeline.section52.evidence
          }) }}
    
         
           
         
    
          {{ govukButton({
            text: "Continue"
          }) }}
    
         
      
    </div>
    <div class="govuk-grid-column-one-third">
      
    </div>
    </div>
      </form>
    
    {% endblock %}