.user-needs-list{
    border-bottom: 1px solid #777777;
    margin-bottom: 2rem;
}
.user-need{

}

.user-need-title{
  font-size: 1.5rem;
  font-weight: bold;
}

.align-right{
  text-align: right;
}

.right-side-bar{
  background-color: #eeefef;
  padding: 1rem;
}

.menuContainer{
  background-color: #f8f8f8;
  color:black;
  border-bottom: 1px solid #b1b4b6;
}

.globalNav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.globalNav li{
  float: left;
  margin-right: 32px;
  padding-top: 8px;
}

.globalNav li a{
  text-decoration: none;
}


.globalNav li:hover:not(.active) {
  text-decoration: underline;
}

.active {
  border-bottom: 4px solid #1d70b8;
}

/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  border-left:1px solid #fff;
  border-right:1px solid #fff;
  border-top:1px solid #fff;
  border-bottom:1px solid #ccc;
}


/* Create an active/current tablink class */
.tab button.active {
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  border-top:1px solid #ccc;
  border-bottom:1px solid #fff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: 1px solid #ccc;
  margin-top : -1px;
}

.link-via-js{
  cursor: pointer;
  color: rgb(29, 112, 184);
}
