{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <form novalidation method="post">
    

  
{{ govukTextarea({
  name: "moreDetail",
  id: "more-detail",
  rows: 20, 
 
  label: {
    text: "Provide relevant details of the PIP assessment",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "Provide details of the PIP assessment, use the below standard paragraph to help you write your response"
  }
}) }}
  

<h1 class="govuk-heading-s">Supporting paragraphs</h1>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Comparing PIP to UC
    </span>
  </summary>
  <div class="govuk-details__text">
    Although appellantFullName is entitled to PIP, this is not evidence that they have limited capability for work. <br><br>

    PIP has a different purpose and has different assessment criteria than the test for LCW/LCWRA. PIP is awarded to a claimant to meet requirements arising from their disability, whereas the Work Capability Assessment considers their ability to undertake various activities despite their disabilities. <br><br>
    
    It is the medical evidence used to determine entitlement which should be considered in this appeal, rather than the entitlement itself (see ML V SSWP (ESA) [2013] UKUT 174 AAC.)  </div>
    
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Use of aids
    </span>
  </summary>
  <div class="govuk-details__text">
    Parts of appellantFullName's PIP entitlement indicate that they might need to use aids to complete certain Daily Living Activities. But this is not evidence that they have limited capability for work. <br><br>   

When assessing their PIP entitlement and ability to complete Daily Living Activities, appellantFullName met the following descriptors:<br>
Needs to use an aid or appliance to be able to either prepare or cook a simple meal - Activity 1 (Preparing food) <br>
Needs to use an aid or appliance to be able to take nutrition - Activity 2 (Taking nutrition)<br>
Needs to use an aid or appliance to be able to wash or bathe - Activity 4 (Washing and bathing)<br>
Needs to use an aid or appliance to be able to manage toilet needs and incontinence - Activity 5 (Managing toilet needs or incontinence)<br>
Needs to use an aid or appliance to be able to dress or undress - Activity 6 (Dressing and undressing)<br>

These activities have no direct equivalent within the Work Capability Assessment (WCA). But their wording indicates that the appellant could complete these activities using an aid.<br><br> 

For the purposes of the WCA where a person can use an aid to complete an activity on a reliable and repeated basis, this does not indicate limited capability for work.<br><br> 

<p class="govuk-body">
  <a href="#" class="govuk-link">Add to response</a>
</p>
</details>




         

 {{ govukButton({
  text: "Continue"
 }) }}
</form>
</div>
</div>
{% endblock %}

//when they click continue - change to '2,copy to endblock

