{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <form novalidation method="post">
    

  
{{ govukTextarea({
  name: "moreDetail",
  id: "more-detail",
  rows: 20, 
 
  label: {
    text: "Respond to the PIP health assessment report",
    classes: "govuk-label--l",
    isPageHeading: true
  }
  
}) }}
  



<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Example response
  </summary>
  <div class="govuk-details__text">

Entitlement to PIP is not the same as having limited capability for work. It is a different benefit with different purposes and different assessment criteria.<br><br> 

In this appeal, we can consider the medical evidence which was used to decide PIP entitlement, but not the entitlement itself.<br><br> 

As part of their PIP assessment, the appellant may have shown that they need to use an aid to complete daily activities or to move around.<br><br> 

Because the use of such aids would be reasonable in the modern workplace, and because the appellant could then complete the activity on a reliable and repeated basis, the Work Capability Assessment would not consider this to indicate limited capability for work. <br><br> 


<p class="govuk-body">
  <a href="#" class="govuk-link">Add to text field</a>
</p>
</details>
         

 {{ govukButton({
  text: "Continue"
 }) }}
</form>
</div>
</div>
{% endblock %}

//when they click continue - change to '2,copy to endblock

