{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    
    
    
      <form class="form" action="/timeline/01-task-list-new" method="post">

        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Reasons for appeal and responses
            </h1>
          </legend>

          

         
          

          

          {{ govukSummaryList({
            card: {
              title: {
                text: "Reason 1 and response"
              
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "of University of Gloucestershire"
                },
                {
                  href: "#",
                  text: "Remove",
                  visuallyHiddenText: "from University of Gloucestershire"
                }
              ]
            }
          },
            rows: [
              {
                key: {
                  text: "Reason for appeal"
                },
                value: {
                  html: "The appellant has highlighted that they are in receipt of PIP
                  "
                }
                
              },

              {
                key: {
                  text: "Raised"
                },
                value: {
                  html: "On phone call
                  "
                }
                
              },
              {
                key: {
                  text: "Response"
                },
                value: {
                  html: " 
                  They are getting PIP, but this is irrelevant to their claim. The criteria for that benefit are different.
                  "
                }
               
              }

          
              
            ]
          }) }}


          {{ govukSummaryList({
            card: {
              title: {
                text: "Reason 2 and response"
              
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "of University of Gloucestershire"
                },
                {
                  href: "#",
                  text: "Remove",
                  visuallyHiddenText: "from University of Gloucestershire"
                }
              ]
            }
          },
            rows: [
              {
                key: {
                  text: "Reason for appeal"
                },
                value: {
                  html: "The appellant has asked that we contact their GP for an alternative view on their capability for work. They say that their GP has evidence that their condition is stopping them from working."
                }
                
              },
              {
                key: {
                  text: "Raised"
                },
                value: {
                  html: "Notice of appeal"
                  
                }
               
              },

              {
                key: {
                  text: "Response"
                },
                value: {
                  html: " It is not the responsibility of the decision maker to contact the appellant's GP. </br> </br>

                  It is for the appellant to consider whether they want to provide further medical evidence in support of this appeal.
                  "
                }
                
              } 
              
            ]
          }) }}

               
      
  <div class="govuk-button-group">
  <a href="/timeline/Otherissues/add-issue-2" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Respond to another reason
  </a>   
        <!-- when they click continue - change to '2,copy to endblock -->
  <button class="govuk-button" data-module="govuk-button" onclick="saveData()">
    Continue
  </button>
  </div>
</form>
</div>
</div>
{% endblock %}


{% block pageScripts %}
<script type="text/javascript">
  function saveData(){
    sessionStorage.setItem("taskProgressPoints","2");
    document.getElementById("form").submit();
  }

</script>
{% endblock %}