{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    {% set activities %}
      <ul class="govuk-list ">
        {% for item in data.timeline.activities.physical %}
        <li>
          {{item}} 
        </li>
        {%endfor%}    

        {% for item in data.timeline.activities.mental %}
        <li>
          {{item}} 
        </li>
        {%endfor%}            
      </ul> 
    {% endset %} 

    {% set activitiespoints %}
    <ul class="govuk-list">
      {% for item in data.timeline.activities.physical %}
        {% if item !== 'none' %}
        <li>
          {{item}} 
        </li>
        {% endif %}
      {%endfor%}    

      {% for item in data.timeline.activities.mental %}
        {% if item !== 'none' %}
        <li>
          {{item}} 
        </li>
        {% endif %}
      {%endfor%}          
    </ul> 
    {% endset %} 

    {% set points %}
    <ul class="govuk-list ">
      {% for item in data.timeline.activities.physical %}
        {% if item !== 'none' %}
        <li>
          {{data.activitypoints[item]}}
        </li>
        {% endif %}
      {%endfor%} 

      {% for item in data.timeline.activities.mental %}
        {% if item !== 'none' %}
        <li>
          {{data.activitypoints[item]}}
        </li>
        {% endif %}
      {%endfor%}                
    </ul> 
    {% endset %} 
    
    
    
    
      <form class="form" action="/timeline/01-task-list-new" method="post">

        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Check your answers
            </h1>
          </legend>


        {{ govukSummaryList({
          rows: [
          {
            key: {
              text: "Activities identified in the appeal"
            },            
            actions: {
              items: [
                {
                  href: "Change",                  
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          },
          {
            key: {
              html: activitiespoints
            },
            value: {
              html: points 
            },
            actions: {
              items: [
                {
                  href: "",
                  text: "",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          }
        ]
      }) }}

      

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Do they have problems eating or drinking?", 
              classes: "govuk-!-font-weight-regular"
            },
            value: {
              text: data.timeline.eatingorDrinking
            },
            actions: {
              items: [
                {
                  href: "",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          }
          
          
        ]
      }) }}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Provision under schedule 8", 
              classes: "govuk-!-font-weight-bold"
            },
            value: {
              text: "No provisions was met"
            },
            actions: {
              items: [
                {
                  href: "",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          }
          
          
        ]
      }) }}

      

     
     
    

         
        
     
      
      
      
      

  
  

      
    
                 
      
  
        <!-- when they click continue - change to '2,copy to endblockk -->
  <button class="govuk-button" data-module="govuk-button" onclick="saveData()">
    Continue
  </button>
  </div>
</form>
</div>
</div>
{% endblock %}


{% block pageScripts %}
<script type="text/javascript">
  function saveData(){
    sessionStorage.setItem("taskProgressPoints","2");
    document.getElementById("form").submit();
  }

</script>
{% endblock %}