{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}




<form novalidation method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
   
<h1 class="govuk-heading-l">Respond to one of the reasons for appeal</h1>
    </div>

<div class="govuk-grid-column-two-thirds">
{{ govukTextarea({

  name: "[timeline][Otherissues][description]",
  id: "[timeline][Otherissues][description]",
  rows: "2",
  label: {
    text: "Describe the reason for appeal"
  },
  value: data.timeline.Otherissues.description
}) }}



{{ govukTextarea({
  name: "[timeline][Otherissues][response]",
  id: "[timeline][Otherissues][response]",
  rows: "20",
  label: {
    text: "What is your response? "
  },
  value: data.timeline.Otherissues.response
  
}) }}

{{ govukRadios({
  classes: "govuk-radios",
  idPrefrix:"[timeline][Otherissues][source]",
  name: "[timeline][Otherissues][source]",
  value: data.timeline.Otherissues.source,
  fieldset: {
    legend: {
      text: "Where was this raised?",
      isPageHeading: false,
      classes: "govuk-paragraph-body"
    }
  },
 
  items: [
    {
      value: "Notice of appeal",
      text: "Notice of appeal"
    },
    {
      value: "Phone call",
      text: "Phone call"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}

</div>
<div class="govuk-grid-column-one-third">
  <h1 class="govuk-heading-m">Example responses</h1>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Inaccuracies in the report
      </span>
    </summary>
    <div class="govuk-details__text">
      The Respondent notes that much of the appeal request is concerned with what {Appellant Full Name} perceives as inaccuracies in the report. However, it should be noted that the report is not a detailed record of what was discussed at the interview. Instead, the report reflects the HCP’s professional opinion of {Appellant Full Name}’s functional ability. 
    </div>
  </details>


  {{ govukDetails({
    summaryText: "Medication",
    text: "The fact that {Appellant Full Name} is taking medication does not, I submit, necessarily mean <he/she> is incapable of work. Many people are on medication but continue in or seek remunerative work employment."
  }) }}
  {{ govukDetails({
    summaryText: "Pain",
    text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
  }) }}
  {{ govukDetails({
    summaryText: "New condition/significant worsening",
    text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
  }) }}
  {{ govukDetails({
    summaryText: "Unfit to do own occupation",
    text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
  }) }}
  {{ govukDetails({
    summaryText: "GP vs HCP",
    text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
  }) }}
  {{ govukDetails({
    summaryText: "Health conditions not fully considered",
    text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
  }) }}
  {{ govukDetails({
    summaryText: "What work can do",
    text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
  }) }}
  {{ govukDetails({
    summaryText: "Request to contact doctor",
    text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
  }) }}
  {{ govukDetails({
    summaryText: "Lack of Restful Sleep",
    text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
  }) }}

  </div>

</div>
</div>
</form>

{% endblock %}


