{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
  <script src="/public/javascripts/auto-complete.js"></script>
  <script src="/public/javascripts/misc.js"></script>
{% endblock %}

{% block pageTitle %}
  Appeal history – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block content %}
{% if data.error %}
  <div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#">Enter all mandatory data</a>
        </li>
      </ul>
    </div>
  </div>
  </div>
{% endif %}
<a href="
{% if (data.edit == 1 and data.target == 'index') %}
  index
{% elif (data.edit == 1 and data.target == 'index3') %}
  index3
{% else %}
  javascript:history.back()
{% endif %}
" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Change to health or disability </h2>
      <form action="/timeline/foc/addCoc?target={{data.target}}" method="post" class="form" id="form">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="event-name">
            Date of reported change
          </label>
              <div class="govuk-date-input" id="date-original-decision">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="COCDay">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="COCDay" name="COCDay" type="text" inputmode="numeric" value={{ data.events[data.editIndex].day }}>
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="COCMonth">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="COCMonth" name="COCMonth" type="text" inputmode="numeric" value={{ data.events[data.editIndex].month }}>
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="COCYear">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="COCYear" name="COCYear" type="text" inputmode="numeric" value={{ data.events[data.editIndex].year }}>
                  </div>
                </div>
              </div>
          </div>
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-!-font-weight-bold" for="weight">
              Health conditions declared on that date
            </label>
          </h1>
          <div class="" id="conditionsContainer">
            <div class="govuk-input__wrapper autocomplete ">
              {% if data.edit != 1 %}
                <input class="govuk-input govuk-input--width-20 conditionInput" id="condition" name="condition" type="text">
              {% endif %}
            </div>
          </div>
          <p class="govuk-!-margin-top-2"><a href="#" onclick="addCondtionInput('conditionsContainer')">Add another condition</a></p>
        </div>
        <input class="govuk-input" id="conditionsString" name="conditionsString" type="text" style="display:none">
        
        <h3 class="govuk-heading-s">Current declared health conditions</h3>
        <div id="health condition-hint" class="govuk-hint">
          Remove any that no longer apply
        </div>

        {% if data.events[data.editOClaimIndex].details.conditionsExists == "Yes"%}
        <dl class="govuk-summary-list">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Asthma
            </dt>
            
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> name</span></a>
            </dd>
            </div>
           
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__value">
                Back pain
              </dt>
              
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" id="Remove_backpain" href="#">Remove<span class="govuk-visually-hidden"> name</span></a>
              </dd>
              </div>
              
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                  Knee pain
                </dt>
                
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> name</span></a>
                </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__value">
                    Pain in leg
                  </dt>
                  
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> name</span></a>
                  </dd>
                  </div>
            </dl>
            {%endif%}
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                You have not added a previous health condition
              </strong>
            </div>

            
        
        
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
              Did this change restrict the appellant's ability to work?
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="COCRestrictYes" name="COCRestrict" type="radio" value="Yes"
                {% if data.events[data.editIndex].details.COCRestrict == "Yes" %}
                checked
                {% endif %}>
                <label class="govuk-label govuk-radios__label" for="COCRestrictYes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="COCRestrictNo" name="COCRestrict" type="radio" value="No" {% if data.events[data.editIndex].details.COCRestrict == "No" %}
                checked
                {% endif %}>
                <label class="govuk-label govuk-radios__label" for="COCRestrictNo">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
              Did they provide valid medical evidence?
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="COCEvidenceYes" name="COCEvidence" type="radio" value="Yes" {{ checked('COCEvidence','Yes') }}>
                <label class="govuk-label govuk-radios__label" for="COCEvidenceYes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="COCEvidenceNo" name="COCEvidence" type="radio" value="No" {{ checked('COCEvidence','No') }}>
                <label class="govuk-label govuk-radios__label" for="COCEvidenceNo">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button" onclick="submitForm()">
          Continue
        </button>
        {% if data.edit == 1 %}
          <p>
            <a class="govuk-body govuk-link govuk-link--no-visited-state redText" href="/remove?id={{data.events[data.editIndex].id}}">Remove this fact</a>
          </p>
        {% endif %}
        <p><a href="
        {% if (data.edit == 1 and data.target == 'index') %}
          index
        {% elif (data.edit == 1 and data.target == 'index3') %}
          index3
        {% else %}
          javascript:history.back()
        {% endif %}
        ">Back</a></p>
      </form>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">

  var itemsToPopulate = "{{ data.events[data.editIndex].details.COCConditions }}";

  function submitForm(){
    var conditionsString = "";
    const allConditions = document.getElementsByClassName("conditionInput");
    for (var i = 0; i < allConditions.length; i++) {
      conditionsString += allConditions[i].value+", ";
    }
    document.getElementById('conditionsString').value = conditionsString;
    document.getElementById('form').submit();
  }

  /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
  {% if data.edit != 1 %}
    autocomplete(document.getElementById("condition"), conditions);
  {% endif %}
  if ({{data.edit}} != -1) {
    populate(itemsToPopulate,'conditionsContainer');
  }
</script>
{% endblock %}
