{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
  <script src="/public/javascripts/auto-complete.js"></script>
  <script src="/public/javascripts/misc.js"></script>
{% endblock %}

{% block pageTitle %}
  Appeal history – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block content %}
{% if data.error %}
  <div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#">Enter all mandatory data</a>
        </li>
      </ul>
    </div>
  </div>
  </div>
{% endif %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Health conditions at date of claim </h2>
      <form action="/timeline/foc/addOriginalClaimConditions?target={{data.target}}" method="post" class="form" id="form">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-!-font-weight-bold" for="weight">
              Health conditions
            </label>
          </h1>
          <div class="" id="conditionsContainer">
            <div class="govuk-input__wrapper autocomplete ">
              {% if data.edit != 1 %}
                <input class="govuk-input govuk-input--width-20 conditionInput" id="condition" name="condition" type="text">
              {% endif %}
            </div>
          </div>
          <p class="govuk-!-margin-top-2"><a href="#" onclick="addCondtionInput('conditionsContainer')">Add another condition</a></p>
        </div>
        <input class="govuk-input" id="conditionsString" name="conditionsString" type="text" style="display:none">
        <input class="govuk-input" id="claimID" name="claimID" type="text" style="display:none" value={{data.originalClaim.id}}>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
              Was valid medical evidence provided?
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="evidenceYes" name="evidence" type="radio" value="Yes"
                {% if data.events[data.editOClaimIndex].details.OCEvidence == "Yes" %}
                checked
                {% endif %}
                >
                <label class="govuk-label govuk-radios__label" for="evidenceYes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="evidenceNo" name="evidence" type="radio" value="No"
                {% if data.events[data.editOClaimIndex].details.OCEvidence == "No" %}
                checked
                {% endif %}
                >
                <label class="govuk-label govuk-radios__label" for="evidenceNo">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button" onclick="submitForm()">
          Continue
        </button>
        {% if data.edit == 1 %}
          <p>
            <a class="govuk-body govuk-link govuk-link--no-visited-state redText" href="/remove?id={{data.events[data.editIndex].id}}">Remove this fact</a>
          </p>
        {% endif %}
        <p><a href="javascript:history.back()">Back</a></p>
      </form>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
/*
  var selectedConditions = [];
  var itemsToPopulate = "{{ data.events[data.editOClaimIndex].details.OCConditions }}";

  function submitForm(){
    var conditionsString = "";
    for (var i = 0; i < selectedConditions.length; i++) {
      conditionsString += selectedConditions[i]+", ";
    }
    document.getElementById('conditionsString').value = conditionsString;
    document.getElementById('form').submit();
  }
  initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:
  autocomplete(document.getElementById("condition"), conditions);
  if ({{data.edit}} != -1) {
    populate(itemsToPopulate);
  }

  */

  var itemsToPopulate = "{{ data.events[data.editOClaimIndex].details.OCConditions }}";

  function submitForm(){
    var conditionsString = "";
    const allConditions = document.getElementsByClassName("conditionInput");
    for (var i = 0; i < allConditions.length; i++) {
      conditionsString += allConditions[i].value+", ";
    }
    document.getElementById('conditionsString').value = conditionsString;
    document.getElementById('form').submit();
  }


