{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Appeal history – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}
{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}
{% if data.error %}
  <div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#">Enter all mandatory data</a>
        </li>
      </ul>
    </div>
  </div>
  </div>
{% endif %}
<!--<a href="
{% if (data.edit == 1 and data.target == 'index') %}
  index
{% elif (data.edit == 1 and data.target == 'index3') %}
  index3
{% else %}
  javascript:history.back()
{% endif %}
" class="govuk-back-link">Back</a> -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Original decision</h2>

      {{ govukRadios({
        name: "",
        fieldset: {
          legend: {
            text: "Was a decision assurance call made?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        value: data.decisioncall,
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}
      
      <form action="/timeline/foc/addOutcomeDecision?target={{data.target}}" method="post" class="form" id="form">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-font-weight-bold" for="event-name">
                Date of decision
              </label>
              <div id="passport-issued-hint" class="govuk-hint">
                For example, 27 3 2007
              </div>
                  <div class="govuk-date-input" id="date-original-decision">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="decisionDay">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="decisionDay" name="decisionDay" type="text" inputmode="numeric" value={{data.events[data.editOutcomeDecisionIndex].day}}>
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="decisionMonth">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="decisionMonth" name="decisionMonth" type="text" inputmode="numeric" value={{data.events[data.editOutcomeDecisionIndex].month}}>
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="decisionYear">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="decisionYear" name="decisionYear" type="text" inputmode="numeric" value={{data.events[data.editOutcomeDecisionIndex].year}}>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold" for="event-name">
                  Notification sent
                </label>
                <div id="passport-issued-hint" class="govuk-hint">
                  For example, 27 3 2007
                </div>
                    <div class="govuk-date-input" id="date-original-notification">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="notificationDay">
                            Day
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="notificationDay" name="notificationDay" type="text" inputmode="numeric" value={{data.events[data.editOutcomeNotificationIndex].day}}>
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="notificationMonth">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="notificationMonth" name="notificationMonth" type="text" inputmode="numeric" value={{data.events[data.editOutcomeNotificationIndex].month}}>
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="notificationYear">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="notificationYear" name="notificationYear" type="text" inputmode="numeric" value={{data.events[data.editOutcomeNotificationIndex].year}}>
                        </div>
                      </div>
                    </div>
                </div>

                
                  <h3 class="govuk-heading-s govuk-!-margin-top-8">Total descriptor points awarded by decision maker</h3>
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-font-weight" for="width-3">
                      Physical
                    </label>
                    <input class="govuk-input govuk-input--width-3" id="physicalPoints" name="physicalPoints" type="text" value={{data.events[data.editOutcomeDecisionIndex].details.physicalPoints}} >
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-font-weight" for="width-3">
                      Mental, cognitive and intellectual
                    </label>
                    <input class="govuk-input govuk-input--width-3" id="mentalPoints" name="mentalPoints" type="text" value={{data.events[data.editOutcomeDecisionIndex].details.mentalPoints}} >
                  </div>
                  {% if data.decisionType == 'LCWRA' %}

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <label class="govuk-label govuk-!-font-weight-bold govuk-!-margin-top-3 ">
                  Were any 'treated as' provisions identified?
                </lable>
                <div id="event-name-hint" class="govuk-hint">
                  For example, exceptional circumstances under Schedule 8.
                </div>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="treatedAs1" name="treatedAs" type="radio" value="Yes"
                    {% if data.events[data.editIndex].details.treatedAs == "Yes" %}
                    checked
                    {% endif %}>
                    <label class="govuk-label govuk-radios__label" for="treatedAs1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="treatedAs2" name="treatedAs" type="radio" value="No"
                    {% if data.events[data.editIndex].details.treatedAs == "No" %}
                    checked
                    {% endif %}>
                    <label class="govuk-label govuk-radios__label" for="treatedAs2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            {% endif %}

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      {% if data.edit == 1 %}
        <p>
          <a class="govuk-body govuk-link govuk-link--no-visited-state redText" href="/remove?id={{data.events[data.editIndex].id}}">Remove this fact</a>
        </p>
      {% endif %}
      <p><a href="
      {% if (data.edit == 1 and data.target == 'index') %}
        index
      {% elif (data.edit == 1 and data.target == 'index3') %}
        index3
      {% else %}
        javascript:history.back()
      {% endif %}
      ">Back</a></p>
      </form>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">

</script>
{% endblock %}
