{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Appeal history – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}
{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form novalidation method="post">
      <h2 class="govuk-heading-l">Original decision</h2>

    
      
    {{ govukDateInput({
      id: "Decisiondate",
      fieldset: {
        legend: {
          text: "Decision date",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 31 3 1980"
      },
      items: [
        {
          name: "date",
          label: "Day",
          value: data.day,
          classes: "govuk-input--width-2"
        },
        {
          name: "date",
          label: "Month",
          value: data.month,
          classes: "govuk-input--width-2"
        },
        {
          name: "date",
          label: "Year",
          value: data.year,
          classes: "govuk-input--width-4"
        }
      ]
    }) }}
   
              {{ govukRadios({
                classes: "govuk-radios",
                idPrefrix:"[timeline][outcomedecision]",
                name: "[timeline][outcomedecision]",
                fieldset: {
                  legend: {
                    text: "Was the notification sent on the same date?",
                    text: "Was the notification sent on the same date?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                values: data.timline.outcomedecision,
                items: [
                  {
                    value: "Yes",
                    text: "Yes"
                  },
                  {
                    value: "No",
                    text: "No"
                  }
                ]
              }) }}

              {{ govukRadios({
                classes: "govuk-radios",
                name: "",
                fieldset: {
                  legend: {
                    text: "A Decision Assurance Call was:",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                value: data.decisioncall,
                items: [
                  {
                    value: "Made and answered",
                    text: "Made and answered"
                  },
                  {
                    value: "Made but not answered",
                    text: "Made but not answered"
                  },
                  {
                    divider: "or"
                  },
                  {
                    value: "Not made, or no mention of the DAC on record",
                    text: "Not made, or no mention of the DAC on record"
                  }
                ]
              }) }}

                
                 

{{ govukButton({
  text: "Continue"
}) }}
      

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">

</script>
{% endblock %}
