{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <form novalidation method="post">

 
  <h1 class="govuk-heading-l">
    Capability for work questionnaire (UC50)</h1>

    {{ govukDateInput({
      id: "date",
      fieldset: {
        legend: {
          text: "Date used for facts of the case",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 31 3 1980"
      },
      items: [
        {
          name: "date",
          label: "Day",
          value: data.day,
          classes: "govuk-input--width-2"
        },
        {
          name: "date",
          label: "Month",
          value: data.month,
          classes: "govuk-input--width-2"
        },
        {
          name: "date",
          label: "Year",
          value: data.year,
          classes: "govuk-input--width-4"
        }
      ]
    }) }}

    {{ govukRadios({
      name: "[timeline][UC50date]",
      fieldset: {
        legend: {
          text: "What date is this?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      value: data.UC50date,
      items: [
        {
          value: "UC50 signed by the appellant",
          text: "UC50 signed by the appellant"
        },
        {
          value: "UC50 issued",
          text: "UC50 issued"
        },

        {
          value: "UC50 received into DWP",
          text: "UC50 received into DWP"
        }
      ]
    }) }}


    {{ govukButton({
      text: "Continue"
    }) }}
    
    
{% endblock %}

{% block pageScripts %}
 
{% endblock %}
