{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block content %}
{% if data.error %}
  <div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#">Enter all mandatory data</a>
        </li>
      </ul>
    </div>
  </div>
  </div>
{% endif %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-7">
      
      <h2 class="govuk-heading-l">Which activities does the appellant claim affect their health?</h2>
        <form action="/timeline/foc/addUC50Details?target={{data.target}}" method="post" id="form">
          <input class="govuk-input" id="uc50ID" name="uc50ID" type="text" style="display:none" value={{data.uc50.id}}>
          
          <div id="passport-issued-hint" class="govuk-hint">
            Select all that apply
          </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
           <h1 class="govuk-heading-m">Physical</h1>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="op1" name="physical" type="checkbox" value="Moving around and using steps"
                 >
                <label class="govuk-label govuk-checkboxes__label" for="op1">
                  Mobilising
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="op2" name="physical" type="checkbox" value="Standing and sitting" >
                <label class="govuk-label govuk-checkboxes__label" for="op2">
                  Standing and sitting
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="op3" name="physical" type="checkbox" value="Reaching" >
                <label class="govuk-label govuk-checkboxes__label" for="op3">
                  Reaching
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="op4" name="physical" type="checkbox" value="Picking up and moving things" >
                <label class="govuk-label govuk-checkboxes__label" for="op4">
                  Picking up and moving
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="op5" name="physical" type="checkbox" value="Manual dexterity (using your hands)" >
                <label class="govuk-label govuk-checkboxes__label" for="op5">
                  Manual dexterity
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="op6" name="physical" type="checkbox" value="Communicating - speaking, writing and typing">
                <label class="govuk-label govuk-checkboxes__label" for="op6">
                  Navigation
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="op7" name="physical" type="checkbox" value="Communicating - hearing and reading">
                <label class="govuk-label govuk-checkboxes__label" for="op7">
                  Making self understood
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="op8" name="physical" type="checkbox" value="Getting around safely" >
                <label class="govuk-label govuk-checkboxes__label" for="op8">
                  Understanding communication
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="op9" name="physical" type="checkbox" value="Controlling your bowels and bladder and using a collecting device">
                <label class="govuk-label govuk-checkboxes__label" for="op9">
                  Continence
                                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="op10" name="physical" type="checkbox" value="Staying conscious when awake" >
                <label class="govuk-label govuk-checkboxes__label" for="op10">
                  Consciousness
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Mental, cognitive and intellectual 
              </h1>
            </legend>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="lop1" name="mental" type="checkbox" value="Learning how to do tasks" >
                <label class="govuk-label govuk-checkboxes__label" for="lop1">
                  Learning new tasks
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="lop2" name="mental" type="checkbox" value="Awareness of hazards or danger" >
                <label class="govuk-label govuk-checkboxes__label" for="lop3">
                  Hazard awareness
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="lop2" name="mental" type="checkbox" value="Starting and finishing tasks" >
                <label class="govuk-label govuk-checkboxes__label" for="lop2">
                  Personal action
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="lop2" name="mental" type="checkbox" value="Coping with changes" >
                <label class="govuk-label govuk-checkboxes__label" for="lop4">
                  Coping with changes
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="lop2" name="mental" type="checkbox" value="Going out" >
                <label class="govuk-label govuk-checkboxes__label" for="lop5">
                  Getting about
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="lop2" name="mental" type="checkbox" value="Coping with social situations" >
                <label class="govuk-label govuk-checkboxes__label" for="lop6">
                  Coping socially
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="lop2" name="mental" type="checkbox" value="Behaving appropriately" >
                <label class="govuk-label govuk-checkboxes__label" for="lop7">
                  Appropriateness of behaviour
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="lop2" name="mental" type="checkbox" value="Eating or drinking" >
                <label class="govuk-label govuk-checkboxes__label" for="lop8">
                  Eating or drinking
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        
      <button class="govuk-button" data-module="govuk-button" onclick="saveData()">
        Continue
      </button>
      {% if data.edit == 1 %}
        <p>
          <a class="govuk-body govuk-link govuk-link--no-visited-state redText" href="/remove?id={{data.events[data.editIndex].id}}">Remove this fact</a>
        </p>
      {% endif %}
      <p><a href="javascript:history.back()">Back</a></p>
      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">

    window.addEventListener('load', (event) => {
    });


    function saveData(){
      document.getElementById("form").submit();
    }
</script>
{% endblock %}
