{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Health conditions – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row govuk-!-margin-bottom-7">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Health conditions</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class">Date declared</th>
            <th scope="col" class="govuk-table__header app-custom-class">Condition</th>
            <th scope="col" class="govuk-table__header app-custom-class">Fit note sent on</th>
            <th scope="col" class="govuk-table__header app-custom-class"> </th>

          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for healthCondition in healthConditions %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {{ healthCondition.date }}
                </td>
                <td class="govuk-table__cell govuk-!-font-weight-bold">
                  {{ healthCondition.condition }}
                </td>
                {% if healthCondition.fitNoteExists === "Yes" %}
                  <td class="govuk-table__cell">{{ healthCondition.fitNoteDay }} / {{ healthCondition.fitNoteMonth }} / {{ healthCondition.fitNoteYear }}</td>
                {% else %}
                  <td class="govuk-table__cell">Not sent</td>
                {% endif %}
            <td class="govuk-table__cell">
              <a href="#">Change</a> | <a href="#">Remove</a>
            </td>
        </tr>
      {% endfor %}
        </tbody>
      </table>

      <div class="govuk-button-group">
        <a class="govuk-button" data-module="govuk-button" href="../01-task-list-new">
          Continue
        </a>
        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="add-condition">
          Add another condition
        </a>
      </div>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', (event) => {
  });
</script>
{% endblock %}
