{% import "../menu/macro.html" as menu%}
{% macro header(serviceName,appellantName, menuItems) %}
<header class="govuk-header dwp-header" data-module="govuk-header">
  <div class=" govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="/" class="govuk-header__link govuk-header__link--service-name">
                {{serviceName}}
            </a>
        </div>
        <div class="govuk-grid-column-one-third dwp-header__container--action">
            <a href="#" class="govuk-header__link action">
                John Doe
            </a>
        </div>
    </div>
  </div>

{% if menuItems %}
  {{menu.menu(menuItems)}}
{% endif %}
<!--
{% if appellantName %}
<section class="dwp-key-details-bar " aria-label="Key details">
<div class="dwp-key-details-bar__key-details">
<dl class="dwp-key-details-bar__top-block">
    <dt class="govuk-visually-hidden">Name:</dt>
    <dd class="dwp-key-details-bar__primary">{{ appellantName }}</dd>
    <dt class="govuk-visually-hidden">Nino:</dt>
    <dd class="dwp-key-details-bar__secondary">1234 5678 8101 1111</dd>
</dl>
</div>
</section>
{% endif %}
-->

<!-- <section class="dwp-key-details-bar " aria-label="Key details">
    <div class="dwp-key-details-bar__key-details">
        <dl class="dwp-quick-reference__block">
            <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
            <dd class="dwp-quick-reference__primary">Jane Doe</dd>
            <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">National Insurance number:</dt>
            <dd class="dwp-quick-reference__secondary">QQ 12 34 56 X</dd>
            <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">HMCTS reference:</dt>
            <dd class="dwp-quick-reference__secondary">1234 5678 8101 1111</dd>
        </dl>
    </div>

</section> -->
<section class="dwp-quick-reference dwp-quick-reference--alternative govuk-!-margin-bottom-9 " aria-label="Case information">
    <div class=" govuk-width-container">
    <dl class="dwp-quick-reference__block">
        <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
        <dd class="dwp-quick-reference__primary">Jane Doe</dd>
        <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">National Insurance number:</dt>
        <dd class="dwp-quick-reference__secondary">QQ 12 34 56 X</dd>
        <hr>
        <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">HMCTS reference:</dt>
        <dd class="dwp-quick-reference__secondary">1234 5678 8101 1111</dd>
    </dl>
    </div>
</section>

</header>
{% endmacro %}
