
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jacob Abraham')}}
{% endblock %}

{% block content %}
<a href="01-task-list-new" class="govuk-back-link">Back to appeal response</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">The facts of the case</h1>
        <h2 class="govuk-heading-l">Mandatory reconsideration</h2>
        <div class="govuk-inset-text">
          <h4 class="govuk-heading-s">Selected template</h4>
          <p id="selectedTemplate"></p>
        </div>

        <h3 class="govuk-heading-m">Add the following details</h3>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Date of outbound call
              </h1>
            </legend>
            <div id="passport-issued-hint" class="govuk-hint">
              For example, 27 3 2007
            </div>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="mrCall-day" name="passport-issued-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="mrCall-month" name="passport-issued-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="mrCall-year" name="passport-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Was the decision revised in part?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="decisionRevised-yes" name="decisionRevised" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="decisionRevised-yes">
                  Yes - but insufficient points were awarded to meet the LCW threshold
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="decisionRevised-no" name="decisionRevised" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="decisionRevised-no">
                  No – the decision remained the same
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Date MR decision entered on UC journal
              </h1>
            </legend>
            <div id="passport-issued-hint" class="govuk-hint">
              For example, 27 3 2007
            </div>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="mrJournal-day" name="passport-issued-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="mrJournal-month" name="passport-issued-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="mrJournal-year" name="passport-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>

          </fieldset>
        </div>


        <div class="govuk-button-group">
          <button class="govuk-button" id="addButton" onclick="saveData()">
            Continue
          </button>
        </div>
        <p><a href="01-task-list-new">Back to appeal response</a></p>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', (event) => {

    if(sessionStorage.getItem("mr")=="callMadeNoInfo")
    {
      document.getElementById("selectedTemplate").innerHTML += "On <strong>5 February 2022, Jacob</strong> asked for a Mandatory Reconsideration of the decision that a Limited Capability for Work and Work-Related Activity element could not be added to the award amounts of UC.</p><p><strong>Jacob</strong> was contacted by telephone on &lt;date&gt; to explain how and why the decision was made and to ask for any further information he wished to be considered. However, he had nothing more to add.</p><p> On <strong>25 February 2022 </strong>, a Decision Maker completed a Mandatory Reconsideration. They considered all of the available evidence &lt;but found no grounds to revise the original decision/ and although they revised the decision in part, insufficient points were awarded to revise the original decision&gt; Jacob was notified of the decision on <date> via his UC Journal.";
    }
    else {
      document.getElementById("selectedTemplate").innerHTML += "<p>Yet to be desinged</p>";
    }
    if(sessionStorage.getItem("mrComplete") == "1")
    {
      document.getElementById('mrCall-day').value=sessionStorage.getItem("mrCall-day");
      document.getElementById('mrCall-month').value=sessionStorage.getItem("mrCall-month");
      document.getElementById('mrCall-year').value=sessionStorage.getItem("mrCall-year");

      radioButtons = document.querySelectorAll('input[name="decisionRevised"]');
      for(radioButton of radioButtons){
        if(radioButton.value == sessionStorage.getItem("decisionRevised")){
          radioButton.checked = true;
        }
      }

      document.getElementById('mrJournal-day').value=sessionStorage.getItem("mrJournal-day");
      document.getElementById('mrJournal-month').value=sessionStorage.getItem("mrJournal-month");
      document.getElementById('mrJournal-year').value=sessionStorage.getItem("mrJournal-year");

    }

    /*
    if(sessionStorage.getItem("conditionAtIDOC") == "yes")
    {
      document.getElementById("selectedTemplate").innerHTML = "On his initial declaration, <strong>Jacob Abraham</strong> did not disclose any health conditions that would affect his capacity for work but subsequently on <=== DATE OF DECLARATION ===> he declared the following health conditions <=== LIST OF CONDITIONS ===> which restricted his ability to work or to look for work.";
    }
    else {
      document.getElementById("selectedTemplate").innerHTML = "On his initial declaration <strong>Jacob Abraham</strong> stated he suffered from the following health conditions: <strong>Arthritis, High blood pressure and Depression </strong> but stated they did not impact on her ability to work or to look for work. Subsequently on <=== DATE OF DECLARATION ===>, (fit note date) she provided a verified fit note recording the following health conditions: <=== LIST OF CONDITIONS ===> which restricted her ability to work or to look for work ";
    }
    */
  });

  function saveData(){
    sessionStorage.setItem("mrComplete","1");
    sessionStorage.setItem("mrCall-day",document.getElementById('mrCall-day').value);
    sessionStorage.setItem("mrCall-month",document.getElementById('mrCall-month').value);
    sessionStorage.setItem("mrCall-year",document.getElementById('mrCall-year').value);

    const radioButtons = document.querySelectorAll('input[name="decisionRevised"]');
    for(const radioButton of radioButtons){
      if(radioButton.checked){
        sessionStorage.setItem("decisionRevised",radioButton.value);
      }
    }

    sessionStorage.setItem("mrJournal-day",document.getElementById('mrJournal-day').value);
    sessionStorage.setItem("mrJournal-month",document.getElementById('mrJournal-month').value);
    sessionStorage.setItem("mrJournal-year",document.getElementById('mrJournal-year').value);

    window.location.href = "13-01-facts.html#mrSection";
  }
</script>
{% endblock %}
