
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jacob Abraham')}}
{% endblock %}

{% block content %}
<a href="01-task-list-new" class="govuk-back-link">Back to appeal response</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">The response</h1>
        <h1 class="govuk-heading-l">The Grounds of Appeal and Response</h1>
        <div class="govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="descriptorSection">Activities identified in appeal</h2>
          <div class="govuk-body" id="descriptorContainer" style="display:none">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Activity</th>
                  <th scope="col" class="govuk-table__header">Points scored</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Mobilising</th>
                  <td class="govuk-table__cell" id="pointsMobilising">0</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Standing and sitting </th>
                  <td class="govuk-table__cell" id="pointsStanding">0</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Picking things up and moving them  </th>
                  <td class="govuk-table__cell" id="pointsThings">0</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Continence</th>
                  <td class="govuk-table__cell" id="pointsContinence">0</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Learning new tasks</th>
                  <td class="govuk-table__cell" id="pointsLearn">0</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Starting and finishing tasks </th>
                  <td class="govuk-table__cell" id="pointsTask">0</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Going out</th>
                  <td class="govuk-table__cell" id="pointsGoingOut">0</td>
                </tr>
              </tbody>
            </table>
            <p class="govuk-body">Jacob Abraham did not score the minimum 15 points required to be determined as having LCW.</p>
          </div>
          <a class="govuk-body govuk-link govuk-link--no-visited-state" href="16-01-discriptors" id="descriptorLink">+ Add the activities and the scores</a>
        </div>

        <h1 class="govuk-heading-l">Activities the appellant is capable of and the supporting evidence</h1>
        <div class="govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="lowerSection">Lower limbs</h2>
          <p class="govuk-body" id="lowerContainer">
          </p>
          <a class="govuk-body govuk-link govuk-link--no-visited-state" href="16-02-lower-limbs-descriptors" id="lowerLink">+ Add activities involving lower limbs and their evidence</a>
        </div>

        <div class="govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="introSection">Upper limbs</h2>
          <p class="govuk-body" id="introContainer">
          </p>
          <a class="govuk-body govuk-link govuk-link--no-visited-state" href="13-02-intro" id="introLink">+ Add activities involving upper limbs and their evidence</a>
        </div>

        <div class="govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="introSection">Sensory</h2>
          <p class="govuk-body" id="introContainer">
          </p>
          <a class="govuk-body govuk-link govuk-link--no-visited-state" href="13-02-intro" id="introLink">+ Add activities senses and their evidence</a>
        </div>

        <div class="govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="introSection">Continence</h2>
          <p class="govuk-body" id="introContainer">
          </p>
          <a class="govuk-body govuk-link govuk-link--no-visited-state" href="13-02-intro" id="introLink">+ Add activities involving continence and their evidence</a>
        </div>

        <div class="govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="introSection">Mental health</h2>
          <p class="govuk-body" id="introContainer">
          </p>
          <a class="govuk-body govuk-link govuk-link--no-visited-state" href="13-02-intro" id="introLink">+ Add activities involving mental health and their evidence</a>
        </div>

        <div class="govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" id="introSection">Eating and drinking</h2>
          <p class="govuk-body" id="introContainer">
          </p>
          <a class="govuk-body govuk-link govuk-link--no-visited-state" href="13-02-intro" id="introLink">+ Add activities involving eating and drinking and their evidence</a>
        </div>

        <h1 class="govuk-heading-l">Other issues raised in the appeal</h1>
        <div class="govuk-!-margin-bottom-9">
          <p class="govuk-body" id="introContainer">
          </p>
          <a class="govuk-body govuk-link govuk-link--no-visited-state" href="13-02-intro" id="introLink">+ Add any other issues raised in this appeal</a>
        </div>

        <h1 class="govuk-heading-l">Work history </h1>
        <div class="govuk-!-margin-bottom-9">
          <p class="govuk-body" id="introContainer">
          </p>
          <a class="govuk-body govuk-link govuk-link--no-visited-state" href="13-02-intro" id="introLink">+ Add any work history the appellant might have</a>
        </div>

        <h1 class="govuk-heading-l">Conclusion</h1>
        <div class="govuk-!-margin-bottom-9">
          <p class="govuk-body" id="introContainer">
          </p>
          <a class="govuk-body govuk-link govuk-link--no-visited-state" href="13-02-intro" id="introLink">+ Add a conclusion</a>
        </div>

        <div class="govuk-button-group">
          <a class="govuk-button" href="01-task-list-new">
            Continue
          </a>
        </div>
        <p><a href="01-task-list-new">Back to appeal response</a></p>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">

  window.addEventListener('load', (event) => {
    descriptorsText = "";
    if(sessionStorage.getItem("pointsComplete")=="1"){
      descriptorsText = "I am filled";
      //document.getElementById('descriptorContainer').innerHTML = descriptorsText;
      document.getElementById('pointsMobilising').innerHTML = sessionStorage.getItem("pointsMobilising");
      document.getElementById('pointsStanding').innerHTML = sessionStorage.getItem("pointsStanding");
      document.getElementById('pointsLearn').innerHTML = sessionStorage.getItem("pointsLearn");
      document.getElementById('pointsContinence').innerHTML = sessionStorage.getItem("pointsContinence");
      document.getElementById('pointsTask').innerHTML = sessionStorage.getItem("pointsTask");
      document.getElementById('pointsThings').innerHTML = sessionStorage.getItem("pointsThings");
      document.getElementById('pointsGoingOut').innerHTML = sessionStorage.getItem("pointsGoingOut");
      document.getElementById('descriptorLink').innerHTML = "Edit the points scored";
      document.getElementById('descriptorContainer').style.display = "block";
    }
  });

</script>
{% endblock %}
