
{% extends "dwp-layout.html" %}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Manage an Appeal : Design evolution
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="../iterations/" class="govuk-back-link">Back to iterations</a>
      <span class="govuk-caption-xl">Create an appeal response</span>
      <h1 class="govuk-heading-xl">
        User needs
      </h1>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Month you apply</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Short label</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">User need</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Content of response</td>
            <td class="govuk-table__cell">I need to know what should be included in the response to ensure it meets the needs of appellants, the judiciary and DWP</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Yet to validate
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Reason for DWPs response</td>
            <td class="govuk-table__cell">I need to be able to explain the reason for DWP opposing the appellant’s grounds for appeal so that the judiciary and the appellant understand why DWP has made its decision</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Yet to validate
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Respond to grounds of appeal</td>
            <td class="govuk-table__cell">I need to address the [grounds for appeal / points raised] by the appellant so that the response is personalised, demonstrates due consideration and meets the tribunal’s needs.</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Yet to validate
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">HMCTS' request</td>
            <td class="govuk-table__cell">I need to include anything that’s been requested by HMCTS, so that the judiciary has enough information to make its decision.</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Yet to validate
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Evidence for decision</td>
            <td class="govuk-table__cell">I need to show the evidence I’ve used to support my decision, so that the response [is evidence-based and focused.]</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Yet to validate
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">The right law</td>
            <td class="govuk-table__cell">I need to demonstrate which law I’ve used to justify the decision so that it’s clear to the appellant and to the judiciary that my decision is based on current legislation</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Yet to validate
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Response wrting tools [[Is this really a need?]]</td>
            <td class="govuk-table__cell">I need [tools that help me] to produce a clear, accurate and comprehensive response, so that I can be efficient and produce high quality responses.</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Yet to validate
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Refine my response</td>
            <td class="govuk-table__cell">I need to be able to refine my response as I learn new things, and continuously review it, so that the response reflects my current decision or thoughts.</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Yet to validate
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">[[Same as Respond to grounds of appeal?]]</td>
            <td class="govuk-table__cell">I need [the tools to support me in creating] a response which feels personalised and persuasive, so that the appellant and judiciary recognise that I’ve considered the appellant’s circumstances and all the points raised in the appeal. </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Yet to validate
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">[[Same as of Right law?]]</td>
            <td class="govuk-table__cell">I need [the tools to help me] reference legislation accurately so that the response clearly reflects the legal basis for my decision. </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Yet to validate
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">[[Same as Evidence for decision]]</td>
            <td class="govuk-table__cell">I need [tools to help me] to know which information held in DWP systems is relevant for this case .</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Yet to validate
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">[[Same as Evidence for decision]]</td>
            <td class="govuk-table__cell">I need to be able to make best use of information DWP holds to support my case, and to integrate into the response effectively. </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Yet to validate
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">High value activities</td>
            <td class="govuk-table__cell">I need to spend my time on high value activities, so that I can create the best possible appeal response for every case.</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Yet to validate
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">[[???]]</td>
            <td class="govuk-table__cell">I need to avoid undertaking unnecessary tasks or duplicating activities.</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Yet to validate
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Feedback</td>
            <td class="govuk-table__cell">I need to know whether the appeal responses I produce are effective so that I can improve.</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Yet to validate
              </strong>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Tribunal decision</td>
            <td class="govuk-table__cell">I need to know why the appeal was upheld, so that both my decision making and my report writing can improve.</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Yet to validate
              </strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


{% endblock %}
