
{% extends "layout.html" %}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Manage an Appeal : Design evolution
{% endblock %}

{% block content %}
<a href="/" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Create an appeal response</span>
      <h1 class="govuk-heading-xl">
        User needs
      </h1>
      <div class="user-need">
        <h3 class="govuk-heading-s">
          <a href="#">I need to know what should be included in the response to ensure it meets the needs of appellants, the judiciary and DWP</a>
        </div>
        <p>
          <strong class="govuk-tag">
            Validated
          </strong>
        </p>
      </div>
    </div>
  </div>


{% endblock %}
