.user-needs-list {
  border-bottom: 1px solid #777777;
  margin-bottom: 2rem;
}

.user-need-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.align-right {
  text-align: right;
}

.right-side-bar {
  background-color: #eeefef;
  padding: 1rem;
}

.menuContainer {
  background-color: #f8f8f8;
  color: black;
  border-bottom: 1px solid #b1b4b6;
}

.globalNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.globalNav li {
  float: left;
  margin-right: 32px;
  padding-top: 8px;
}

.globalNav li a {
  text-decoration: none;
}

.globalNav li:hover:not(.active) {
  text-decoration: underline;
}

.active {
  border-bottom: 4px solid #1d70b8;
}

/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}

/* Create an active/current tablink class */
.tab button.active {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: 1px solid #ccc;
  margin-top: -1px;
}

.link-via-js {
  cursor: pointer;
  color: rgb(29, 112, 184);
}

/*styles for tasklist headers with link*/
.tasklist-header-with-link {
  width: 100%;
}

.link-in-tasklist {
  float: right;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
}

.autocomplete-items {
  position: absolute;
  border: 2px solid #333333;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 2px solid #333333;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.listOfDetails :first-child {
  margin-top: 24px !important;
}

.fact {
  cursor: pointer;
}

.bordered {
  border: 1px solid grey !important;
  padding: 12px !important;
}

.response-label {
  vertical-align: top;
}

.chevContainer {
  float: left;
  width: 24px;
}

.factContainer {
  float: right;
  width: calc(100% - 24px);
  border-bottom: 1px solid #b1b4b6;
}

.fact {
  clear: both;
}

.factDate {
  float: left;
}

.factTitleAndLink {
  float: right;
}

.factTitle {
  float: left;
  width: calc(100% - 50px);
}

.factChangeContainer {
  float: right;
  width: 50px;
}

.redText {
  color: #d13118 !important;
}

.rowHighlight {
  background-color: #FEFBAF;
}

@media screen and (max-width: 900px) {
  .wideCTA {
    display: none;
  }

  .addPanel {
    margin-left: 0px !important;
    margin-top: 36px !important;
    margin-bottom: 36px !important;
  }

  .narrowCTA {
    display: block;
  }
}
@media screen and (min-width: 900px) {
  .wideCTA {
    display: block;
  }

  .addPanel {
    margin-left: 36px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .narrowCTA {
    display: none;
  }
}
.warning-text-box {
  border: 2px solid black;
  padding: 2rem;
}

.common-reason-for-appeal .govuk-summary-list__key {
  width: 100%;
}

.js-add-another-input-container .govuk-form-group {
  float: left;
}
.js-add-another-input-container .js-add-another-remove-button {
  float: left;
  margin-bottom: 0;
}

.js-add-another-container .js-add-another-button {
  display: none;
}
.js-enabled .js-add-another-container .js-add-another-button {
  display: inline-block;
}

.button--text {
  background: none;
  border: 0;
  color: #1d70b8;
  padding: 0;
  text-decoration: underline;
}
.button--text:hover {
  color: #003078;
}