
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back to iterations",
  href: "../index"
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Generate a word template with pre-filled data
      </h1>

      <h2 class="govuk-heading-l">
        Hypothesis / Experiment
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <strong>We believe that </strong> by producing an appeal response template in MS Word document, prefilled with the relevant data gathered from various DWP systems and asking the relevant data from the appeal writers
        </li>
        <li>
          <strong>We will </strong>
          be able to produce a document that can act as a good starting point that can save time by autopopulating data and only inlude relevant paragraphs in the response document hence also increasing accuracy
        </li>
        <li>
          <strong>We'll know this is true when </strong> <br>
          Appeal Writers have a reduced appeal handling time per response
        </li>
      </ul>

      <h2 class="govuk-heading-l">
        What's new or changed?
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          A new approach to creating a response by gathering key data and producing a word document that the appeal writers can then use as they use templates today
        </li>
        <li>
          introduce a linear journey where the appeal writers will provide the needed data in a series of questions without the task list
        </li>
      </ul>

      <h2 class="govuk-heading-l">
        What did we learn?
      </h2>
      <ul class="govuk-list govuk-list--bullet">
          <li>
            The concept of producing a MS Word document as a starting point was well received by the Appeal Writers since that is inline with how they work at the moment
          </li>
          <li>
            At the time of writing the appeal response, the appeal writers will have the relevant data needed to produce the document
          </li>
          <li>
            The appeal writers said this method of producing the response document will save them time, though this was only an anecdotal evidence
          </li>
          <li>
            {More details to be added}
          </li>
      </ul>

      <h2 class="govuk-heading-l">
        Next steps
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          In the next iterations of the service we will continue the concept of producing an MS Word document as a starting point
        </li>
        <li>
          Though the concept of asking a series of questions in a linear journey tested well, we acknoledged that a linear journey will be too restrictive to appeal writers as it will force them to work in one single way and not allow any room for flexibilty in their workflow. <br>
          We will continue iterating on the task list concept rather than a linear journey
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        Screenshots
      </h2>
      <img class="govuk-grid-column-full govuk-!-margin-bottom-5" src="/public/images/design-evolution/S13/concept-1/01-home.jpg" alt="home page screenshot">
      <img class="govuk-grid-column-full govuk-!-margin-bottom-5" src="/public/images/design-evolution/S13/concept-1/02-check-details.jpg" alt="home page screenshot">
      <img class="govuk-grid-column-full govuk-!-margin-bottom-5" src="/public/images/design-evolution/S13/concept-1/03-wca.jpg" alt="home page screenshot">
      <img class="govuk-grid-column-full govuk-!-margin-bottom-5" src="/public/images/design-evolution/S13/concept-1/04-decision-type.jpg" alt="home page screenshot">
      <img class="govuk-grid-column-full govuk-!-margin-bottom-5" src="/public/images/design-evolution/S13/concept-1/05-key-dates.jpg" alt="home page screenshot">
      <img class="govuk-grid-column-full govuk-!-margin-bottom-5" src="/public/images/design-evolution/S13/concept-1/06-conditions.jpg" alt="home page screenshot">
      <img class="govuk-grid-column-full govuk-!-margin-bottom-5" src="/public/images/design-evolution/S13/concept-1/07-check-answers.jpg" alt="home page screenshot">
    </div>
  </div>

{% endblock %}
