
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back to iterations",
  href: "../index"
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Generate a word template with pre-filled data
      </h1>



      <h2 class="govuk-heading-l">
        What's new or changed?
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          A new approach to creating a response by gathering key data and producing a word document that the appeal writers can then use as they use templates today
        </li>
      </ul>

      <h2 class="govuk-heading-l">
        What did we learn?
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          Currently being tested
        </li>
      </ul>



      <h2 class="govuk-heading-l">
        Next steps
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          TBD
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        Screenshots
      </h2>
      <img class="govuk-grid-column-full govuk-!-margin-bottom-5" src="/public/images/design-evolution/S13/concept-1/01-home.jpg" alt="home page screenshot">
      <img class="govuk-grid-column-full govuk-!-margin-bottom-5" src="/public/images/design-evolution/S13/concept-1/02-check-details.jpg" alt="home page screenshot">
      <img class="govuk-grid-column-full govuk-!-margin-bottom-5" src="/public/images/design-evolution/S13/concept-1/03-wca.jpg" alt="home page screenshot">
      <img class="govuk-grid-column-full govuk-!-margin-bottom-5" src="/public/images/design-evolution/S13/concept-1/04-decision-type.jpg" alt="home page screenshot">
      <img class="govuk-grid-column-full govuk-!-margin-bottom-5" src="/public/images/design-evolution/S13/concept-1/05-key-dates.jpg" alt="home page screenshot">
      <img class="govuk-grid-column-full govuk-!-margin-bottom-5" src="/public/images/design-evolution/S13/concept-1/06-conditions.jpg" alt="home page screenshot">
      <img class="govuk-grid-column-full govuk-!-margin-bottom-5" src="/public/images/design-evolution/S13/concept-1/07-check-answers.jpg" alt="home page screenshot">
    </div>
  </div>

{% endblock %}
