{% import "../menu/macro.html" as menu%}
{% macro header(serviceName,appellantName, appellantDOB,menuItems) %}
<header class="govuk-header dwp-header" data-module="govuk-header">
  <div class=" govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="/" class="govuk-header__link govuk-header__link--service-name">
                {{serviceName}}
            </a>
        </div>
        <div class="govuk-grid-column-one-third dwp-header__container--action">
            <a href="#" class="govuk-header__link action">
                John Doe
            </a>
        </div>
    </div>
  </div>

{% if menuItems %}
  {{menu.menu(menuItems)}}
{% endif %}

{% if appellantName %}
<section class="dwp-key-details-bar " aria-label="Key details">
<div class="dwp-key-details-bar__key-details">
<dl class="dwp-key-details-bar__top-block">
    <dt class="govuk-visually-hidden">Name:</dt>
    <dd class="dwp-key-details-bar__primary">{{ appellantName }}</dd>
    <dt class="govuk-visually-hidden">Nino:</dt>
    <dd class="dwp-key-details-bar__secondary">1234 5678 8101 1111</dd>
    <dt class="govuk-visually-hidden">Claim status:</dt>
    <dd class="govuk-table__cell dwp-key-details-bar__status">
        <strong class="govuk-tag govuk-tag--grey">
            draft (saved)
        </strong>
    </dd>
</dl>
<dl class="dwp-key-details-bar__bottom-block">
    <dt>NINO:</dt>
    <dd>QQ 12 34 45 Q</dd>
    <dt>Date of birth:</dt>
    <dd>{{appellantDOB}}</dd>
</dl>
</div>
</section>
{% endif %}
</header>
{% endmacro %}
