{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Which fit notes do you want to include?</h1>

        {{ govukCheckboxes({
          name: "",
          fieldset: {
            legend: {
              text: "Choose from fit notes recorded on:",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },
          values: data.fitnote,
          items: [
            {
              value: "One",
              text: "15 April 2024"
            },
            {
              value: "Two",
              text: "17 February 2024"
            },
            {
              value: "Three",
              text: "14 January 2024"
            }, 
            {
              value: "Four",
              text: "12 August 2023"
            },
            {
              value: "Five",
              text: "17 March 2023"
            },
            {
              value: "Six",
              text: "1 September 2021"
            }, 
            {
              value: "Seven",
              text: "18 May 2019"
            },
            {
              value: "Eight",
              text: "28 April 2018"
            }
          ]
        }) }}

    


<form novalidation method="post">
  
  
  
 
 
    
      
    
    </tr>
  </tbody>
</table>


  
  <button class="govuk-button" data-module="govuk-button" onclick="saveData()">
    Continue
  </button>


  
  </form>

</div>

</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  function saveData(){
    sessionStorage.setItem("taskProgressRepDetails","2");
    document.getElementById("form").submit();
  }

</script>
{% endblock %}