
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">




<form novalidation method="post">


<h1 class="govuk-heading-l">Health assessment outcome</h1>

<p class="govuk-body">
  The appellant was found to not have sufficient restriction of capability. 
  </p>
  <p class="govuk-body">
    No 'treated as' provisions were met.
    </p>


<h1 class="govuk-heading-s">Physical activity points</h1>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Moving around
    </dt>
    <dd class="govuk-summary-list__value">
     3
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Reaching
    </dt>
    <dd class="govuk-summary-list__value">
      3
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Total
    </dt>
    <dd class="govuk-summary-list__value">
      6
    </dd>
  </div>
  
</dl>

<h1 class="govuk-heading-s">Mental, cognitive and intellectual activity points


</h1>
<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Total
    </dt>
    <dd class="govuk-summary-list__value">
      0
    </dd>
  </div>
  
</dl>


<br>
        
{{ govukDateInput({
  id: "dateofAssessment",
  fieldset: {
    legend: {
      text: "Enter the date of the assessment
      ",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "For example, 31 3 1980"
  },
  items: [
    {
      name: "date",
      label: "Day",
      value: data.dayofAssessment,
      classes: "govuk-input--width-2"
    },
    {
      name: "date",
      label: "Month",
      value: data.monthofAssessment,
      classes: "govuk-input--width-2"
    },
    {
      name: "date",
      label: "Year",
      value: data.yearofAssessment,
      classes: "govuk-input--width-4"
    }
  ]
}) }}

<br>

{{ govukRadios({
  name: "[Timeline][TypeofAssessment]",
  fieldset: {
    legend: {
      text: "Select the type of assessment
      ", 
      
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
     
    }
  },
  value: data.assessmentType,
  items: [
    {
      value: "Telephone",
      text: "Telephone"
    },
    {
      value: "Video",
      text: "Video"
    },
    {
      value: "Face-to-face",
      text: "Face-to-face"
    },
    {
      value: "Paper",
      text: "Paper"
    }
  
  ]
}) }}


{{ govukButton({
  text: "Continue"
}) }}

</form>

</div>
</div>

{% endblock %}
          

