{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">




<form novalidation method="post">
  
  <h1 class="govuk-heading-l">When was the first tier decision made?</h1>
  
  <p class="govuk-body">The appellant first applied for Universal credit on 4 May 2024. <br> <br>

    They are appealing a mandatory reconsideration decision made on 4 October 2024.</p>
    
{{ govukRadios({
  name: "decisionunderappeal",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  value: data.decisionunderappeal,
  items: [
    {
      value: "8 March 2022",
      text: "8 March 2022"
    },
    {
      value: "12 November 2021",
      text: "12 November 2021"
    }
  ]
}) }}

  
  <button class="govuk-button" data-module="govuk-button" onclick="saveData()">
    Continue
  </button>


  
  </form>

</div>

</div>

{% endblock %}

{% block pageScripts %}

{% endblock %}