{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">




<form novalidation method="post">


<h1 class="govuk-heading-l">Add additonal facts to the case</h1>
  {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

  {{ govukTextarea({
    name: "moreDetail",
    id: "more-detail",
    label: {
      text: "Enter a description of the fact",
      classes: "govuk-label--m",
      isPageHeading: true
    }
    
  }) }}

{{ govukDateInput({
  id: "date",
  fieldset: {
    legend: {
      text: "Date of fact",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "For example, 31 3 1980"
  },
  items: [
    {
      name: "date",
      label: "Day",
      value: data.day.fact,
      classes: "govuk-input--width-2"
    },
    {
      name: "date",
      label: "Month",
      value: data.month.fact,
      classes: "govuk-input--width-2"
    },
    {
      name: "date",
      label: "Year",
      value: data.year.fact,
      classes: "govuk-input--width-4"
    }
  ]
}) }}





  
<button type="button" class="govuk-body button--text govuk-!-margin-top-2 js-add-another-button">Add another fact</button> <br>







<button class="govuk-button" data-module="govuk-button" onclick="saveData()">
  Continue
</button>



</form>

</div>

</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
function saveData(){
  sessionStorage.setItem("taskProgressRepDetails","2");
  document.getElementById("form").submit();
}

</script>
{% endblock %}



 

      
         
     
