
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Appeal history – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/mashup/claim-history-table/add-mr-date" method="post" class="form">
      <h2 class="govuk-heading-l">Add dates to claim history</h2>
          <div class="govuk-!-margin-bottom-9">
            <h3 class="govuk-heading-m">
              Mandatory reconsideration (MR)
            </h3>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-font-weight-bold" for="event-name">
                MR requested by appellant (Optional)
              </label>
                  <div class="govuk-date-input" id="date-original-decision">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="date-original-decision-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-original-decision-day" name="date-original-decision-day" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="date-original-decision-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-original-decision-month" name="date-original-decision-month" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="date-original-decision-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-original-decision-year" name="date-original-decision-year" type="text" inputmode="numeric">
                      </div>
                    </div>
                  </div>
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold" for="event-name">
                  MR decision made
                </label>
                    <div class="govuk-date-input" id="date-original-decision">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="date-original-decision-day">
                            Day
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-original-decision-day" name="date-original-decision-day" type="text" inputmode="numeric">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="date-original-decision-month">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-original-decision-month" name="date-original-decision-month" type="text" inputmode="numeric">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="date-original-decision-year">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-original-decision-year" name="date-original-decision-year" type="text" inputmode="numeric">
                        </div>
                      </div>
                    </div>
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-!-font-weight-bold" for="event-name">
                    MR notification sent 
                  </label>
                      <div class="govuk-date-input" id="date-original-decision">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="date-original-decision-day">
                              Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-original-decision-day" name="date-original-decision-day" type="text" inputmode="numeric">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="date-original-decision-month">
                              Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-original-decision-month" name="date-original-decision-month" type="text" inputmode="numeric">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="date-original-decision-year">
                              Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-original-decision-year" name="date-original-decision-year" type="text" inputmode="numeric">
                          </div>
                        </div>
                      </div>
                  </div>

                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
                        Did the MR decision maker agree with the original decision?
                      </legend>
                      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                          <label class="govuk-label govuk-radios__label" for="changed-name">
                            Yes
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                          <label class="govuk-label govuk-radios__label" for="changed-name-2">
                            No
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
              </div>

              <div class="govuk-!-margin-bottom-9">
                <h3 class="govuk-heading-m">
                  Mandatory reconsideration (MR)
                </h3>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
                      Is this a dual claim for New Style Employment and Support Allowance (ESA)?
                    </legend>
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="dual-claim-yes" name="dual-claim" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="dual-claim-yes">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="dual-claim-no" name="dual-claim" type="radio" value="no">
                        <label class="govuk-label govuk-radios__label" for="dual-claim-no">
                          No
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>


      <button class="govuk-button" data-module="govuk-button" onclick="saveData()">
        Continue
      </button>
      <p><a href="javascript:history.back()">Back</a></p>
      </form>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">

  window.addEventListener('load', (event) => {
  });


  function saveData(){
    window.location.href = "05-decision-dates-2-1";
  }
</script>
{% endblock %}
