
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Appeal history – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Appeal history</h2>
    </div>
  </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="dwp-timeline">
          <ol class="dwp-timeline__events">
          <li class="dwp-timeline__events--entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Original decision made</h2>
              <p class="govuk-caption-m">03 December 2021</p>
              <p><a href="#">Change</a> | <a href="#">Remove</a></p>
          </li>
          <li class="dwp-timeline__events--entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Original decision notification sent</h2>
              <p class="govuk-caption-m">03 December 2021</p>
              <p><a href="#">Change</a> | <a href="#">Remove</a></p>
          </li>
          <li class="dwp-timeline__events--entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">MR requested by appellant</h2>
              <p class="govuk-caption-m">17 January 2022</p>
              <p><a href="#">Change</a> | <a href="#">Remove</a></p>
          </li>
          <li class="dwp-timeline__events--entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">MR decision made</h2>
              <p>MR decision maker did not agree with the original decision.</p>
              <p>This a dual claim for New Style Employment and Support Allowance.</p>
              <p class="govuk-caption-m">23 February 2022</p>
              <p><a href="#">Change</a> | <a href="#">Remove</a></p>
          </li>
          <li class="dwp-timeline__events--entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">MR notification sent</h2>
              <p class="govuk-caption-m">23 February 2022</p>
              <p><a href="#">Change</a> | <a href="#">Remove</a></p>
          </li>
          <li class="dwp-timeline__events--entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Appeal received by HMCTS</h2>
              <p class="govuk-caption-m">12 June 2022 </p>
              <p><a href="#">Change</a> | <a href="#">Remove</a></p>
          </li>
          <li class="dwp-timeline__events--entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Appeal received by DWP</h2>
              <p class="govuk-caption-m">12 June 2022 </p>
              <p><a href="#">Change</a> | <a href="#">Remove</a></p>
          </li>
          </ol>
        </div>

        <button class="govuk-button" data-module="govuk-button" onclick="saveData()">
          Continue
        </button>
        <p><a href="javascript:history.back()">Back</a></p>
      </div>
    </div>


{% endblock %}

{% block pageScripts %}
<script type="text/javascript">

  window.addEventListener('load', (event) => {
    document.getElementById('date-original-decision-day').value = sessionStorage.getItem("date-original-decision-day");
    document.getElementById('date-original-decision-month').value = sessionStorage.getItem("date-original-decision-month");
    document.getElementById('date-original-decision-year').value = sessionStorage.getItem("date-original-decision-year");
    document.getElementById('mr-day').value = sessionStorage.getItem("mr-day");
    document.getElementById('mr-month').value = sessionStorage.getItem("mr-month");
    document.getElementById('mr-year').value = sessionStorage.getItem("mr-month");
    document.getElementById('mrn-sent-day').value = sessionStorage.getItem("mrn-sent-day");
    document.getElementById('mrn-sent-month').value = sessionStorage.getItem("mrn-sent-day");
    document.getElementById('mrn-sent-year').value = sessionStorage.getItem("mrn-sent-day");
  });


  function saveData(){
    sessionStorage.setItem("date-original-decision-day",document.getElementById('date-original-decision-day').value);
    sessionStorage.setItem("date-original-decision-month",document.getElementById('date-original-decision-month').value);
    sessionStorage.setItem("date-original-decision-year",document.getElementById('date-original-decision-year').value);

    sessionStorage.setItem("mr-day",document.getElementById('mr-day').value);
    sessionStorage.setItem("mr-month",document.getElementById('mr-month').value);
    sessionStorage.setItem("mr-year",document.getElementById('mr-year').value);

    sessionStorage.setItem("mrn-sent-day",document.getElementById('mrn-sent-day').value);
    sessionStorage.setItem("mrn-sent-month",document.getElementById('mrn-sent-month').value);
    sessionStorage.setItem("mrn-sent-year",document.getElementById('mrn-sent-year').value);

    if(
      document.getElementById('date-original-decision-day').value
      && document.getElementById('date-original-decision-month').value
      && document.getElementById('date-original-decision-year').value
      && document.getElementById('mr-day').value
      && document.getElementById('mr-month').value
      && document.getElementById('mr-year').value
      && document.getElementById('mrn-sent-day').value
      && document.getElementById('mrn-sent-month').value
      && document.getElementById('mrn-sent-year').value
    )
    {
      sessionStorage.setItem("taskProgressDecisionDates","2");
    }
    else if(
      document.getElementById('date-original-decision-day').value
      || document.getElementById('date-original-decision-month').value
      || document.getElementById('date-original-decision-year').value
      || document.getElementById('mr-day').value
      || document.getElementById('mr-month').value
      || document.getElementById('mr-year').value
      || document.getElementById('mrn-sent-day').value
      || document.getElementById('mrn-sent-month').value
      || document.getElementById('mrn-sent-year').value
    )
    {
      sessionStorage.setItem("taskProgressDecisionDates","1");
    }
    else
    {
      sessionStorage.setItem("taskProgressDecisionDates","0");
    }
    window.location.href = "01-task-list-new";
  }
</script>
{% endblock %}
