
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Tasks to complete – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Tasks to complete
        </h1>
        <ol class="app-task-list">
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">1. </span> Personal details
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="02-appellant-details" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                    Change appellant and representative details
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="taskAppellantDetails">Not started</strong>
              </li>
              
             <!-- <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="representative" class="govuk-link govuk-link--no-visited-state" aria-describedby="read-declaration-status">
                    Add representative details
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="taskRepDetails">Not started</strong>
              </li> -->
              
            </ul> 
          </li> 



          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">2. </span> Benefits history and the appeal
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="./foc/index-copy" aria-describedby="company-information-status" class="govuk-link govuk-link--no-visited-state" >
                    Build the health and benefits history
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="taskFOC">Not started</strong>
              </li>

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="./section52V2/activities" aria-describedby="company-information-status" class="govuk-link govuk-link--no-visited-state" >
                    Record activities disputed in the appeal
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="points">Not started</strong>
              </li>            
            </ul>

           <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">3. </span> The response
            </h2>
            <ul class="app-task-list__items">              
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  {% if data.addedAllEvidence[0] === 'yes' %}
                    <a href="./section52V2b/evidences" aria-describedby="company-information-status" class="govuk-link govuk-link--no-visited-state" >
                      Record evidence for activities
                    </a>
                  {% else %}
                    <a href="./section52V2b/record-evidence" aria-describedby="company-information-status" class="govuk-link govuk-link--no-visited-state" >
                      Record evidence for activities
                    </a>
                  {% endif %}
                </span>                
                
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="points">
                  {% if data.recordEvidence === 'no' or data.addedAllEvidence[0] === 'yes' %}
                    Completed
                  {% else %}
                    Not started
                  {% endif %}
                </strong>                
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="./otherbenefits/evidence" aria-describedby="company-information-status" class="govuk-link govuk-link--no-visited-state" >
                    Respond to the PIP health assessment
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="reasons">Not started</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="./Otherissues/other-reasons-for-appeal" aria-describedby="company-information-status" class="govuk-link govuk-link--no-visited-state" >
                    Respond to other reasons for the appeal
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="reasons">Not started</strong>
              </li>

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="./treated-asv2/type-of-work" aria-describedby="company-information-status" class="govuk-link govuk-link--no-visited-state" >
                    Record evidence for 'treated as' provisions
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="reasons">Not started</strong>
              </li>

              
              
            </ul>

            </ul> 
            <li>


          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">4. </span> Create response
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="/timeline/section52V2b/check-your-answers" class="govuk-link govuk-link--no-visited-state" aria-describedby="company-information-status" id="cya-link"> 
                    Check answers and create response
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="cya-no-link-status">Cannot start yet</strong>

              </li>
            </ul>
          </li>
        </ol>
        <!--
          <div class="govuk-inset-text">
            You can edit the repsonse after it has been created.
          </div>
          <a href="#" class="govuk-button">Create response</a>
        -->
    </div>
  </div>
{% endblock %}
