{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    
    
    <form novalidation method="post">
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select the activities you want to include as context for your response

            </h1>
          </legend>
          
          <div id="event-name-hint" class="govuk-hint">
            Select all that you want to include in Section 5.1
          </div>
         

          {{ govukCheckboxes({
            id: "[timeline][activities]",
            name: "[timeline][activities]",
            fieldset: {
              legend: {
                text: "Which activities are you considering for this appeal?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
           
            fieldset:{
            legend: {
              text:"Physical",
              isPageHeading:false,
              classes: "govuk-fieldset__legend--m"
            
            }
          },
            values: data.timeline.activities,

            items: [
              {
                value: "Mobilising",
                text: "Mobilising"
              },
              {
                value: "Standing and sitting",
                text: "Standing and sitting"
              },
              {
                value: "Reaching",
                text: "Reaching"
              },
              {
                value: "Picking up and moving",
                text: "Picking up and moving"
              },
            
              
              {
                value: "Manual dexterity",
                text: "Manual dexterity"
              },
              {
                value: "Navigation",
                text: "Navigation"
              },
              {
                value: "Making self understood",
                text: "Making self understood"
              },

              {
                value: "Understanding communication",
                text: "Understanding communication"
              },
              
              {
                value: "Continence",
                text: "Continence"
              },
              {
                value: "Consciousness",
                text: "Consciousness"
              }

              ]
            }) }}

              {{ govukCheckboxes({
                id: "[timeline][activities]",
                name: "[timeline][activities]",
                fieldset: {
                  legend: {
                    text: "Which activities are you considering?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                
                fieldset:{
                legend: {
                  text:"Mental, cognitive and intellectual",
                  isPageHeading:false,
                  classes: "govuk-fieldset__legend--m"
                
                }
              },
                values: data.timeline.activities,
    
                items: [
             
              

              {
                value: "Learning new tasks ",
                text: "Learning new tasks "
              },
              {
                value: "Hazard awareness ",
                text: "Hazard awareness "
              },
              {
                value: "Personal action   ",
                text: "Personal action   "
              },
              {
                value: "Coping with change  ",
                text: "Coping with change  "
              },
              {
                value: "Getting about  ",
                text: "Getting about  "
              },
              {
                value: "Coping socially  ",
                text: "Coping socially  "
              },
              {
                value: "Appropriateness of behaviour  ",
                text: "Appropriateness of behaviour  "
              }
            ]
          }) }}
         
        </div>

  {{ govukButton({
    text: "Continue"
  }) }}
</form>
</div>
</div>
{% endblock %}

//when they click continue - change to '2,copy to endblock

{% block pageScripts %}
<script type="text/javascript">
  function saveData(){
    sessionStorage.setItem("taskProgressRepDetails","2");
    document.getElementById("form").submit();
  }

</script>
{% endblock %}