{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="/timeline/01-task-list-new" class="govuk-back-link">Back</a>
    
    
      <form class="form" action="/timeline/points-awarded-question" method="post">
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Which activities were considered in the decision under appeal?
            </h1>
          </legend>
          <div id="waste-hint" class="govuk-hint">
            Select all that apply.
          </div>
          <h2 class="govuk-heading-m"> Physical</h2>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                Mobilising 
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                Standing and sitting             
               </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                Reaching             
               </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                Manual dexterity 
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-4" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-4">
                Making self-understood             
               </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-5" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-5">
                Understanding communication  
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-5" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-5">
                Navigation  
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-6" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-6">
                Continence 
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-7" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-7">
                Consciousness 
              </label>
            </div>

            <br />
            <h3 class="govuk-heading-m"> Mental, cognitive, intellectual</h3>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-8" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-8">
                Learning new tasks 
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-9" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-9">
                Hazard awareness 
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-10" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-10">
                Personal action  
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-11" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-11">
                Coping with change 
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-12" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-12">
                Getting about 
              </label>
            </div>
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-13" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="waste-13">
              Coping socially 
            </label>
          </div>
        
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-14" name="waste" type="checkbox" value="farm">
          <label class="govuk-label govuk-checkboxes__label" for="waste-14">
            Appropriateness of behaviour 
          </label>
        </div>
          </div>
        </fieldset>
      </div>
  

  <button class="govuk-button" data-module="govuk-button" onclick="saveData()">
    Continue
  </button>
</form>
</div>
</div>
{% endblock %}

//when they click continue - change to '2,copy to endblock

{% block pageScripts %}
<script type="text/javascript">
  function saveData(){
    sessionStorage.setItem("taskProgressRepDetails","2");
    document.getElementById("form").submit();
  }

</script>
{% endblock %}