{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <form novalidation method="post">
    
   
  

    {{ govukTextarea({
      name: "Add details of the PIP application",
      id: "more-detail",
      rows: 20, 
      id: "more-detail",
      autocomplete: "Address",
      label: {
        text: "Add details of the PIP application",
        classes: "govuk-label--l",
        isPageHeading: true
      },
      hint: {
        text: "We have included some start text you can amend to suit the case."
      }
    }) }}
      
         

 {{ govukButton({
  text: "Continue"
 }) }}
</form>
</div>
</div>
{% endblock %}

//when they click continue - change to '2,copy to endblock

