{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">




<form novalidation method="post" id="appealdateform">
  
  
   <h1 class="govuk-heading-l">Appeal dates</h1> 
 

 {{ govukDateInput({
  id: "date",
  name: "dateReceivedByHMCTS",
  fieldset: {
    legend: {
      text: "Appeal received by HMCTS",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "For example, 31 3 1980"
  },
  items: [
    {
      name: "dateReceivedByHMCTSDate",
      label: "Day",
      value: data.dateReceivedByHMCTSMonth,
      classes: "govuk-input--width-2"
    },
    {
      name: "dateReceivedByHMCTSMonth",
      label: "Month",
      value: data.dateReceivedByHMCTSMonth,
      classes: "govuk-input--width-2"
    },
    {
      name: "dateReceivedByHMCTSYear",
      label: "Year",
      value: data.dateReceivedByHMCTSYear,
      classes: "govuk-input--width-4"
    }
  ]
 }) }}

 {{ govukDateInput({
  id: "date",
  name: "dateReceivedByDWP",
  fieldset: {
    legend: {
      text: "Appeal received by DWP",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "For example, 31 3 1980"
  },
  items: [
    {
      name: "dateReceivedByDWPDate",
      label: "Day",
      value: data.dateReceivedByDWPDate,
      classes: "govuk-input--width-2"
    },
    {
      name: "dateReceivedByDWPMonth",
      label: "Month",
      value: data.dateReceivedByDWPMonth,
      classes: "govuk-input--width-2"
    },
    {
      name: "dateReceivedByDWPYear",
      label: "Year",
      value: data.dateReceivedByDWPYear,
      classes: "govuk-input--width-4"
    }
  ]
 }) }}

  
  <button class="govuk-button" data-module="govuk-button" onclick="saveData()">
    Continue
  </button>


  
  </form>

</div>

</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  function saveData(){    
    sessionStorage.setItem("taskAppealdates","2");
    document.getElementById("appealdateform").submit();
  }

</script>
{% endblock %}