{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prep§1§  <q>xzxz`dsa
    
  </q>are an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}


<br><br>
{% block beforeContent %}


{% from "horizontal-navigation/macro.njk" import dwpHorizontalNavigation %}

{{ 
  dwpHorizontalNavigation({
    selectedItem: "#/timeline/case-details",
        items: [
            {
              text: "Case history",
              href: "#/timeline/case-details",
              id: "l-item-1"
            },
            {
              text: "Complete response",
              href: "/timeline/01-task-list-new-d",
              id: "l-item-2"
            }
        ]
    })
}}
  
  {% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">




<form novalidation method="post">
  
  
   <h1 class="govuk-heading-l">Case details and history </h1> 
  
  
   {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}



   <h2 class="govuk-heading-m">Appellant details</h2>
   <dl class="govuk-summary-list govuk-!-margin-bottom-9">

     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         National Insurance number
       </dt>
       <dd class="govuk-summary-list__value">
         QQ 12 34 45 Q
       </dd>
       <dd class="govuk-summary-list__actions">
         
         <a href="#">
          
           <span class="govuk-visually-hidden"> name</span>
         </a>
         
       </dd>
     </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Name
       </dt>
       <dd class="govuk-summary-list__value">
         Jane Doe
       </dd>

      <dd class="govuk-summary-list__actions">
         <!-- <a href="02-appellant-details?target=cya">
           Change
           <span class="govuk-visually-hidden"> name</span>
         </a>
       </dd> -->
     </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Date of birth
       </dt>
       <dd class="govuk-summary-list__value">
         4 June 1972
       </dd>
       <dd class="govuk-summary-list__actions">
         <!--
         <a href="#">
           Change
           <span class="govuk-visually-hidden"> name</span>
         </a>
         -->
       </dd>
     </div>
     
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Address
       </dt>
       <dd class="govuk-summary-list__value" >
         <div id="addressContainer">
           72 Guild Street,<br>
           London <br>
           SE23 6FH
         </div>
       </dd>
       <dd class="govuk-summary-list__actions">
         <a class="govuk-visually-hidden" href="02-appellant-address-change.html">
           Change
           <span class="govuk-visually-hidden"> name</span>
         </a>
       </dd>
     </div>
   </dl>

   <h1 class="govuk-heading-m">Work group</h1> 

   {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Group"
        },
        value: {
          text: "Light touch work"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "",
              visuallyHiddenText: "name"
            }
          ]
        }
      }

      
      
      
    ]
  }) }}

  <br>

   <h1 class="govuk-heading-m">Benefit details </h1> 

   {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Health benefits"
        },
        value: {
          text: "Personal Independence Payment"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "",
              visuallyHiddenText: "name"
            }
          ]
        }
      },
      {
        key: {
          text: "Award state date"
        },
        value: {
          text: "14 November 2019"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "",
              visuallyHiddenText: "date of birth"
            }
          ]
        }
      },
      {
        key: {
          text: "Award components"
        },
        value: {
          html: "Mobility component: Lower rate"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "",
              visuallyHiddenText: "address"
            }
          ]
        }
      } 

      
      
      
    ]
  }) }}

  <br>

   <h1 class="govuk-heading-m">Case details </h1> 

   {{ govukSummaryList({
     rows: [
       {
         key: {
           text: "Date of claim"
         },
         value: {
           text: "18 January 2018"
         },
         actions: {
           items: [
             {
               href: "#",
               text: "Change",
               visuallyHiddenText: "name"
             }
           ]
         }
       },
       {
         key: {
           text: "Mandatory reconsideration "
         },
         value: {
           text: "18 November 2024"
         },
         actions: {
           items: [
             {
               href: "#",
               text: "Change",
               visuallyHiddenText: "date of birth"
             }
           ]
         }
       },
       {
         key: {
           text: "First tier decision"
         },
         value: {
           html: "28 August 2024 "
         },
         actions: {
           items: [
             {
               href: "#",
               text: "Change",
               visuallyHiddenText: "address"
             }
           ]
         }
       }
       
       
     ]
   }) }}

   <br>

   <h1 class="govuk-heading-m"> mandatory reconsideration</h1>

   {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Decision date"
        },
        value: {
          text: "18 November 2024"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "name"
            }
          ]
        }
      }
        
      
      
    ]
  }) }}

   

  <h1 class="govuk-heading-s">Physical activity points</h1>

   {{ govukSummaryList({
     rows: [
       
       {
         key: {
          classes: "govuk-body",
           text: "Moving around"
         },
         value: {
           text: "3"
         },
         actions: {
           items: [
             {
               href: "#",
               text: "",
               visuallyHiddenText: "date of birth"
             }
           ]
         }
       },
       {
         key: {
          classes: "govuk-body",
           text: "Standing and sitting"
         },
         value: {
           html: "3"
         },
         actions: {
           items: [
             {
               href: "#",
               text: "",
               visuallyHiddenText: "address"
             }
           ]
         }
       }, 

       {
        key: {
          text: "Total"
        },
        value: {
          html: "6"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "",
              visuallyHiddenText: "address"
            }
          ]
        }
      }
       
       
     ]
   }) }}

   <h1 class="govuk-heading-s">Mental, cognitive and intellectual activity points</h1>

   {{ govukSummaryList({
     rows: [
       
    
    

       {
        key: {
          text: "Total"
        },
        value: {
          html: "6"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "",
              visuallyHiddenText: "address"
            }
          ]
        }
      }
       
       
     ]
   }) }}

   {{ govukSummaryList({
    rows: [
      
   
   

      {
       key: {
         text: "Date requested"
       },
       value: {
         html: "28 October 2024 "
       },
       actions: {
         items: [
           {
             href: "",
             text: "Change",
             visuallyHiddenText: "address"
           }
         ]
       }
     }, 

     {
      key: {
        text: "Notice sent"
      },
      value: {
        html: "18 November 2024 "
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }
      
      
    ]
  }) }}


   <br>

   <h1 class="govuk-heading-m"> First tier decision</h1>

   {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Decision date"
        },
        value: {
          text: "28 August 2024"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "name"
            }
          ]
        }
      }
        
      
      
    ]
  }) }}

   

  <h1 class="govuk-heading-s">Physical activity points</h1>

   {{ govukSummaryList({
     rows: [
       
       {
         key: {
           text: "Moving around"
         },
         value: {
           text: "3"
         },
         actions: {
           items: [
             {
               href: "#",
               text: "",
               visuallyHiddenText: "date of birth"
             }
           ]
         }
       },
       {
         key: {
           text: "Standing and sitting"
         },
         value: {
           html: "3"
         },
         actions: {
           items: [
             {
               href: "#",
               text: "",
               visuallyHiddenText: "address"
             }
           ]
         }
       }, 

       {
        key: {
          text: "Total"
        },
        value: {
          html: "6"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "",
              visuallyHiddenText: "address"
            }
          ]
        }
      }
       
       
     ]
   }) }}

   <h1 class="govuk-heading-s">Mental, cognitive and intellectual activity points</h1>

   {{ govukSummaryList({
     rows: [
       
    
    

       {
        key: {
          text: "Total"
        },
        value: {
          html: "6"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "",
              visuallyHiddenText: "address"
            }
          ]
        }
      }
       
       
     ]
   }) }}

   {{ govukSummaryList({
    rows: [
      
   
   

      {
       key: {
         text: "Notification sent"
       },
       value: {
         html: "28 August 2024 "
       },
       actions: {
         items: [
           {
             href: "",
             text: "Change",
             visuallyHiddenText: "address"
           }
         ]
       }
     }, 

     {
      key: {
        text: "Decision Assurance Call"
      },
      value: {
        html: "Not made"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }
      
      
    ]
  }) }}

   <h1 class="govuk-heading-m">Health declaration </h1> 

   {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Conditions at date of claim"
      },
    
      value: { 
        
        html: '<ul class="govuk-list govuk-list--bullet">
          <li>Backpain</li>
          
        </ul>'

    },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
    
  ]
}) }}



{{ govukSummaryList({
  classes: "common-reason-for-appeal", 
  
  rows: [
  {
    key: {
      classes: "govuk-body govuk-!-font-size-24",
      text: "Changes to health or disability"
    },
    
    actions: {
      items: [
        {
          href: "#",
          text: "Add",
          visuallyHiddenText: "contact details"
        }
        
      ]
    }
  }

  
]
}) }}


{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Date"
      },
    
      value: {
        text: "15 April 2024"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Remove",
            visuallyHiddenText: "name"
          }
        ]
      }
    }, 

    {
      key: {
        text: "Conditions"
      },
    
      value: { 
        
        html: 'Sciatica, Slipped disc, Anxiety'

    },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "name"
          }
        ]
      }
    }, 

    {
      key: {
        text: "Ability to work"
      },
    
      value: {
        text: "Restricted ability"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "name"
          }
        ]
      }
    }

    
  ]
}) }}


{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Date"
      },
    
      value: {
        text: "14 Feb 2024"
      },
      actions: {
        items: [
          
          {
            href: "#",
            text: "Remove",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }, 

    {
      key: {
        text: "Conditions"
      },
    
      value: { 
        
        html: 'Backpain, Sciatica, Anxiety , Broken foot  '

    },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "name"
          }
        ]
      }
    }, 

    {
      key: {
        text: "Ability to work"
      },
    
      value: {
        text: "Restricted ability"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
    
  ]
}) }}
    


{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Date"
      },
    
      value: {
        text: "10 Jan 2024"
      },
      actions: {
        items: [
          
          {
            href: "#",
            text: "Remove",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }, 

    {
      key: {
        text: "Conditions"
      },
    
      value: { 
        
        html: 'Back pain , Sciatica, Anxiety  '

    },
      
     
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "name"
          }
        ]
      }
    }, 
    
    {
      key: {
        text: "Ability to work"
      },
    
      value: {
        text: "Restricted ability"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "name"
          }
        ]
      }
    }

    
    
  ]
}) }}

<br>


{{ govukSummaryList({
  classes: "common-reason-for-appeal", 
  
  rows: [
  
  
  
  {
    key: {

      classes: "govuk-body govuk-!-font-size-24",
      text: "Medical evidence"
    },
    
    actions: {
      items: [
        {
          href: "#",
          text: "Add",
          visuallyHiddenText: "contact details"
        }
        
      ]
    }
  }

  
]
}) }}

{{ govukSummaryList({
  rows: [
  {
    key: {
      text: "Evidence type"
    },
  
    value: {
      text: "Fitnote"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Remove",
          visuallyHiddenText: "name"
        }
      ]
    }
  },  
  {
      key: {
        text: "Reported date"
      },
    
      value: {
        text: "14 April 2024"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "name"
          }
        ]
      }
    }


    
  ]
}) }}

{{ govukSummaryList({
  rows: [
  {
    key: {
      text: "Evidence type"
    },
  
    value: {
      text: "Fitnote"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Remove",
          visuallyHiddenText: "name"
        }
      ]
    }
  },  
  {
      key: {
        text: "Reported date"
      },
    
      value: {
        text: "12 February 2024 "
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "name"
          }
        ]
      }
    }


    
  ]
}) }}

{{ govukSummaryList({
  rows: [
  {
    key: {
      text: "Evidence type"
    },
  
    value: {
      text: "Fitnote"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Remove",
          visuallyHiddenText: "name"
        }
      ]
    }
  },  
  {
      key: {
        text: "Reported date"
      },
    
      value: {
        text: "9 January 2024"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "name"
          }
        ]
      }
    }


    
  ]
}) }}


<br>

<h1 class="govuk-heading-m">Capability for work questionnaire (UC50)</h1>

{{ govukSummaryList({
  rows: [

  {
    key: {
      text: "Date signed"
    },
  
    value: {
      text: "14th April 2023"
    },
    actions: {
      items: [
        
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "contact details"
        }
      ]
    }
  }, 
    {
      key: {
        text: "Physical activities"
      },
    
      value: { 
        
        html: '<ul class="govuk-list govuk-list--bullet">
          <li>Moving around</li>
          <li>Using steps</li>
        
        </ul>'

    },
      
      actions: {
        items: [
          
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }, 

    {
      key: {
        text: "Mental, cognitive and intellectual activities"
      },
      value: { 
        
        html: '<ul class="govuk-list govuk-list--bullet">
          <li>Learning how to do tasks</li>
          <li>Awareness of hazards or danger</li>
        
        </ul>'

    },
     
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    } 

    
    
  ]
}) }}


<br>

<h1 class="govuk-heading-m"> Health assessment outcome</h1>

   

   

  <h1 class="govuk-heading-s">Physical activity points</h1>

   {{ govukSummaryList({
     rows: [
       
       {
         key: {
           text: "Moving around"
         },
         value: {
           text: "3"
         },
         actions: {
           items: [
             {
               href: "#",
               text: "",
               visuallyHiddenText: "date of birth"
             }
           ]
         }
       },
       {
         key: {
           text: "Standing and sitting"
         },
         value: {
           html: "3"
         },
         actions: {
           items: [
             {
               href: "#",
               text: "",
               visuallyHiddenText: "address"
             }
           ]
         }
       }, 

       {
        key: {
          text: "Total"
        },
        value: {
          html: "6"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "",
              visuallyHiddenText: "address"
            }
          ]
        }
      }
       
       
     ]
   }) }}

   <h1 class="govuk-heading-s">Mental, cognitive and intellectual activity points</h1>

   {{ govukSummaryList({
     rows: [
       
    
    

       {
        key: {
          text: "Total"
        },
        value: {
          html: "6"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "",
              visuallyHiddenText: "address"
            }
          ]
        }
      }
       
       
     ]
   }) }}

   {{ govukSummaryList({
    rows: [
      
   
   

      {
       key: {
         text: "Assessment date"
       },
       value: {
         html: "22 July 2024  "
       },
       actions: {
         items: [
           {
             href: "",
             text: "Change",
             visuallyHiddenText: "address"
           }
         ]
       }
     }, 

     {
      key: {
        text: "Type of assessment"
      },
      value: {
        html: "Telephone"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }
      
      
    ]
  }) }}

  <br> 

  {{ govukSummaryList({
    classes: "common-reason-for-appeal", 
    
    rows: [
    
    
    
    {
      key: {
  
        classes: "govuk-body govuk-!-font-size-24",
        text: "Previous decision"
      },
      
      actions: {
        items: [
          {
            href: "#",
            text: "Remove",
            visuallyHiddenText: "contact details"
          }
          
        ]
      }
    }
  
    
  ]
  }) }}

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "
          Mandatory reconsideration"
        },
        value: {
          text: "
          10 March 2023"
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "",
              visuallyHiddenText: "Item label"
            }
          ]
        }
      },
      {
        key: {
          text: "First tier decision"
        },
        value: {
          text: "1 March 2023"
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "",
              visuallyHiddenText: "Item label"
            }
          ]
        }
      },
      {
        key: {
          text: "Date of health assessment"
        },
        value: {
          text: "6 May 2022"
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "",
              visuallyHiddenText: "Item label"
            }
          ]
        }
      }, 

      {
        key: {
          text: "Appeal heard"
        },
        value: {
          text: "10 December 2022"
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "",
              visuallyHiddenText: "Item label"
            }
          ]
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
    classes: "common-reason-for-appeal", 
    
    rows: [
    
    
    
    {
      key: {
  
        classes: "govuk-body govuk-!-font-size-24",
        text: "Other facts"
      },
      
      actions: {
        items: [
          {
            href: "#",
            text: "Add",
            visuallyHiddenText: "contact details"
          }
          
        ]
      }
    }
  
    
  ]
  }) }}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Description"
      },
      value: {
        text: "The appellant declared on their UC journal that they had broken their foot and due to the nature of the injury sustained were kept in hospital for 1 night so that a surgical procedure could be performed on 10 February, they were discharged later that day following surgery.
        "
      },
      actions: {
        items: [
          {
            href: "Item URL",
            text: "Change",
            visuallyHiddenText: "Item label"
          }
        ]
      }
    },
    {
      key: {
        text: "Date"
      },
      value: {
        text: "11 February 2024 "
      },
      actions: {
        items: [
          {
            href: "Item URL",
            text: "Change",
            visuallyHiddenText: "Item label"
          }
        ]
      }
    }
    
  ]
}) }}











      
    
    </tr>
  </tbody>
</table>


  
  


  
  </form>

</div>

</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  function saveData(){
    sessionStorage.setItem("taskProgressRepDetails","2");
    document.getElementById("form").submit();
  }

</script>
{% endblock %}