{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Appeal history – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}
{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form novalidation method="post">
      <h2 class="govuk-heading-l">Outcome of original decision</h2>


      <h1 class="govuk-heading-s">Enter points awarded for physical activities</h1>
      

      {{ govukInput({
        label: {
          text: "Mobilising"
        },
        classes: "govuk-input--width-2",
        id: "width-2",
        name: "width2"
      }) }}

      {{ govukInput({
        label: {
          text: "Standing and sitting"
        },
        classes: "govuk-input--width-2",
        id: "width-2",
        name: "width2"
      }) }}

      {{ govukInput({
        label: {
          text: "Reaching"
        },
        classes: "govuk-input--width-2",
        id: "width-2",
        name: "width2"
      }) }}

      {{ govukInput({
        label: {
          text: "Picking up and moving"
        },
        classes: "govuk-input--width-2",
        id: "width-2",
        name: "width2"
      }) }}

      {{ govukInput({
        label: {
          text: "Manual dexterity"
        },
        classes: "govuk-input--width-2",
        id: "width-2",
        name: "width2"
      }) }}

      {{ govukInput({
        label: {
          text: "Navigation"
        },
        classes: "govuk-input--width-2",
        id: "width-2",
        name: "width2"
      }) }}

      {{ govukInput({
        label: {
          text: "Making self understood"
        },
        classes: "govuk-input--width-2",
        id: "width-2",
        name: "width2"
      }) }}

      {{ govukInput({
        label: {
          text: "Understanding communication"
        },
        classes: "govuk-input--width-2",
        id: "width-2",
        name: "width2"
      }) }}

      {{ govukInput({
        label: {
          text: "Continence"
        },
        classes: "govuk-input--width-2",
        id: "width-2",
        name: "width2"
      }) }}

      {{ govukInput({
        label: {
          text: "Consciousness"
        },
        classes: "govuk-input--width-2",
        id: "width-2",
        name: "width2"
      }) }}

<h1 class="govuk-heading-s">Physical activity points</h1>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Moving around
    </dt>
    <dd class="govuk-summary-list__value">
     3
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Reaching
    </dt>
    <dd class="govuk-summary-list__value">
      3
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Total
    </dt>
    <dd class="govuk-summary-list__value">
      6
    </dd>
  </div>
  
</dl>

<h1 class="govuk-heading-s">Mental, cognitive and intellectual activity points


</h1>
<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Total
    </dt>
    <dd class="govuk-summary-list__value">
      0
    </dd>
  </div>
  
</dl>







   
              {{ govukRadios({
                classes: "govuk-radios",
                idPrefrix:"[timeline][outcomedecision]",
                name: "[timeline][outcomedecision]",
                fieldset: {
                  legend: {
                    text: "Was the notification sent on the 19th September 2023?",
                    text: "Was the notification also sent on the 11th Feburary 2024?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                values: data.timline.outcomedecision,
                items: [
                  {
                    value: "Yes",
                    text: "Yes"
                  },
                  {
                    value: "No",
                    text: "No"
                  }
                ]
              }) }}

              {{ govukRadios({
                classes: "govuk-radios",
                name: "",
                fieldset: {
                  legend: {
                    text: "Was a Decision Assurance Call:",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                value: data.decisioncall,
                items: [
                  {
                    value: "Made and answered",
                    text: "Made and answered"
                  },
                  {
                    value: "Made but not answered",
                    text: "Made but not answered"
                  },
                  {
                    divider: "or"
                  },
                  {
                    value: "Not made, or no mention of the DAC on record",
                    text: "Not made, or no mention of the DAC on record"
                  }
                ]
              }) }}

                
                 

{{ govukButton({
  text: "Continue"
}) }}
      

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">

</script>
{% endblock %}
