{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    {% set activities %}

    <ul class="govuk-list ">
      {% for item in data.timeline.activities %}
      <li>
        {{item}}
      </li>

      {%endfor%}
    
    </ul> 
    {% endset %}   
    
    
      <form class="form" action="/timeline/01-task-list-new" method="post">

        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Check your answers
            </h1>
          </legend>
    
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Activities considered"
            },
            value: {
              html: activities
            },
            actions: {
              items: [
                {
                  href: "activities-considered",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          },

          {
            key: {
              text: "Points awarded"
            },
            value: {
              text: data.timeline.points 
            },
            actions: {
              items: [
                {
                  href: "/points-awarded-question",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          },
          {
            key: {
              text: "Problems eating or drinking"
            },
            value: {
              text: data.timeline.eatingorDrinking
            },
            actions: {
              items: [
                {
                  href: "/eating-drinking",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          }
          
        ]
      }) }}
                 

        
        <!-- when they click continue - change to '2,copy to endblock -->
  <button class="govuk-button" data-module="govuk-button" onclick="saveData()">
    Continue
  </button>
</form>
</div>
</div>
{% endblock %}


{% block pageScripts %}
<script type="text/javascript">
  function saveData(){
    sessionStorage.setItem("taskProgressPoints","2");
    document.getElementById("form").submit();
  }

</script>
{% endblock %}