{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="/timeline/eating-drinking" class="govuk-back-link">Back</a>
    
    
      <form class="form" action="/timeline/01-task-list-new" method="post">

        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Check your answers
            </h1>
          </legend>
    
      
                 

        <dl class="govuk-summary-list"> <!--start of the list-->
          {% if data.decisionType == 'LCWRA' %} <!--How we're showing and hiding-->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Treated as 
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Paragraph 1,2,3,5,6</p>
            
            </dd>


            
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>

          {%endif%}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Activities considered
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Mobilising</p>
              <p class="govuk-body">Coping with change</p>
              <p class="govuk-body">Getting about</p>
            </dd>
            
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          {% if data.decisionType == 'LCWRA' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Points awarded 
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
        </div>
<br>{%endif%}

{% if data.decisionType == 'LCW' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Points awarded 
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
        </div>
<br>{%endif%}
<br>
<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Points per activity
            </dt>
            
            <dd class="govuk-summary-list__value">
              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
          {% if data.decisionType == 'LCW' %}
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
            Manual dexterity 
            </dt>
            <dd class="govuk-summary-list__value">
              0
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
            Mobilising 
            </dt>
            <dd class="govuk-summary-list__value">
              0
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
            Coping with change 
            </dt>
            <dd class="govuk-summary-list__value">
              0
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
            Getting about
            </dt>
            <dd class="govuk-summary-list__value">
              0
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
          {%endif%}
          {% if data.decisionType == 'LCWRA' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
            Moblising 
            </dt>
            <dd class="govuk-summary-list__value">
              9
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
            Making self-understood 
            </dt>
            <dd class="govuk-summary-list__value">
              0
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
            Getting about
            </dt>
            <dd class="govuk-summary-list__value">
              6
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
          {%endif%}
          
          <br>
          <br>
          
          
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Problems eating and drinking
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">no</p>
        
            </dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a></li>
              </ul>
            </dd>
          </div>
        </dl>
        
            </fieldset>
          </div>
        </div>
        <!-- when they click continue - change to '2,copy to endblock -->
  <button class="govuk-button" data-module="govuk-button" onclick="saveData()">
    Continue
  </button>
</form>
</div>
</div>
{% endblock %}


{% block pageScripts %}
<script type="text/javascript">
  function saveData(){
    sessionStorage.setItem("taskProgressPoints","2");
    document.getElementById("form").submit();
  }

</script>
{% endblock %}