
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form novalidation method="post">
        
        
        {{ govukCheckboxes({
          name: "[timeline][provisiontype]",
          fieldset: {
            legend: {
              text: "Which Schedule 8 'treated as' provisions were met?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.timeline.provisiontype,
          items: [
            {
              value: "Paragraph 1 (Receiving certain treatments)",
              text: "Paragraph 1 (Receiving certain treatments)"
            },
            {
              value: "Paragraph 2 (In hospital)",
              text: "Paragraph 2 (In hospital)"
            },
            {
              value: "Paragraph 3 (Prevented from working by law)",
              text: "Paragraph 3 (Prevented from working by law)"
            },
            {
              value: "Paragraph 4 (Risk to self or others)",
              text: "Paragraph 4 (Risk to self or others)"
            },
            {
              value: "Paragraph 5 (Life threatening disease)",
              text: "Paragraph 5 (Life threatening disease)"
            },

            {
              value: "Paragraph 6 (Disabled and over the age for state pension credit)",
              text: "Paragraph 6 (Disabled and over the age for state pension credit)"
            }
          ]
        }) }}
        
        
        
          
        <!-- LINK NOT BUTTON WHEN NO DATA NEEDS TO BE SENT-->
        
      {{ govukButton({
        text: "Continue"
      }) }}
        </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">

</script>
{% endblock %}
