{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">




<form novalidation method="post">



{{ govukRadios({
  name: "Do you want to record requests for a Written Statement of Reasons?",
  fieldset: {
    legend: {
      text: "Do you want to record a request for a Written Statement of Reasons?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  value: data.wsor,
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}





<button class="govuk-button" data-module="govuk-button" onclick="saveData()">
  Continue
</button>



</form>

</div>

</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
function saveData(){
  sessionStorage.setItem("taskProgressRepDetails","2");
  document.getElementById("form").submit();
}

</script>
{% endblock %}



 

      
         
     
