
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Facts of the case – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block content %}
{% if data.error == 1 %}
  <div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#form">Select if you would like to add another fact</a>
        </li>
      </ul>
    </div>
  </div>
  </div>
{% endif %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
          Facts of the case
        </h1>
        <p>
          <a class="govuk-body govuk-link govuk-link--no-visited-state" href="#" onclick="toggleAll()" id="toggler">Expand all</a>
        </p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class"><span class=" govuk-!-margin-left-6">Date</span></th>
              <th scope="col" class="govuk-table__header app-custom-class">Event</th>
              <th scope="col" class="govuk-table__header app-custom-class"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for event in data.events %}
              <tr class="govuk-table__row
              {%if event.details%}
                fact
              {% endif %}" id={{event.id}}>
                <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">
                  <span id="icon-{{event.id}}" class="icon govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"
                    {% if event.details%}
                    {% else %}
                      style="visibility:hidden;"
                    {% endif %}
                  ></span>
                  <span class="govuk-!-margin-left-1">{{ event.date }}</span>
                </th>
                <td class="govuk-table__cell ">
                  <span class="govuk-body govuk-!-font-weight-bold">{{ event.title }}</span>
                  {% if event.details %}
                    <div class="listOfDetails">
                      {% for key,value in event.details %}
                        <div class="details-{{event.id}} detail" style="display:none;">
                          <p class="govuk-body govuk-!-font-weight-bold" >
                            {% if key == 'mentalPoints' %}
                              Descriptor points awarded by the decision maker for mental, cognitive and intellectual function <br>
                            {% elif key == 'physicalPoints'%}
                              Descriptor points awarded by the decision maker for physical activities <br>
                            {% elif key == 'OCConditions' %}
                              Health conditions<br>
                            {% elif key == 'conditionsExists' %}
                              Did the appellant declare any health conditions?<br>
                            {% elif key == 'COCEvidence' or key == 'OCEvidence' %}
                              Did they provide valid medical evidence?<br>
                            {% elif key == 'COCConditions' %}
                              Health conditions declared on that date<br>
                            {% elif key == 'assessmentType' %}
                              Type of assessment<br>
                            {% elif key == 'asessmentConditions' %}
                              Health conditions identified by the healthcare professional (HCP)<br>
                            {% elif key == 'uc50Exists' %}
                              Are the details of the UC50 available?<br>
                            {% elif key == 'uc50Physical' %}
                              Physical functions the appellant have difficulty with<br>
                            {% elif key == 'uc50Mental' %}
                              Mental, cognitive and intellectual capabilities the appellant have difficulty with<br>
                            {% endif %}

                            {% if event.type == "other"%}
                              <span class="govuk-body">{{value}}</span>
                            {% else %}
                              {% if (key == 'uc50Physical' or key == 'uc50Mental') %}
                                <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-0">
                                  {% for item in value %}
                                    <li class="govuk-body" >{{item}}</li>
                                  {% endfor %}
                                </ul>
                              {% else %}
                                <span class="govuk-body">{{value}}</span>
                              {% endif %}
                            {% endif %}
                          </p>
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}
                </td>
                <td class="govuk-table__cell govuk-!-width-one-quarter govuk-!-text-align-right">
                  <a class="govuk-body govuk-link govuk-link--no-visited-state" href="/edit?id={{event.id}}">Change</a> |
                  <a class="govuk-body govuk-link govuk-link--no-visited-state" href="/remove?id={{event.id}}">Remove</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <form action="/timeline/foc/index" method="post" class="form" id="form">
          <div class="govuk-form-group govuk-!-padding-top-5">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend--m">
                Do you want to add another fact?
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="addFactYes" name="addFact" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="addFactYes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="addFactNo" name="addFact" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="addFactNo">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button" onclick="saveData()">
            Continue
          </button>
        </form>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">

  function saveData(){
    var ele = document.getElementsByName('addFact');
    var i = 0;
    for (i = 0; i < ele.length; i++) {
      if (ele[i].checked)
      {
          if(ele[i].value == "Yes"){
            document.getElementById('form').submit();
          }
          else {
            sessionStorage.setItem("taskProgressFOC","2");
            window.location.href = "../01-task-list-new";
          }
      }
    }
  }

  function toggleAll(){
    var panels = document.getElementsByClassName('detail');
    var toggleLink = document.getElementById('toggler');
    var icons = document.getElementsByClassName('icon');
    var targetState = "";
    var j=0;

    if (toggleLink.text == "Expand all"){
      targetState = "block";
      toggleLink.text = "Collapse all";
      for (var j = 0; j < icons.length; j++) {
        icons[j].classList.remove("govuk-accordion-nav__chevron--down");
        icons[j].classList.add("govuk-accordion-nav__chevron--up");
      }
    }
    else {
      targetState = "none";
      toggleLink.text = "Expand all";
      for (var j = 0; j < icons.length; j++) {
        icons[j].classList.remove("govuk-accordion-nav__chevron--up");
        icons[j].classList.add("govuk-accordion-nav__chevron--down");
      }
    }

    for(j=0; j < panels.length; j++){
      panels[j].style.display = targetState;
    }
  }

  var acc = document.getElementsByClassName("fact");
  var i,j;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      /* Toggle between hiding and showing the active panels */
      var icon = document.getElementById('icon-'+this.id);
      var panels = document.getElementsByClassName('details-'+this.id);
      console.log(panels.length);
      for(j=0;j < panels.length;j++){
        if (panels[j].style.display === "block") {
          panels[j].style.display = "none";
          icon.classList.remove("govuk-accordion-nav__chevron--up");
          icon.classList.add("govuk-accordion-nav__chevron--down");
        } else {
          panels[j].style.display = "block";
          icon.classList.remove("govuk-accordion-nav__chevron--down");
          icon.classList.add("govuk-accordion-nav__chevron--up");
        }
      }
    });
  }
</script>
{% endblock %}
