{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">




<form novalidation method="post">


  {{ govukRadios({
    name: "[timeline][events]",
    fieldset: {
      legend: {
        text: "Do you want to record any other items?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    value: data.events,
  items: [
    {
      value: "GP report (UC113) ",
      text: "GP report(UC113)"
    },
    {
      value: "Previous decision",
      text: "Previous decision"
    },
    {
      value: "Other fact",
      text: "Other fact"
    }, 

    {
      divider: "or"
    },
    {
      value: "abroad",
      text: "No"
    }
  ]
}) }}
    








{{ govukButton({
  text: "Continue"
}) }}

</form>

</div>
</div>

{% endblock %}

      
         
     
