{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">




<form novalidation method="post">
  
  <h1 class="govuk-heading-l">Which mandatory reconsideration decision is being appealed?</h1>
  
  <p class="govuk-body">The appellant first applied for Universal credit on 18 January 2018. <br> <br>

    Mandatory reconsideration decisions have been made on multiple dates.</p>
    
{{ govukRadios({
  name: "decisionunderappeal",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  value: data.decisionunderappeal,
  items: [
    {
      value: "18 November 2024",
      text: "18 November 2024"
    },
    {
      value: "10  March 2023",
      text: "10  March 2023"
    }, 

    {
      value: "1  September 2018",
      text: "1  September 2018"
    }
  ]
}) }}

  
  <a href="mr-decision.html" class="govuk-button" data-module="govuk-button" onclick="saveData()">
    Continue
  </a>


  
  </form>

</div>

</div>

{% endblock %}

{% block pageScripts %}

{% endblock %}