sc{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <form novalidation method="post">
    
    
    {% if data.decisionType === 'LCW' %}
      <h1 class="govuk-heading-l">Explain why the appellant can work without risk to themselves or others</h1>
    {% else %}
      <h1 class="govuk-heading-l">Explain why the appellant can do work-related activity without risk to themselves or others</h1>
    {% endif %}
      
  <p class="govuk-body"> You told us the appellant could do activities similar to:
    <ul class="govuk-list govuk-list--bullet">
      {% for work in typeOfWork %}
      <li>
        {{work}}
      </li>
      {% endfor %}
    </ul>
  </p>
  
    <p class="govuk-body"> Because they currently: </p>

    <ul class="govuk-list govuk-list--bullet">
      {% for fact in facts %}
      <li>
        {{fact}}

      </li>
      {% endfor %}     
    </ul>

    {{ govukTextarea({
      name: "moreDetail",
      id: "more-detail",
      label: {
        
      }
    }) }}

 {{ govukButton({
  text: "Continue"
 }) }}
</form>
</div>
</div>
{% endblock %}

//when they click continue - change to '2,copy to endblock

