
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Kate Rose')}}
{% endblock %}

{% block content %}
<a href="index" class="govuk-back-link">Back to appeal response</a>
<h1 class="govuk-heading-xl">Review response</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <ul class="govuk-list govuk-list--number">
        <li>
        <p><a href="#personal-details" class="govuk-link">Personal details</a></p>
        </li>
        <li>
          <p><a class="govuk-link" href="#evidence">Schedule of evidence</a></p>
        </li>
        <li>
          <p><a class="govuk-link" href="#decision">The decision</a></p>
        </li>
        <li>
          <p><a class="govuk-link" href="#facts">The facts of the case</a></p>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-l" id="personal-details">
          Section 1: Personal details
        </h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Appeal Tribunal Reference Number
              </dt>
              <dd class="govuk-summary-list__value">
                1234 1234 1234 1234
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Personal Details
              </dt>
              <dd class="govuk-summary-list__value">
                Mr. Jacob Abraham
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                72 Guild Street<br>London<br>SE23 6FH
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                National Insurance Number
              </dt>
              <dd class="govuk-summary-list__value">
                NINO1234234
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Benefit
              </dt>
              <dd class="govuk-summary-list__value">
                <p>UC Full Service Work</p>
                <p>Capability Assessment</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Benefit
              </dt>
              <dd class="govuk-summary-list__value">
                <p>UC Full Service Work</p>
                <p>Capability Assessment</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of Outcome Decision
              </dt>
              <dd class="govuk-summary-list__value">
                13 Arpil 2019
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of Outcome Decision Notified
              </dt>
              <dd class="govuk-summary-list__value">
                13 Arpil 2019
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of Mandatory Reconsideration Decision
              </dt>
              <dd class="govuk-summary-list__value">
                07 May 2019
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date Mandatory Reconsideration Notified
              </dt>
              <dd class="govuk-summary-list__value">
                07 May 2019
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of Appeal Request received by HMCTS
              </dt>
              <dd class="govuk-summary-list__value">
                23 July 2019
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of Appeal Request received by DWP
              </dt>
              <dd class="govuk-summary-list__value">
                07 August 2019
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Decision maker's name and address
              </dt>
              <dd class="govuk-summary-list__value">
                <p>Jane Doe</p>
                <p>1 Antartic avenue<br>
                Newcastle upon tyne<br>
                NE1 1EN<br>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address where documents for the decision maker may be sent or delivered
              </dt>
              <dd class="govuk-summary-list__value">
                <p>1 Atlantic quay<br>
                Glasgow<br>
                G2 8JB</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name and address of any other respondants and their representatives (if any)
              </dt>
              <dd class="govuk-summary-list__value">
                <p>1 Atlantic quay<br>
                Glasgow<br>
                G2 8JB</p>
              </dd>
            </div>
          </dl>
          <div class="govuk-!-margin-bottom-9" id="evidence">
          <h2 class="govuk-heading-l"> Section 2 : Schedule of evidence</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Document No.</th>
                <th scope="col" class="govuk-table__header">Date of document</th>
                <th scope="col" class="govuk-table__header">Date of receipt/issue</th>
                <th scope="col" class="govuk-table__header">Brief description of document</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">A-E</td>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell">Secretary of State's response</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">11/11/2021</td>
                <td class="govuk-table__cell">11/11/2021</td>
                <td class="govuk-table__cell">Document index</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">2-5</td>
                <td class="govuk-table__cell">03/12/2021</td>
                <td class="govuk-table__cell">03/12/2021</td>
                <td class="govuk-table__cell">Notification of appeals from HMCTS</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">6-10</td>
                <td class="govuk-table__cell">10/02/2022</td>
                <td class="govuk-table__cell">10/02/2022</td>
                <td class="govuk-table__cell">Document about earnings</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">11-19</td>
                <td class="govuk-table__cell">11/04/2022</td>
                <td class="govuk-table__cell">11/03/2022</td>
                <td class="govuk-table__cell">Decision maker's decision</td>
              </tr>
            </tbody>
          </table>
          </div>

          <div class="govuk-!-margin-bottom-9" id="decision">
          <h2 class="govuk-heading-l"> Section 3 : The decision</h2>
          <p>Mr Jacob scores <strong> 0 points </strong> for Daily Living and <strong> 0 points </strong> for Mobility so isn’t entitled to Personal Independence Payment at either rate for the Daily Living component or Mobility component from and including 03/07/2021.</p>
          </div>

          <div class="govuk-!-margin-bottom-9" id="facts">
          <h2 class="govuk-heading-l"> Section 4 : Issues rasied by the appeal</h2>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header ">1</th>
                <td class="govuk-table__cell govuk-!-width-three-quarters">
                  <h3 class="govuk-heading-s">Point raised by the appellant</h3>
                  <p>
                    The common sunflower (Helianthus annuus) is a large annual forb of the genus Helianthus grown as a crop for its edible oil and seeds. This sunflower species is also used as wild bird food, as livestock forage (as a meal or a silage plant), in some industrial applications, and as an ornamental in domestic gardens.
                  </p>
                  <h3 class="govuk-heading-s">DWP's response</h3>
                  <p>
                    The common sunflower (Helianthus annuus) is a large annual forb of the genus Helianthus grown as a crop for its edible oil and seeds. This sunflower species is also used as wild bird food, as livestock forage (as a meal or a silage plant), in some industrial applications, and as an ornamental in domestic gardens.
                  </p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">2</th>
                <td class="govuk-table__cell govuk-!-width-three-quarters">
                  <h3 class="govuk-heading-s">Point raised by the appellant</h3>
                  <p>
                    A rose is either a woody perennial flowering plant of the genus Rosa, in the family Rosaceae, or the flower it bears. There are over three hundred species and tens of thousands of cultivars.[citation needed] They form a group of plants that can be erect shrubs, climbing, or trailing, with stems that are often armed with sharp prickles.[citation needed] Their flowers vary in size and shape and are usually large and showy, in colours ranging from white through yellows and reds. Most species are native to Asia, with smaller numbers native to Europe, North America, and northwestern Africa.
                  </p>
                  <h3 class="govuk-heading-s">DWP's response</h3>
                  <p>
                    The common sunflower (Helianthus annuus) is a large annual forb of the genus Helianthus grown as a crop for its edible oil and seeds. This sunflower species is also used as wild bird food, as livestock forage (as a meal or a silage plant), in some industrial applications, and as an ornamental in domestic gardens.
                  </p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">3</th>
                <td class="govuk-table__cell govuk-!-width-three-quarters">
                  <h3 class="govuk-heading-s">Point raised by the appellant</h3>
                  <p>
                    Hibiscus[2][3] is a genus of flowering plants in the mallow family, Malvaceae. The genus is quite large, comprising several hundred species that are native to warm temperate, subtropical and tropical regions throughout the world. Member species are renowned for their large, showy flowers and those species are commonly known simply as "hibiscus", or less widely known as rose mallow. Other names include hardy hibiscus, rose of sharon, and tropical hibiscus.
                  </p>
                  <h3 class="govuk-heading-s">DWP's response</h3>
                  <p>
                    The common sunflower (Helianthus annuus) is a large annual forb of the genus Helianthus grown as a crop for its edible oil and seeds. This sunflower species is also used as wild bird food, as livestock forage (as a meal or a silage plant), in some industrial applications, and as an ornamental in domestic gardens.
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          </div>

          <div class="govuk-!-margin-bottom-9" id="conclusion">
          <h2 class="govuk-heading-l">Conclusion</h2>
          <p>
            The common sunflower (Helianthus annuus) is a large annual forb of the genus Helianthus grown as a crop for its edible oil and seeds. This sunflower species is also used as wild bird food, as livestock forage (as a meal or a silage plant), in some industrial applications, and as an ornamental in domestic gardens.
          </p>

          <h2 class="govuk-heading-m">The law for Universal Credit can be found at:</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <p>The Universal Credit, Personal Independence Payment, Jobseeker's Allowance and Employment and Support Allowance (Claims and Payments) Regulations 2013.
                <a href="#">http://www.legislation.gov.uk/uksi/2013/380/contents</a></p>
              </li>
              <li>
                <p>The Universal Credit, Personal Independence Payment, Jobseeker's Allowance and Employment and Support Allowance (Claims and Payments) Regulations 2013.
                <a href="#">http://www.legislation.gov.uk/uksi/2013/380/contents</a></p>
              </li>
              <li>
                <p>The Universal Credit, Personal Independence Payment, Jobseeker's Allowance and Employment and Support Allowance (Claims and Payments) Regulations 2013.
                <a href="#">http://www.legislation.gov.uk/uksi/2013/380/contents</a></p>
              </li>
              <li>
                <p>The Universal Credit, Personal Independence Payment, Jobseeker's Allowance and Employment and Support Allowance (Claims and Payments) Regulations 2013.
                <a href="#">http://www.legislation.gov.uk/uksi/2013/380/contents</a></p>
              </li>
              <li>
                <p>The Universal Credit, Personal Independence Payment, Jobseeker's Allowance and Employment and Support Allowance (Claims and Payments) Regulations 2013.
                <a href="#">http://www.legislation.gov.uk/uksi/2013/380/contents</a></p>
              </li>
              <li>
                <p>The Universal Credit, Personal Independence Payment, Jobseeker's Allowance and Employment and Support Allowance (Claims and Payments) Regulations 2013.
                <a href="#">http://www.legislation.gov.uk/uksi/2013/380/contents</a></p>
              </li>
            </ul>
            </div>

            <a href="12-sent-confirmation" class="govuk-button" data-module="govuk-button">
              Send response
            </a>
            <p><a href="index">Back to appeal response</a></p>

        </div>
  </div>

{% endblock %}
