
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Kate Rose')}}
{% endblock %}

{% block content %}
<a href="01-task-list-new" class="govuk-back-link">Back to appeal response</a>

  <div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-xl">The facts of the case</h2>
        <h3 class="govuk-heading-m">Introduction</h3>

        <p>
          On 12 December 2021, Jacob Abraham made a claim to Universal Credit (UC).
        </p>

        <p>
          On his initial declaration, he reported the following health conditions – Arthritis and High blood pressure which restricted her ability to work or to look for work. A verified fit note confirming these conditions was provided on 12 December 2021.
        </p>

        <p>
          On his initial declaration Jacob Abraham stated he suffered from the following health conditions: Back pain and Depression but stated they did not impact on his ability to work or to look for work. Subsequently on 27 March 2022, he provided a verified fit note recording the following health conditions: Back pain which restricted his ability to work or to look for work.
        </p>
    </div>
  </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

        <div class="govuk-button-group">
          <a class="govuk-button" href="13-08-facts">
            Continue to legacy claims
          </a>
          <a class="govuk-button govuk-button--secondary" href="#">
            Save and continue later
          </a>
        </div>
        <p><a href="index2">Back to appeal response</a></p>

    </div>
  </div>

{% endblock %}
