
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Kate Rose')}}
{% endblock %}

{% block content %}
<a href="01-task-list-new" class="govuk-back-link">Back to appeal response</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">The facts of the case</h2>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m">Preview the introduction of the facts</h3>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What conditions did the appellant report in the initial declaration?
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li>Arthritis</li>
                <li>High blood pressure</li>
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did the appellant declare any health conditions at IDOC that impacted their work?
            </dt>
            <dd class="govuk-summary-list__value">
              Health conditions that were declared at IDOC did not impact their work
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did the appellant subsequently declare any health conditions that impacted their work?
            </dt>
            <dd class="govuk-summary-list__value">
              No health conditions were declared that impact their work
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden"> contact information</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              When were the health conditions decalred?
            </dt>
            <dd class="govuk-summary-list__value">
              27 March 2022
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden"> contact information</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What were the conditions declared that impacted the appellant's ability to work?
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li>Back pain</li>
                <li>Depression</li>
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden"> contact information</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Generated response
            </dt>
            <dd class="govuk-summary-list__value">
              <p>
                On 12 December 2021, Jacob Abraham made a claim to Universal Credit (UC).
              </p>

              <p>
                On his initial declaration, he reported the following health conditions – Arthritis and High blood pressure which restricted her ability to work or to look for work. A verified fit note confirming these conditions was provided on 12 December 2021.
              </p>

              <p>
                On his initial declaration Jacob Abraham stated he suffered from the following health conditions: Back pain and Depression but stated they did not impact on his ability to work or to look for work. Subsequently on 27 March 2022, he provided a verified fit note recording the following health conditions: Back pain which restricted his ability to work or to look for work.
              </p>

            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Edit text manually
              </a>
            </dd>
          </div>
        </dl>

        <div class="govuk-button-group">
          <a class="govuk-button" href="13-07-facts">
            Save and continue
          </a>
        </div>

        <p><a href="index">Back to appeal response</a></p>

    </div>
  </div>

{% endblock %}
