
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Kate Rose')}}
{% endblock %}

{% block content %}
<a href="../index" class="govuk-back-link">Back to home</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Appeal response</h1>
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half">
                    Appellant details
                  </div>
                  <div class="govuk-grid-column-one-half align-right">
                    <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Auto populated</strong>
                    <strong class="govuk-tag govuk-tag--green app-task-list__tag govuk-!-margin-right-1" id="eligibility-status">Verified</strong>
                  </div>
                </div>
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <div class="govuk-inset-text govuk-!-padding-top-0 govuk-!-margin-top-0">
                  <p>
                    <strong class="govuk-tag govuk-tag--green">
                      Verified
                    </strong>
                  </p>
                  <p>These details were copied from HMCTS's CCD system and verified with SeachLite.</p>
                </div>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Kate Rose
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      5 January 1978
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      National Insurance Number
                    </dt>
                    <dd class="govuk-summary-list__value">
                      NI NO 12 34 45
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Contact information
                    </dt>
                    <dd class="govuk-summary-list__value">
                      72 Guild Street
                      <br>London
                      <br>SE23 6FH
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Contact details
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p>07700 900457</p>
                      <p>kate.rose@example.com</p>
                    </dd>
                  </div>
                </dl>
              </div>

              <div class="govuk-grid-column-one-third right-side-bar">
                <h4 class="govuk-heading-s">
                  Help section
                </h4>
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    This section could include some help text
                  </li>
                  <li>
                    That could help the appeal writers with the context and guidance
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half">
                    Representative details
                  </div>
                  <div class="govuk-grid-column-one-half align-right">
                    <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Auto populated</strong>
                    <strong class="govuk-tag govuk-tag--green app-task-list__tag govuk-!-margin-right-1" id="eligibility-status">Verified</strong>
                  </div>
                </div>
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <div class="govuk-inset-text">
                  <p>These details were copied from HMCTS's CCD system.</p>
                </div>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Jane Philips
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Relation with the appellant
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Sister
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Contact details
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p>07700 900457</p>
                      <p>jane.phillips@example.com</p>
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                      72 Guild Street
                      <br>London
                      <br>SE23 6FH
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half">
                    Appeal details
                  </div>
                  <div class="govuk-grid-column-one-half align-right">
                    <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Auto populated</strong>
                    <strong class="govuk-tag govuk-tag--green app-task-list__tag govuk-!-margin-right-1" id="eligibility-status">Verified</strong>
                  </div>
                </div>
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <div class="govuk-inset-text">
                  <p>
                    <strong class="govuk-tag govuk-tag--green">
                      Verified
                    </strong>
                  </p>
                  <p>These details were copied from HMCTS's CCD system and verified with UC Build.</p>
                </div>
                <h2 class="govuk-heading-m">MRN and appeal submission</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      MRN originating office
                    </dt>
                    <dd class="govuk-summary-list__value">
                      DWP PIP (1)
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of decision
                    </dt>
                    <dd class="govuk-summary-list__value">
                      10 February 2022
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date appeal submitted
                    </dt>
                    <dd class="govuk-summary-list__value">
                      11 March 2022
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Why appeal is late
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Hello, with that spelling, was used in publications in the U.S. as early as the 18 October 1826 edition of the Norwich Courier of Norwich, Connecticut.[1] Another early use was an 1833 American book called The Sketches and Eccentricities of Col. David Crockett, of West Tennessee,[2] which was reprinted that same year in The London Literary Gazette.[3] The word was extensively used in literature by the 1860s.
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      No MRN
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Not applicable
                    </dd>
                  </div>
                </dl>
                <h2 class="govuk-heading-m">Reason for appealing</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      What you disagree with
                    </dt>
                    <dd class="govuk-summary-list__value">
                      The use of hello as a telephone greeting has been credited to Thomas Edison; according to one source, he expressed his surprise with a misheard Hullo.
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Why you disagree with it
                    </dt>
                    <dd class="govuk-summary-list__value">
                      According to the Oxford English Dictionary, hello is an alteration of hallo, hollo,[1] which came from Old High German "halâ, holâ, emphatic imperative of halôn, holôn to fetch, used especially in hailing a ferryman".[5] It also connects the development of hello to the influence of an earlier form, holla, whose origin is in the French holà (roughly, 'whoa there!', from French là 'there').[6] As in addition to hello, halloo,[7] hallo, hollo, hullo and (rarely) hillo also exist as variants or related words, the word can be spelt using any of all five vowels.[8][9][10]

                      Telephone
                      The use of hello as a telephone greeting has been credited to Thomas Edison; according to one source, he expressed his surprise with a misheard Hullo.[11] Alexander Graham Bell initially used Ahoy (as used on ships) as a telephone greeting.[12][13] However, in 1877, Edison wrote to T. B. A. David, president of the Central District and Printing Telegraph Company of Pittsburgh:

                      Friend David, I do not think we shall need a call bell as Hello! can be heard 10 to 20 feet away. What you think? Edison - P.S. first cost of sender & receiver to manufacture is only $7.00.[11]
                      By 1889, central telephone exchange operators were known as 'hello-girls' because of the association between the greeting and the telephone.[13][14]

                      Hullo
                      Hello might be derived from an older spelling variant, hullo, which the American Merriam-Webster dictionary describes as a "chiefly British variant of hello",[15] and which was originally used as an exclamation to call attention, an expression of surprise, or a greeting. Hullo is found in publications as early as 1803.[16] The word hullo is still in use, with the meaning hello.[17][18][19][20][21]

                      Hallo and hollo
                      "Hallo" redirects here. For other uses, see Hallo (disambiguation).
                      Hello is alternatively thought to come from the word hallo (1840) via hollo (also holla, holloa, halloo, halloa).[22] The definition of hollo is to shout or an exclamation originally shouted in a hunt when the quarry was spotted:[23]

                      If I fly, Marcius,/Halloo me like a hare.

                      — Coriolanus (I.viii.7), William Shakespeare
                      Fowler's has it that "hallo" is first recorded "as a shout to call attention" in 1864.[24] It is used by Samuel Taylor Coleridge's famous poem The Rime of the Ancient Mariner written in 1798:

                      And the good south wind still blew behind,
                      But no sweet bird did follow,
                      Nor any day for food or play

                      Came to the mariners' hollo!
                      In many Germanic languages, including German, Danish, Norwegian, Dutch and Afrikaans, "hallo" literally translates into English as "hello". In the case of Dutch, it was used as early as 1797 in a letter from Willem Bilderdijk to his sister-in-law as a remark of astonishment.[25]
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Anything else you want to tell the tribunal
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Not provided
                    </dd>
                  </div>

                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half">
                    Schedule of evidence
                  </div>
                  <div class="govuk-grid-column-one-half align-right">
                    <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Auto populated</strong>
                    <strong class="govuk-tag govuk-tag--green app-task-list__tag govuk-!-margin-right-1" id="eligibility-status">Verified</strong>
                  </div>
                </div>
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <div class="govuk-inset-text">
                  <p>These details were copied from UC Build.</p>
                </div>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      01/01/2019
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Claim recieved
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      13/09/2019
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Claim denied
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      24/11/2019
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Mandatory reconsideration raised
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      13/01/2020
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Mandatory reconsideration notice sent
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      19/03/2020
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Appeal raised
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      27/05/2020
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Additional evidence recieved
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half">
                    Facts of the case
                  </div>
                  <div class="govuk-grid-column-one-half align-right">
                    <strong class="govuk-tag govuk-tag--grey">
                      not started
                    </strong>
                  </div>
                </div>
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
              <h3 class="govuk-heading-m">Introduction</h3>

              <p>
                On 12 December 2021, Jacob Abraham made a claim to Universal Credit (UC).
              </p>

              <p>
                On his initial declaration, he reported the following health conditions – Arthritis and High blood pressure which restricted her ability to work or to look for work. A verified fit note confirming these conditions was provided on 12 December 2021.
              </p>

              <p>
                On his initial declaration Jacob Abraham stated he suffered from the following health conditions: Back pain and Depression but stated they did not impact on his ability to work or to look for work. Subsequently on 27 March 2022, he provided a verified fit note recording the following health conditions: Back pain which restricted his ability to work or to look for work.
              </p>

              <h3 class="govuk-heading-m">Legacy claims</h3>

              <p>
                The Tribunal may wish to note that Jacob Abraham was previously in receipt of Employment and Support Allowance (ESA) with the Work Related Activity Component/Support Component. This award ended on 27 April 2017 following a determination that Jacob Abraham did not have LCW OR was treated as not having LCW.
              </p>

              <a class="govuk-button govuk-button--secondary" href="#">
                Add more facts
              </a>
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half">
                    Decision under appeal
                  </div>
                  <div class="govuk-grid-column-one-half align-right">
                    <strong class="govuk-tag govuk-tag--grey">
                      Not started
                    </strong>
                  </div>
                </div>
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-m">Decision under appeal dated 25/03/2022</h3>

                <div class="govuk-form-group">
                  <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--s" for="more-detail">
                      What is your decision?
                    </label>
                  </h1>
                  <div id="more-detail-hint" class="govuk-hint">
                    Do not include personal or financial information, like your National Insurance number or credit card details.
                  </div>
                  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10" aria-describedby="more-detail-hint"></textarea>
                </div>

                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Previous decisions
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                      <div class="govuk-!-margin-bottom-9">
                        <h3 class="govuk-heading-m">Original decision details</h3>
                        <p><strong>14/02/2021</strong></p>
                        <p>On 12/01/2022 The common sunflower (Helianthus annuus) is a large annual forb of the genus Helianthus grown as a crop for its edible oil and seeds. This sunflower species is also used as wild bird food, as livestock forage (as a meal or a silage plant), in some industrial applications, and as an ornamental in domestic gardens.</p>
                      </div>
                      <div class="govuk-!-margin-bottom-9">
                        <h3 class="govuk-heading-m">Supersession decision details (Mandatory reconsideration)</h3>
                        <p><strong>14/07/2021</strong></p>
                        <p>On 12/01/2022 The common sunflower (Helianthus annuus) is a large annual forb of the genus Helianthus grown as a crop for its edible oil and seeds. This sunflower species is also used as wild bird food, as livestock forage (as a meal or a silage plant), in some industrial applications, and as an ornamental in domestic gardens.</p>
                      </div>
                  </div>
                </details>
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half">
                    Points appellant has raised and responses
                  </div>
                  <div class="govuk-grid-column-one-half align-right">
                    <strong class="govuk-tag govuk-tag--blue">
                      In progress
                    </strong>
                  </div>
                </div>
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <p>Add all the points raised by the appellant. You will then be able to either agree or disagree with each point and write your response to them.</p>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      1
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <h3 class="govuk-heading-s">Point raised by the appellant</h3>
                        <strong class="govuk-tag govuk-!-margin-bottom-3">
                          Responded
                        </strong>
                      <p>
                        The common sunflower (Helianthus annuus) is a large annual forb of the genus Helianthus grown as a crop for its edible oil and seeds. This sunflower species is also used as wild bird food, as livestock forage (as a meal or a silage plant), in some industrial applications, and as an ornamental in domestic gardens.
                      </p>
                      <h3 class="govuk-heading-s ">Response</h3>
                      <p class="govuk-!-padding-bottom-5">
                        The common sunflower (Helianthus annuus) is a large annual forb of the genus Helianthus grown as a crop for its edible oil and seeds. This sunflower species is also used as wild bird food, as livestock forage (as a meal or a silage plant), in some industrial applications, and as an ornamental in domestic gardens.
                      </p>
                      <div class="govuk-button-group">
                        <a class="govuk-button govuk-button--secondary" href="/single-page-accordion/08-01-response">
                          Edit response
                        </a>
                        <a class="govuk-link" href="/single-page-accordion/08-01-response">
                          Edit this point
                        </a>
                      </div>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      2
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <h3 class="govuk-heading-s">Point raised by the appellant</h3>
                        <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-3">
                          Not responded
                        </strong>
                      <p class="govuk-!-padding-bottom-5">
                        A rose is either a woody perennial flowering plant of the genus Rosa, in the family Rosaceae, or the flower it bears. There are over three hundred species and tens of thousands of cultivars.[citation needed] They form a group of plants that can be erect shrubs, climbing, or trailing, with stems that are often armed with sharp prickles.[citation needed] Their flowers vary in size and shape and are usually large and showy, in colours ranging from white through yellows and reds. Most species are native to Asia, with smaller numbers native to Europe, North America, and northwestern Africa.
                      </p>
                      <div class="govuk-button-group">
                        <a class="govuk-button govuk-button--secondary" href="/single-page-accordion/08-01-response">
                          Respond to this point
                        </a>
                        <a class="govuk-link" href="/single-page-accordion/08-01-response">
                          Edit this point
                        </a>
                      </div>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      3
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <h3 class="govuk-heading-s">Point raised by the appellant</h3>
                        <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-3">
                          Not responded
                        </strong>
                      <p class="govuk-!-padding-bottom-5">
                        Hibiscus[2][3] is a genus of flowering plants in the mallow family, Malvaceae. The genus is quite large, comprising several hundred species that are native to warm temperate, subtropical and tropical regions throughout the world. Member species are renowned for their large, showy flowers and those species are commonly known simply as "hibiscus", or less widely known as rose mallow. Other names include hardy hibiscus, rose of sharon, and tropical hibiscus.
                      </p>
                      <div class="govuk-button-group">
                        <a class="govuk-button govuk-button--secondary" href="/single-page-accordion/08-01-response">
                          Respond to this point
                        </a>
                        <a class="govuk-link" href="/single-page-accordion/08-01-response">
                          Edit this point
                        </a>
                      </div>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">

                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-padding-top-5">
                      <div class="govuk-button-group">
                        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                          Add another point
                        </button>
                      </div>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="govuk-button-group">
        <a class="govuk-button" href="11-review">
          Preview and send response
        </a>
        <a class="govuk-button govuk-button--secondary" href="#">
          Save as draft
        </a>
        <a class="govuk-button govuk-button--secondary" href="#">
          Preview response
        </a>
      </div>
      <p><a href="../">Back to home</a></p>

    </div>
  </div>

{% endblock %}
