
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jacob Abraham')}}
{% endblock %}

{% block content %}
<a href="../" class="govuk-back-link">Back to home</a>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-9">
                <h1 class="govuk-panel__title">
                  Response sent
                </h1>
              </div>

              <h2 class="govuk-heading-m">What happens next</h2>

              <p class="govuk-body">
                We’ve sent the response to HMCTS.
              </p>
              <p class="govuk-body">
                We’ve also sent the response to Xerox system. Xerox will then print the response and send to the appellant.
              </p>
            </div>
          </div>
        </main>
        </div>

    </div>
  </div>

{% endblock %}
