
{% extends "dwp-layout.html" %}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/full-width-layout.css" media="all" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/public/javascripts/filter.js">
  </script>
{% endblock %}

{% block pageTitle %}
  Manage an Appeal : Design evolution
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Appeal response designs evolution
      </h1>
    </div>
  </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l">
          Iterations
        </h2>
        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Filter by user need
          </label>
          <select class="govuk-select" id="filter" name="filter" onchange="filterExperiment()">
            <option value="published" selected>All</option>
            <option value="1" >Pause and resume</option>
            <option value="2">High value activities</option>
            <option value="3">Avoid unnessary tasks</option>
            <option value="3">Contents of a response</option>
            <option value="3">Best use of DWP info</option>
          </select>
        </div>
      <table class="govuk-table" id="designIterations">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Experiment / Hypotheses</th>
            <th scope="col" class="govuk-table__header ">What's changed or new</th>
            <th scope="col" class="govuk-table__header ">Decisions / Next steps</th>
            <th scope="col" class="govuk-table__header ">Evidence</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-width-one-quarter">
              <p>
                <a href="./s07-home-page">
                  <strong>Home page</strong>
                </a>
              </p>
              <p>Sprint 07</p>
              <p>PrepareAnAppealResponse_v1.0</p>
              <p>
                <span class="govuk-tag govuk-tag--grey">Pause and resume</span>
              </p>
            </td>
            <td class="govuk-table__cell govuk-!-width-one-quarter">
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  A home page to start the journey
                </li>
                <li>
                  A list of previously created appeal responses
                </li>
              </ul>
            </td>
            <td class="govuk-table__cell govuk-!-width-one-quarter">
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  Users found it valuable to see the things they have worked on and they can re-visit there in progress work
                </li>
                <li>
                  We will continue to include this page in the future iterations
                </li>
              </ul>
            </td>
            <td class="govuk-table__cell govuk-!-width-one-quarter">
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  Tested with 2 users
                </li>
                <li>
                    List-based presentation of work items was familiar to both Ps.
                </li>
                <li>
                  Positive feedback as they are already used to something similar for their current workflow.
                </li>
              </ul>
            </td>
          </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <p>
                  <a href="./s07-auto-populate">
                    <strong>Auto-populate</strong>
                  </a>
                </p>
                <p>Sprint 07</p>
                <p>PrepareAnAppealResponse_v1.0</p>
                <p>
                  <span class="govuk-tag govuk-tag--grey">High value activities</span>
                </p>
                <p>
                  <span class="govuk-tag govuk-tag--grey">Avoid unnessary tasks</span>
                </p>
                <p>
                  <span class="govuk-tag govuk-tag--grey">Contents of a response</span>
                </p>
                <p>
                  <span class="govuk-tag govuk-tag--grey">Best use of DWP info</span>
                </p>
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                      Auto-population of existing data to result in avoiding duplication, reducing human error, being more efficient.
                  </li>
                </ul>
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    TBD
                  </li>
                  <li>
                    We will continue to include this page in the future iterations
                  </li>
                </ul>
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    Tested with 2 users
                  </li>
                  <li>
                      List-based presentation of work items was familiar to both Ps.
                  </li>
                  <li>
                      Positive feedback as they are already used to something similar for their current workflow.
                  </li>
                </ul>
              </td>
            </tr>

        </tbody>
      </table>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-m">
      Important links
    </h3>
    <p>
      <a href="../" >The latest version of prototype</a>
    </p>
    <p>
      <a href="../user-needs/" >User needs</a>
    </p>
  </div>
<div>

{% endblock %}
