
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/headerWithDOB/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName, 'Jane Doe','5 June 1979')}}
{% endblock %}

{% block content %}
<a href="../index" class="govuk-back-link">Back to home</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Select the decision type</h1>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="NoLCW" name="decisionType" type="radio" value="NoLCW">
              <label class="govuk-label govuk-radios__label" for="NoLCW">
                No LCW
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="NoLCWRA" name="decisionType" type="radio" value="NoLCWRA">
              <label class="govuk-label govuk-radios__label" for="NoLCWRA">
                LCW not LCWRA
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="FTA" name="decisionType" type="radio" value="FTA">
              <label class="govuk-label govuk-radios__label" for="FTA">
                FTA (failure to attend)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="backdatingLCWRA" name="decisionType" type="radio" value="backdatingLCWRA">
              <label class="govuk-label govuk-radios__label" for="backdatingLCWRA">
                Backdating LCWRA
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="CA" name="decisionType" type="radio" value="CA">
              <label class="govuk-label govuk-radios__label" for="CA">
                Carer's Allowance run on
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="period" name="decisionType" type="radio" value="period">
              <label class="govuk-label govuk-radios__label" for="period">
                Relevant period
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="FTRQ" name="decisionType" type="radio" value="FTRQ">
              <label class="govuk-label govuk-radios__label" for="FTRQ">
                FTRQ (failure to return questionare)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="LCWRAtoLCW" name="decisionType" type="radio" value="LCWRAtoLCW">
              <label class="govuk-label govuk-radios__label" for="LCWRAtoLCW">
                Previous LCWRA, now LCW
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="LCWRAnoLCW" name="decisionType" type="radio" value="LCWRAnoLCW">
              <label class="govuk-label govuk-radios__label" for="LCWRAnoLCW">
                Previous LCWRA, now no LCW
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="TP" name="decisionType" type="radio" value="TP">
              <label class="govuk-label govuk-radios__label" for="TP">
                Transitional protection
              </label>
            </div>
          </div>
        </fieldset>
      </div>



        <div class="govuk-button-group">
          <a class="govuk-button" data-module="govuk-button" href="04-data-needed.html">
            Continue
          </a>
        </div>
        <div class="govuk-link">
          <a href="/index.html">Cancel this response</a>
        </div>

    </div>
  </div>

{% endblock %}
