{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}
  {% set randomID = range(1, 99999) | random %}

    <form novalidation method="post">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          
       
    <h1 class="govuk-heading-l">Justify the descriptor points awarded for 
      Lower limbs activities</h1>

      
      {{ govukTextarea({
    
        name: "[timeline][section52][lowerlimb][" + randomID + "][document]",
        classes: "govuk-input--width-20",
        id: "[timeline][section52][document]",
        rows: "1",        
        label: {
          text: "Which document are you taking evidence from?"
        },
        value: data.timeline.section52.lowerlimb[randomID].document

      }) }}

      {{ govukInput({
        label: {
          text: "Which page does the evidence start on?"
        },
        classes: "govuk-input--width-3",
        id: "[timeline][section52][lowerlimb][page]",
        name: "[timeline][section52][lowerlimb][" + randomID +"][page]",
        value: data.timeline.section52.lowerlimb[randomID].page
        
      }) }}

      <h1 class="govuk-heading-s">Provide evidence from this document, showing the appellant could do 
        one or more of the following:</h1>

      <ul class="govuk-list govuk-list--bullet">
        <li>Mobilise more than 200 metres on level ground, unaided, without stopping, and repeatedly within a reasonable timescale.</li>
        <li>Most of the time they can remain at a workstation for more than an hour (either standing unaided, sitting, or both)</li>        
      </ul>

      {{ govukTextarea({
        name: "[timeline][section52][lowerlimb][" + randomID + "][evidence]",
        id: "[timeline][section52][evidence]",
        rows: "4",        
        value: data.timeline.section52.lowerlimb[randomID].evidence
      }) }}

      
    
      {{ govukButton({
        text: "Continue"
      }) }}

    </div>
    <div class="govuk-grid-column-one-third">
      
    </div>
    </div>
      </form>
    
    {% endblock %}

    {% block pageScripts %}
<script type="text/javascript">
  function saveData(){
    sessionStorage.setItem("taskProgressPoints","2");
    console.log("========= ");
    document.getElementById("representativedetails").submit();
  }

</script>
{% endblock %}