{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <form novalidation method="post">

        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Review added evidence
            </h1>
          </legend>

<!-- BEGIN lowerlimb -->
        {% set lowerLimbRows = [] %}
        {% for randomID, item in data.timeline.section52.lowerlimb %}
          {% if (item.document and item.page and item.evidence) %}
          
            {% set lowerLimbRows = (lowerLimbRows.push({
              key: {
                text: "Evidence"
              },
              value: {
                text: data.timeline.section52.lowerlimb[randomID].evidence
              },
              actions: {
                items: [
                  {
                    href: "/timeline/section52/add-evidence",
                    text: "Change",
                    visuallyHiddenText: "address"
                  },
                  {
                    href: "#",
                    text: "Remove",
                    visuallyHiddenText: "address"
                  }
                ]
              }
            }), lowerLimbRows) %}

            {% set lowerLimbRows = (lowerLimbRows.push({ 
              key: {
                text: "Source"
              },
              value: {
                text: data.timeline.section52.lowerlimb[randomID].document + ', page ' + data.timeline.section52.lowerlimb[randomID].page
              }
            }), lowerLimbRows) %}

          {% endif %}
        {% endfor %}

        {% if data.timeline.section52.lowerlimb %}
        {{ govukSummaryList({
            card: {
              title: {
                text: "Lower limbs"              
            },
            actions: {
              items: []
            }
          },
          rows: lowerLimbRows
        }) }}
        {% endif %}
<!-- END lowerlimb -->
        
<!-- BEGIN upperlimb -->


{% set upperlimbRows = [] %}
{% for randomID, item in data.timeline.section52.upperlimb %}
  {% if (item.document and item.page and item.evidence) %}
  
    {% set upperlimbRows = (upperlimbRows.push({
      key: {
        text: "Evidence"
      },
      value: {
        text: data.timeline.section52.upperlimb[randomID].evidence
      },
      actions: {
        items: [
          {
            href: "/timeline/section52/add-evidence",
            text: "Change",
            visuallyHiddenText: "address"
          },
          {
            href: "#",
            text: "Remove",
            visuallyHiddenText: "address"
          }
        ]
      }
    }), upperlimbRows) %}

    {% set upperlimbRows = (upperlimbRows.push({ 
      key: {
        text: "Source"
      },
      value: {
        text: data.timeline.section52.upperlimb[randomID].document + ', page ' + data.timeline.section52.upperlimb[randomID].page
      }
    }), upperlimbRows) %}


  {% endif %}
{% endfor %}

{% if data.timeline.section52.upperlimb %}
{{ govukSummaryList({
    card: {
      title: {
        text: "Upper limbs"              
    },
    actions: {
      items: []
    }
  },
  rows: upperlimbRows
}) }}
{% endif %}
<!-- END upperlimb -->


  <div class="govuk-button-group">
  <a href="/timeline/section52V2/activities" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Add more evidence
  </a>   
        <!-- when they click continue - change to '2,copy to endblock -->
  <button class="govuk-button" data-module="govuk-button" onclick="saveData()">
    Continue
  </button>
  </div>
</form>
</div>
</div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  function saveData(){
    sessionStorage.setItem("taskProgressPoints","2");
    console.log("========= ");
    document.getElementById("points").submit();
  }

</script>
{% endblock %}



