
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block content %}
<a href="../index" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Decision type</h1>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="Select a template">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="lcw" name="decisionType" type="radio" value="No limited capability for work (LCW)" aria-describedby="Select this template with health conditions not declared at IODC">
                <label class="govuk-label govuk-radios__label" for="lcw">
                  No limited capability for work (LCW)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="lcwra" name="decisionType" type="radio" value="Limited capability for work (LCW) but not limited capability for work related activity (LCWRA)" aria-describedby="Select this template with health conditions declared at IODC but had no impact on work">
                <label class="govuk-label govuk-radios__label" for="lcwra">
                  Limited capability for work (LCW) but not limited capability for work related activity (LCWRA)
                </label>
              </div>
            </div>

          </fieldset>
        </div>
        <div class="govuk-button-group">
          <button class="govuk-button" id="addButton" onclick="saveData()">
            Continue
          </button>
        </div>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', (event) => {
    const radioButtons = document.querySelectorAll('input[name="decisonType"]');
    for(const radioButton of radioButtons){
      if(radioButton.value == sessionStorage.getItem("decisonType")){
        radioButton.checked = true;
      }
    }
  });

  function saveData(){
    const radioButtons = document.querySelectorAll('input[name="decisonType"]');
    for(const radioButton of radioButtons){
      if(radioButton.checked){
        sessionStorage.setItem("decisonType",radioButton.value);
      }
    }
    window.location.href = "01-task-list-new.html";
  }
</script>
{% endblock %}
