
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName, 'Sarah Phillips')}}
{% endblock %}

{% block content %}
<a href="index" class="govuk-back-link">Back to appeal response</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">The facts of the case</h2>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m">Preview the legacy claims</h3>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Does the appellant have any legacy claim?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              When did the legacy award end?
            </dt>
            <dd class="govuk-summary-list__value">
              27 April 2017
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
                <span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Generated response
            </dt>
            <dd class="govuk-summary-list__value">
              <p>
                The Tribunal may wish to note that Jacob Abraham was previously in receipt of Employment and Support Allowance (ESA) with the Work Related Activity Component/Support Component. This award ended on 27 April 2017 following a determination that Jacob Abraham did not have LCW OR was treated as not having LCW.
              </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Edit text manually
              </a>
            </dd>
          </div>
        </dl>

        <div class="govuk-button-group">
          <a class="govuk-button" href="13-11-facts">
            Save and continue
          </a>
        </div>

        <p><a href="index">Back to appeal response</a></p>

    </div>
  </div>

{% endblock %}
