
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<header class="govuk-header dwp-header" data-module="govuk-header">
<div class=" govuk-width-container ">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="../" class="govuk-header__link govuk-header__link--service-name">
            {{serviceName}}
        </a>
    </div>
    <div class="govuk-grid-column-one-third dwp-header__container--action">
        <a href="#" class="govuk-header__link action">
            John Doe
        </a>
    </div>
</div>
</div>
<section class="dwp-key-details-bar " aria-label="Key details">
<div class="dwp-key-details-bar__key-details">
<dl class="dwp-key-details-bar__top-block">
    <dt class="govuk-visually-hidden">Name:</dt>
    <dd class="dwp-key-details-bar__primary">Sarah Phillips</dd>
    <dt class="govuk-visually-hidden">Nino:</dt>
    <dd class="dwp-key-details-bar__secondary">3219-2349-1235-2872</dd>
    <dt class="govuk-visually-hidden">Claim status:</dt>
    <dd class="govuk-table__cell dwp-key-details-bar__status">
        <strong class="govuk-tag govuk-tag--grey">
            draft (saved)
        </strong>
    </dd>
</dl>
<dl class="dwp-key-details-bar__bottom-block">
    <dt>Date of birth:</dt>
    <dd>4 June 1972</dd>
    <dt>Language:</dt>
    <dd>Welsh speaker</dd>
</dl>
</div>
</section>
</header>
{% endblock %}

{% block content %}
<a href="../index" class="govuk-back-link">Back to home</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Appellant</h2>
          </div>
          <div class="govuk-grid-column-one-third align-right">
            <a href="#" class="govuk-link">Edit</a>
          </div>
        </div>

        <div class="govuk-inset-text">
          <p>
            <strong class="govuk-tag govuk-tag--green">
              Verified
            </strong>
          </p>
          <p>These details were copied from HMCTS's CCD system and verified with SeachLite.</p>
        </div>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Sarah Philips
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              5 January 1978
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact information
            </dt>
            <dd class="govuk-summary-list__value">
              72 Guild Street
              <br>London
              <br>SE23 6FH
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              <p>07700 900457</p>
              <p>sarah.phillips@example.com</p>
            </dd>
          </div>
        </dl>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Representative</h2>
          </div>
          <div class="govuk-grid-column-one-third align-right">
            <a href="#" class="govuk-link">Edit</a>
          </div>
        </div>
        <div class="govuk-inset-text">
          <p>These details were copied from HMCTS's CCD system.</p>
        </div>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Jane Philips
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Relation with the appellant
            </dt>
            <dd class="govuk-summary-list__value">
              Sister
            </dd>
          </div>
        </dl>


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Appeal details</h2>
          </div>
          <div class="govuk-grid-column-one-third align-right">
            <a href="#" class="govuk-link">Edit</a>
          </div>
        </div>
        <div class="govuk-inset-text">
          <p>
            <strong class="govuk-tag govuk-tag--green">
              Verified
            </strong>
          </p>
          <p>These details were copied from HMCTS's CCD system and verified with UC Build.</p>
        </div>
        <h2 class="govuk-heading-m">MRN and appeal submission</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              MRN originating office
            </dt>
            <dd class="govuk-summary-list__value">
              DWP PIP (1)
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of decision
            </dt>
            <dd class="govuk-summary-list__value">
              10 February 2022
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date appeal submitted
            </dt>
            <dd class="govuk-summary-list__value">
              11 March 2022
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Why appeal is late
            </dt>
            <dd class="govuk-summary-list__value">
              Hello, with that spelling, was used in publications in the U.S. as early as the 18 October 1826 edition of the Norwich Courier of Norwich, Connecticut.[1] Another early use was an 1833 American book called The Sketches and Eccentricities of Col. David Crockett, of West Tennessee,[2] which was reprinted that same year in The London Literary Gazette.[3] The word was extensively used in literature by the 1860s.
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              No MRN
            </dt>
            <dd class="govuk-summary-list__value">
              Not applicable
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Reason for appealing</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What you disagree with
            </dt>
            <dd class="govuk-summary-list__value">
              The use of hello as a telephone greeting has been credited to Thomas Edison; according to one source, he expressed his surprise with a misheard Hullo.
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Why you disagree with it
            </dt>
            <dd class="govuk-summary-list__value">
              According to the Oxford English Dictionary, hello is an alteration of hallo, hollo,[1] which came from Old High German "halâ, holâ, emphatic imperative of halôn, holôn to fetch, used especially in hailing a ferryman".[5] It also connects the development of hello to the influence of an earlier form, holla, whose origin is in the French holà (roughly, 'whoa there!', from French là 'there').[6] As in addition to hello, halloo,[7] hallo, hollo, hullo and (rarely) hillo also exist as variants or related words, the word can be spelt using any of all five vowels.[8][9][10]

              Telephone
              The use of hello as a telephone greeting has been credited to Thomas Edison; according to one source, he expressed his surprise with a misheard Hullo.[11] Alexander Graham Bell initially used Ahoy (as used on ships) as a telephone greeting.[12][13] However, in 1877, Edison wrote to T. B. A. David, president of the Central District and Printing Telegraph Company of Pittsburgh:

              Friend David, I do not think we shall need a call bell as Hello! can be heard 10 to 20 feet away. What you think? Edison - P.S. first cost of sender & receiver to manufacture is only $7.00.[11]
              By 1889, central telephone exchange operators were known as 'hello-girls' because of the association between the greeting and the telephone.[13][14]

              Hullo
              Hello might be derived from an older spelling variant, hullo, which the American Merriam-Webster dictionary describes as a "chiefly British variant of hello",[15] and which was originally used as an exclamation to call attention, an expression of surprise, or a greeting. Hullo is found in publications as early as 1803.[16] The word hullo is still in use, with the meaning hello.[17][18][19][20][21]

              Hallo and hollo
              "Hallo" redirects here. For other uses, see Hallo (disambiguation).
              Hello is alternatively thought to come from the word hallo (1840) via hollo (also holla, holloa, halloo, halloa).[22] The definition of hollo is to shout or an exclamation originally shouted in a hunt when the quarry was spotted:[23]

              If I fly, Marcius,/Halloo me like a hare.

              — Coriolanus (I.viii.7), William Shakespeare
              Fowler's has it that "hallo" is first recorded "as a shout to call attention" in 1864.[24] It is used by Samuel Taylor Coleridge's famous poem The Rime of the Ancient Mariner written in 1798:

              And the good south wind still blew behind,
              But no sweet bird did follow,
              Nor any day for food or play

              Came to the mariners' hollo!
              In many Germanic languages, including German, Danish, Norwegian, Dutch and Afrikaans, "hallo" literally translates into English as "hello". In the case of Dutch, it was used as early as 1797 in a letter from Willem Bilderdijk to his sister-in-law as a remark of astonishment.[25]
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Anything else you want to tell the tribunal
            </dt>
            <dd class="govuk-summary-list__value">
              Not provided
            </dd>
          </div>

        </dl>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Schedule of events</h2>
          </div>
          <div class="govuk-grid-column-one-third align-right">
            <a href="#" class="govuk-link">Edit</a>
          </div>
        </div>

        <div class="govuk-inset-text">
          <p>These details were copied from UC Build.</p>
        </div>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              01/01/2019
            </dt>
            <dd class="govuk-summary-list__value">
              Claim recieved
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              13/09/2019
            </dt>
            <dd class="govuk-summary-list__value">
              Claim denied
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              24/11/2019
            </dt>
            <dd class="govuk-summary-list__value">
              Mandatory reconsideration raised
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              13/01/2020
            </dt>
            <dd class="govuk-summary-list__value">
              Mandatory reconsideration notice sent
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              19/03/2020
            </dt>
            <dd class="govuk-summary-list__value">
              Appeal raised
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              27/05/2020
            </dt>
            <dd class="govuk-summary-list__value">
              Additional evidence recieved
            </dd>
          </div>
        </dl>


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Illness and disabilities</h2>
          </div>
          <div class="govuk-grid-column-one-third align-right">
            <a href="#" class="govuk-link">Edit</a>
          </div>
        </div>
        <div class="govuk-inset-text">
          These details were copied from UC Build.
        </div>

        <p>Mr. Jacob has:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Arthritis in both knees</li>
          <li>Depression</li>
          <li>Anxiety</li>
        </ul>
        <h2 class="govuk-heading-m">Facts</h2>
        <p>A full history and details of current medical treatment can be found at page 21. This includes medication levels and levels of specialist input.</p>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              17/10/2020
            </dt>
            <dd class="govuk-summary-list__value">
              Mr. Jacob is entitled to UC.
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              17/09/2021
            </dt>
            <dd class="govuk-summary-list__value">
              The common sunflower (Helianthus annuus) is a large annual forb of the genus Helianthus grown as a crop for its edible oil and seeds
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              24/11/2021
            </dt>
            <dd class="govuk-summary-list__value">
              Called to raise an MR - MR Raised
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              17/01/2022
            </dt>
            <dd class="govuk-summary-list__value">
              A common misconception is that flowering sunflower heads track the Sun across the sky. Although immature flower buds exhibit this behaviour, the mature flowering heads point in a fixed (and typically easterly) direction throughout the day.[7][8] This old misconception was disputed in 1597 by the English botanist John Gerard, who grew sunflowers in his famous herbal garden: "[some] have reported it to turn with the Sun, the which I could never observe, although I have endeavored to find out the truth of it."[9] The uniform alignment of sunflower heads in a field might give some people the false impression that the flowers are tracking the Sun.

              This alignment results from heliotropism in an earlier development stage, the young flower stage, before full maturity of flower heads (anthesis).[10] Young sunflowers orient themselves in the direction of the sun. At dawn the head of the flower faces east and moves west throughout the day. When sunflowers reach full maturity they no longer follow the sun, and continuously face east. Young flowers reorient overnight to face east in anticipation of the morning. Their heliotropic motion is a circadian rhythm, synchronized by the sun, which continues if the sun disappears on cloudy days or if plants are moved to constant light.[11] They are able to regulate their circadian rhythm in response to the blue-light emitted by a light source.[11] If a sunflower plant in the bud stage is rotated 180°, the bud will be turning away from the sun for a few days, as resynchronization with the sun takes time.[12]

              When growth of the flower stalk stops and the flower is mature, the heliotropism also stops and the flower faces east from that moment onward. This eastward orientation allows rapid warming in the morning and, as a result, an increase in pollinator visits.[11] Sunflowers do not have a pulvinus below their inflorescence. A pulvinus is a flexible segment in the leaf stalks (petiole) of some plant species and functions as a 'joint'. It effectuates leaf motion due to reversible changes in turgor pressure, which occurs without growth. The sensitive plant's closing leaves are a good example of reversible leaf movement via pulvinuli.
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-l">Points appellant has raised and responses</h2>
        <p>Add all the points raised by the appellant. You will then be able to either agree or disagree with each point and write your response to them.</p>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              1
            </dt>
            <dd class="govuk-summary-list__value">
              <h3 class="govuk-heading-s">Point raised by the appellant</h3>
              <p>
                The common sunflower (Helianthus annuus) is a large annual forb of the genus Helianthus grown as a crop for its edible oil and seeds. This sunflower species is also used as wild bird food, as livestock forage (as a meal or a silage plant), in some industrial applications, and as an ornamental in domestic gardens.
              </p>
              <h3 class="govuk-heading-s ">Response</h3>
              <p class="govuk-!-padding-bottom-5">
                The common sunflower (Helianthus annuus) is a large annual forb of the genus Helianthus grown as a crop for its edible oil and seeds. This sunflower species is also used as wild bird food, as livestock forage (as a meal or a silage plant), in some industrial applications, and as an ornamental in domestic gardens.
              </p>
              <div class="govuk-button-group">
                <a class="govuk-button govuk-button--secondary" href="08-01-response">
                  Edit response
                </a>
                <a class="govuk-link" href="08-01-response">
                  Edit this point
                </a>
              </div>
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag">
                Responded
              </strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              2
            </dt>
            <dd class="govuk-summary-list__value">
              <h3 class="govuk-heading-s">Point raised by the appellant</h3>
              <p class="govuk-!-padding-bottom-5">
                A rose is either a woody perennial flowering plant of the genus Rosa, in the family Rosaceae, or the flower it bears. There are over three hundred species and tens of thousands of cultivars.[citation needed] They form a group of plants that can be erect shrubs, climbing, or trailing, with stems that are often armed with sharp prickles.[citation needed] Their flowers vary in size and shape and are usually large and showy, in colours ranging from white through yellows and reds. Most species are native to Asia, with smaller numbers native to Europe, North America, and northwestern Africa.
              </p>
              <div class="govuk-button-group">
                <a class="govuk-button govuk-button--secondary" href="08-01-response">
                  Respond to this point
                </a>
                <a class="govuk-link" href="08-01-response">
                  Edit this point
                </a>
              </div>
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--grey">
                Not responded
              </strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              3
            </dt>
            <dd class="govuk-summary-list__value">
              <h3 class="govuk-heading-s">Point raised by the appellant</h3>
              <p class="govuk-!-padding-bottom-5">
                Hibiscus[2][3] is a genus of flowering plants in the mallow family, Malvaceae. The genus is quite large, comprising several hundred species that are native to warm temperate, subtropical and tropical regions throughout the world. Member species are renowned for their large, showy flowers and those species are commonly known simply as "hibiscus", or less widely known as rose mallow. Other names include hardy hibiscus, rose of sharon, and tropical hibiscus.
              </p>
              <div class="govuk-button-group">
                <a class="govuk-button govuk-button--secondary" href="08-01-response">
                  Respond to this point
                </a>
                <a class="govuk-link" href="08-01-response">
                  Edit this point
                </a>
              </div>
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--grey">
                Not responded
              </strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">

            </dt>
            <dd class="govuk-summary-list__value govuk-!-padding-top-5">
              <div class="govuk-button-group">
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Add another point
                </button>
              </div>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
        </dl>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Send response
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Preview response
          </button>
        </div>

    </div>
  </div>

{% endblock %}
