
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/headerWithDOB/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName, 'Jane Doe','5 June 1979')}}
{% endblock %}

{% block content %}
<a href="index" class="govuk-back-link">Back to home</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Check your answers</h1>
      <h3 class="govuk-heading-m">Additional key dates</h3>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Original decision sent
            </dt>
            <dd class="govuk-summary-list__value">
              12 November 2021
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              MR requested
            </dt>
            <dd class="govuk-summary-list__value">
              18 November 2021
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              MRN sent to appellant
            </dt>
            <dd class="govuk-summary-list__value">
              20 November 2021
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Fit note
            </dt>
            <dd class="govuk-summary-list__value">
              12 November 2021
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              HCP assessment
            </dt>
            <dd class="govuk-summary-list__value">
              18 November 2021
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              UC50 assessment
            </dt>
            <dd class="govuk-summary-list__value">
              20 November 2021
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>

            <h3 class="govuk-heading-m">Health conditions</h3>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Initial health conditions
                </dt>
                <dd class="govuk-summary-list__value">
                  Depression
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> contact details</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Health conditions declared later
                </dt>
                <dd class="govuk-summary-list__value">
                  No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> contact details</span>
                  </a>
                </dd>
              </div>
            </dl>

            <div class="govuk-inset-text">
              The response is created in a word document that you will be able to edit.
            </div>

        <div class="govuk-button-group">
          <a class="govuk-button" data-module="govuk-button" href="02-wca-appeal.html">
            Create response
          </a>
        </div>
        <div class="govuk-link">
          <a href="/index.html">Cancel this response</a>
        </div>

    </div>
  </div>

{% endblock %}
