
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,0,[{ text: "Start a new response", link: "#" , class:"active"},{ text: "Find a response", link: "find_response", active:"inactive"}])}}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="cHeader govuk-!-margin-bottom-9">
          <div class="govuk-form-group">

              <h1 class="govuk-heading-xl">
                Start a new response
              </h1>
            <h3 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="event-name">
                HMCTS reference number
              </label>
            </h3>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>
          {{ govukButton({
            text: "Start now",
            href: "01-autopopulated-data.html"
          }) }}
    </div>
    </div>
    <!--
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Guides and help
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Best practices for writing an appeal response
              </a>
            </li>
            <li>
              <a href="#">
                Examples of good responses
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
    -->
  </div>

{% endblock %}
