
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<header class="govuk-header dwp-header" data-module="govuk-header">
<div class=" govuk-width-container ">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="../" class="govuk-header__link govuk-header__link--service-name">
            {{serviceName}}
        </a>
    </div>
    <div class="govuk-grid-column-one-third dwp-header__container--action">
        <a href="#" class="govuk-header__link action">
            John Doe
        </a>
    </div>
</div>
</div>
<section class="dwp-key-details-bar " aria-label="Key details">
<div class="dwp-key-details-bar__key-details">
<dl class="dwp-key-details-bar__top-block">
    <dt class="govuk-visually-hidden">Name:</dt>
    <dd class="dwp-key-details-bar__primary">Jacob Abraham</dd>
    <dt class="govuk-visually-hidden">Nino:</dt>
    <dd class="dwp-key-details-bar__secondary">3219-2349-1235-2872</dd>
    <dt class="govuk-visually-hidden">Claim status:</dt>
    <dd class="govuk-table__cell dwp-key-details-bar__status">
        <strong class="govuk-tag govuk-tag--grey">
            draft (saved)
        </strong>
    </dd>
</dl>
<dl class="dwp-key-details-bar__bottom-block">
    <dt>Date of birth:</dt>
    <dd>4 June 1972</dd>
    <dt>Language:</dt>
    <dd>Welsh speaker</dd>
</dl>
</div>
</section>
</header>
{% endblock %}

{% block content %}
<a href="01-task-list-new" class="govuk-back-link">Back to appeal response</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


        <h2 class="govuk-heading-l">Representative</h2>
        <div class="govuk-inset-text">
          <p>
            <strong class="govuk-tag govuk-tag--green">
              Verified
            </strong>
          </p>
          <p>These details were copied from HMCTS's CCD system and verified with SeachLight.</p>
        </div>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Jane Philips
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Relation with the appellant
            </dt>
            <dd class="govuk-summary-list__value">
              Sister
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              <p>07700 900457</p>
              <p>jane.phillips@example.com</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              72 Guild Street
              <br>London
              <br>SE23 6FH
            </dd>
          </div>
        </dl>
        <!--
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Edit representative details
        </button>
        -->
        <p><a href="01-task-list-new">Back to appeal response</a></p>

    </div>
  </div>

{% endblock %}
