
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<header class="govuk-header dwp-header" data-module="govuk-header">
<div class=" govuk-width-container ">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="../" class="govuk-header__link govuk-header__link--service-name">
            {{serviceName}}
        </a>
    </div>
    <div class="govuk-grid-column-one-third dwp-header__container--action">
        <a href="#" class="govuk-header__link action">
            John Doe
        </a>
    </div>
</div>
</div>
<section class="dwp-key-details-bar " aria-label="Key details">
<div class="dwp-key-details-bar__key-details">
<dl class="dwp-key-details-bar__top-block">
    <dt class="govuk-visually-hidden">Name:</dt>
    <dd class="dwp-key-details-bar__primary">Jacob Abraham</dd>
    <dt class="govuk-visually-hidden">Nino:</dt>
    <dd class="dwp-key-details-bar__secondary">3219-2349-1235-2872</dd>
    <dt class="govuk-visually-hidden">Claim status:</dt>
    <dd class="govuk-table__cell dwp-key-details-bar__status">
        <strong class="govuk-tag govuk-tag--grey">
            draft (saved)
        </strong>
    </dd>
</dl>
<dl class="dwp-key-details-bar__bottom-block">
    <dt>Date of birth:</dt>
    <dd>4 June 1972</dd>
    <dt>Language:</dt>
    <dd>Welsh speaker</dd>
</dl>
</div>
</section>
</header>
{% endblock %}

{% block content %}
<a href="01-task-list-new" class="govuk-back-link">Back to appeal response</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Illness and disabilities</h2>
        <div class="govuk-inset-text">
          These details were copied from UC Build.
        </div>

        <p>Mr. Jacob has:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Arthritis in both knees</li>
          <li>Depression</li>
          <li>Anxiety</li>
        </ul>
        <h2 class="govuk-heading-m">Facts</h2>
        <p>A full history and details of current medical treatment can be found at page 21. This includes medication levels and levels of specialist input.</p>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              17/10/2020
            </dt>
            <dd class="govuk-summary-list__value">
              Mr. Jacob is entitled to UC.
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              17/09/2021
            </dt>
            <dd class="govuk-summary-list__value">
              The common sunflower (Helianthus annuus) is a large annual forb of the genus Helianthus grown as a crop for its edible oil and seeds
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              24/11/2021
            </dt>
            <dd class="govuk-summary-list__value">
              Called to raise an MR - MR Raised
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              17/01/2022
            </dt>
            <dd class="govuk-summary-list__value">
              A common misconception is that flowering sunflower heads track the Sun across the sky. Although immature flower buds exhibit this behaviour, the mature flowering heads point in a fixed (and typically easterly) direction throughout the day.[7][8] This old misconception was disputed in 1597 by the English botanist John Gerard, who grew sunflowers in his famous herbal garden: "[some] have reported it to turn with the Sun, the which I could never observe, although I have endeavored to find out the truth of it."[9] The uniform alignment of sunflower heads in a field might give some people the false impression that the flowers are tracking the Sun.

              This alignment results from heliotropism in an earlier development stage, the young flower stage, before full maturity of flower heads (anthesis).[10] Young sunflowers orient themselves in the direction of the sun. At dawn the head of the flower faces east and moves west throughout the day. When sunflowers reach full maturity they no longer follow the sun, and continuously face east. Young flowers reorient overnight to face east in anticipation of the morning. Their heliotropic motion is a circadian rhythm, synchronized by the sun, which continues if the sun disappears on cloudy days or if plants are moved to constant light.[11] They are able to regulate their circadian rhythm in response to the blue-light emitted by a light source.[11] If a sunflower plant in the bud stage is rotated 180°, the bud will be turning away from the sun for a few days, as resynchronization with the sun takes time.[12]

              When growth of the flower stalk stops and the flower is mature, the heliotropism also stops and the flower faces east from that moment onward. This eastward orientation allows rapid warming in the morning and, as a result, an increase in pollinator visits.[11] Sunflowers do not have a pulvinus below their inflorescence. A pulvinus is a flexible segment in the leaf stalks (petiole) of some plant species and functions as a 'joint'. It effectuates leaf motion due to reversible changes in turgor pressure, which occurs without growth. The sensitive plant's closing leaves are a good example of reversible leaf movement via pulvinuli.
            </dd>
          </div>
        </dl>

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Edit events
        </button>
        <p><a href="01-task-list-new">Back to appeal response</a></p>

    </div>
  </div>

{% endblock %}
