
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<header class="govuk-header dwp-header" data-module="govuk-header">
<div class=" govuk-width-container ">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="../" class="govuk-header__link govuk-header__link--service-name">
            {{serviceName}}
        </a>
    </div>
    <div class="govuk-grid-column-one-third dwp-header__container--action">
        <a href="#" class="govuk-header__link action">
            John Doe
        </a>
    </div>
</div>
</div>
<section class="dwp-key-details-bar " aria-label="Key details">
<div class="dwp-key-details-bar__key-details">
<dl class="dwp-key-details-bar__top-block">
    <dt class="govuk-visually-hidden">Name:</dt>
    <dd class="dwp-key-details-bar__primary">Jacob Abraham</dd>
    <dt class="govuk-visually-hidden">Nino:</dt>
    <dd class="dwp-key-details-bar__secondary">3219-2349-1235-2872</dd>
    <dt class="govuk-visually-hidden">Claim status:</dt>
    <dd class="govuk-table__cell dwp-key-details-bar__status">
        <strong class="govuk-tag govuk-tag--grey">
            draft (saved)
        </strong>
    </dd>
</dl>
<dl class="dwp-key-details-bar__bottom-block">
    <dt>Date of birth:</dt>
    <dd>4 June 1972</dd>
    <dt>Language:</dt>
    <dd>Welsh speaker</dd>
</dl>
</div>
</section>
</header>
{% endblock %}

{% block content %}
<a href="01-task-list-new" class="govuk-back-link">Back to appeal response</a>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Decision</h2>
        <div class="govuk-inset-text">
          Only continue building the response if you decide the appeal should proceed to the tribunal
        </div>

        <h3 class="govuk-heading-m">Decision under appeal dated 25/03/2022</h3>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--s" for="more-detail">
              What is your decision?
            </label>
          </h1>
          <div id="more-detail-hint" class="govuk-hint">
            Do not include personal or financial information, like your National Insurance number or credit card details.
          </div>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10" aria-describedby="more-detail-hint"></textarea>
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Previous decisions
            </span>
          </summary>
          <div class="govuk-details__text">
              <div class="govuk-!-margin-bottom-9">
                <h3 class="govuk-heading-m">Original decision details</h3>
                <p><strong>14/02/2021</strong></p>
                <p>On 12/01/2022 The common sunflower (Helianthus annuus) is a large annual forb of the genus Helianthus grown as a crop for its edible oil and seeds. This sunflower species is also used as wild bird food, as livestock forage (as a meal or a silage plant), in some industrial applications, and as an ornamental in domestic gardens.</p>
              </div>
              <div class="govuk-!-margin-bottom-9">
                <h3 class="govuk-heading-m">Supersession decision details (Mandatory reconsideration)</h3>
                <p><strong>14/07/2021</strong></p>
                <p>On 12/01/2022 The common sunflower (Helianthus annuus) is a large annual forb of the genus Helianthus grown as a crop for its edible oil and seeds. This sunflower species is also used as wild bird food, as livestock forage (as a meal or a silage plant), in some industrial applications, and as an ornamental in domestic gardens.</p>
              </div>
          </div>
        </details>

        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
        <p><a href="01-task-list-new">Back to appeal response</a></p>

    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Guidance and help</h2>
      <div class=" right-side-bar">
        <h4 class="govuk-heading-s">
          Help section
        </h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            This section could include some help text
          </li>
          <li>
            That could help the appeal writers with the context and guidance
          </li>
        </ul>

        <h4 class="govuk-heading-s">
          May be links to examples
        </h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            This section could include some help text
          </li>
          <li>
            That could help the appeal writers with the context and guidance
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
