
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jacob Abraham')}}
{% endblock %}

{% block content %}
<a href="01-task-list-new" class="govuk-back-link">Back to appeal response</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-xl">The facts of the case</h2>
        <h3 class="govuk-heading-l">Introduction</h3>

        <form action="13-05-facts" method="post" class="form">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="declaration-date-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  When were the health conditions decalred?
                </h1>
              </legend>
              <div id="declaration-date-hint" class="govuk-hint">
                For example, 27 3 2022
              </div>
              <div class="govuk-date-input" id="declaration-date">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="declaration-date-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="declaration-date-day" name="declaration-date-day" type="text" inputmode="numeric" value="{{ data['declaration-date-day'] }}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="declaration-date-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="declaration-date-month" name="declaration-date-month" type="text" inputmode="numeric" value="{{ data['declaration-date-month'] }}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="declaration-date-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="declaration-date-year" name="declaration-date-year" type="text" inputmode="numeric" value="{{ data['declaration-date-year'] }}">
                  </div>
                </div>
              </div>

            </fieldset>
          </div>

          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">Continue</button>
          </div>
          <p><a href="01-task-list-new">Back to appeal response</a></p>
        </form>

    </div>
  </div>

{% endblock %}
