
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jacob Abraham')}}
{% endblock %}

{% block content %}
<a href="01-task-list-new" class="govuk-back-link">Back to appeal response</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-xl">The facts of the case</h2>
        <h3 class="govuk-heading-l">Introduction</h3>
        <form action="13-03-facts" method="post" class="form">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Did the appellant declare any health conditions at IDOC that impacted their work?
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="condition-at-idoc-no" name="condition-at-idoc" type="radio" value="not-declared" {{ checked("condition-at-idoc", "not-declared") }}>
                  <label class="govuk-label govuk-radios__label" for="condition-at-idoc-no">
                    Health conditions were not declared at IDOC
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="condition-at-idoc-yes" name="condition-at-idoc" type="radio" value="declared-no-impact" {{ checked("condition-at-idoc", "declared-no-impact") }}>
                  <label class="govuk-label govuk-radios__label" for="condition-at-idoc-yes">
                    Health conditions that were declared at IDOC did not impact their work
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">Continue</button>
          </div>
          <p><a href="01-task-list-new">Back to appeal response</a></p>
        </form>
    </div>
  </div>

{% endblock %}
