
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jacob Abraham')}}
{% endblock %}

{% block content %}
<a href="01-task-list-new" class="govuk-back-link">Back to appeal response</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-xl">The facts of the case</h2>
        <h3 class="govuk-heading-l">Introduction</h3>

        <form action="13-02-facts" method="post" class="form">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  What conditions did the appellant report in the initial declaration?
                </h1>
              </legend>
              <div id="condition-hint" class="govuk-hint">
                Select all that apply.
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="init-declaration-1" name="init-declaration" type="checkbox" value="Arthritis" {{ checked("init-declaration", "Arthritis") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="init-declaration-1">
                    Arthritis
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="init-declaration-2" name="init-declaration" type="checkbox" value="High blood pressure" {{ checked("init-declaration", "High blood pressure") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="init-declaration-2">
                    High blood pressure
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="init-declaration-3" name="init-declaration" type="checkbox" value="Anxiety" {{ checked("init-declaration", "Anxiety") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="init-declaration-3">
                    Anxiety
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="init-declaration-4" name="init-declaration" type="checkbox" value="Depression" {{ checked("init-declaration", "Depression") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="init-declaration-4">
                    Depression
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
                Other conditions
              </label>
            </h1>

            <div id="condition-hint" class="govuk-hint">
              Separate each condition by a comma (,)
            </div>
            <input class="govuk-input" id="init-other-conditions" name="init-other-conditions" type="text" value="{{ data['init-other-conditions'] }}">
          </div>


          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">Continue</button>
          </div>
          <p><a href="01-task-list-new">Back to appeal response</a></p>
        </form>

    </div>
  </div>

{% endblock %}
