
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jacob Abraham')}}
{% endblock %}

{% block content %}
<a href="01-task-list-new" class="govuk-back-link">Back to appeal response</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-xl">The facts of the case</h2>
        <h3 class="govuk-heading-l">Legacy claim</h3>
        <form action="13-10-facts" method="post" class="form">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  When did the legacy award end?
                </h1>
              </legend>
              <div id="passport-issued-hint" class="govuk-hint">
                For example, 27 3 2022
              </div>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="tl-13-09-end-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="tl-13-09-end-day" name="tl-13-09-end-day" type="text" inputmode="numeric" value="{{ data['tl-13-09-end-day'] }}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="tl-13-09-end-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="tl-13-09-end-month" name="tl-13-09-end-month" type="text" inputmode="numeric" value="{{ data['tl-13-09-end-month'] }}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="tl-13-09-end-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="tl-13-09-end-year" name="tl-13-09-end-year" type="text" inputmode="numeric" value="{{ data['tl-13-09-end-year'] }}">
                  </div>
                </div>
              </div>

            </fieldset>
          </div>

          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">Continue</button>
          </div>
          <p><a href="01-task-list-new">Back to appeal response</a></p>
        </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script>
  window.onload = function() {
    var legacyClaim = '{{ data['tl-13-08-legacy-claim'] }}';
    if(legacyClaim.localeCompare('Yes') != 0)
      location.replace("13-10-facts");
  };
</script>
{% endblock %}
