
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jacob Abraham')}}
{% endblock %}

{% block content %}
<a href="01-task-list-new" class="govuk-back-link">Back to appeal response</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">The facts of the case</h2>
    </div>
  </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form action="13-11-facts" method="post" class="form">
          <h3 class="govuk-heading-m">Preview the legacy claims</h3>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Does the appellant have any legacy claim?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['tl-13-08-legacy-claim'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">
                  Change
                  <span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            {% if data['tl-13-08-legacy-claim'] == "Yes" %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  When did the legacy award end?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['tl-13-09-end-day'] }}
                  {% if data['tl-13-09-end-month'] == '01' %}
                     January
                   {% elseif data['tl-13-09-end-month'] == '02'%}
                     February
                   {% elseif data['tl-13-09-end-month'] == '03'%}
                     March
                   {% elseif data['tl-13-09-end-month'] == '04'%}
                     April
                   {% elseif data['tl-13-09-end-month'] == '05'%}
                     May
                   {% elseif data['tl-13-09-end-month'] == '06'%}
                     June
                   {% elseif data['tl-13-09-end-month'] == '07'%}
                     July
                   {% elseif data['tl-13-09-end-month'] == '08'%}
                     August
                   {% elseif data['tl-13-09-end-month'] == '09'%}
                     September
                   {% elseif data['tl-13-09-end-month'] == '10'%}
                     October
                   {% elseif data['tl-13-09-end-month'] == '11'%}
                     November
                   {% elseif data['tl-13-09-end-month'] == '12'%}
                     December
                   {% endif %}
                   {{ data['tl-13-09-end-year'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden"> date of birth</span>
                  </a>
                </dd>
              </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Generated response
              </dt>
              <dd class="govuk-summary-list__value">
                <p>
                  The Tribunal may wish to note that Jacob Abraham was previously in receipt of Employment and Support Allowance (ESA) with the Work Related Activity Component/Support Component. This award ended on {{ data['tl-13-09-end-day'] }}
                  {% if data['tl-13-09-end-month'] == '01' %}
                     January
                   {% elseif data['tl-13-09-end-month'] == '02'%}
                     February
                   {% elseif data['tl-13-09-end-month'] == '03'%}
                     March
                   {% elseif data['tl-13-09-end-month'] == '04'%}
                     April
                   {% elseif data['tl-13-09-end-month'] == '05'%}
                     May
                   {% elseif data['tl-13-09-end-month'] == '06'%}
                     June
                   {% elseif data['tl-13-09-end-month'] == '07'%}
                     July
                   {% elseif data['tl-13-09-end-month'] == '08'%}
                     August
                   {% elseif data['tl-13-09-end-month'] == '09'%}
                     September
                   {% elseif data['tl-13-09-end-month'] == '10'%}
                     October
                   {% elseif data['tl-13-09-end-month'] == '11'%}
                     November
                   {% elseif data['tl-13-09-end-month'] == '12'%}
                     December
                   {% endif %}
                  {{ data['tl-13-09-end-year'] }} following a determination that Jacob Abraham did not have LCW OR was treated as not having LCW.
                </p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">
                  Edit text manually
                </a>
              </dd>
            </div>
          {% else %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Generated response
              </dt>
              <dd class="govuk-summary-list__value">
                <p>
                  The Tribunal may wish to note that Jacob Abraham was previously not in receipt of Employment and Support Allowance (ESA) with the Work Related Activity Component/Support Component.
                </p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">
                  Edit text manually
                </a>
              </dd>
            </div>
          {% endif %}
          </dl>
          <div class="govuk-button-group">
            <a class="govuk-button" href="13-11-facts">
              Save and continue
            </a>
          </div>

          <p><a href="01-task-list-new">Back to appeal response</a></p>
        </form>

    </div>
  </div>

{% endblock %}
