
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jacob Abraham')}}
{% endblock %}

{% block content %}
<a href="../index" class="govuk-back-link">Back to home page</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Appeal response
        </h1>
        <ol class="app-task-list">
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">1. </span> Appeal
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="02-appellant-details" aria-describedby="eligibility-status">
                    Appellant details
                  </a>
                </span>
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                <strong class="govuk-tag govuk-tag--green app-task-list__tag govuk-!-margin-right-1" id="eligibility-status">Verified</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="03-representative-details" aria-describedby="read-declaration-status">
                    Representative details
                  </a>
                </span>
                <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
                <strong class="govuk-tag govuk-tag--green app-task-list__tag govuk-!-margin-right-1" id="eligibility-status">Verified</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="04-appeal-details" aria-describedby="read-declaration-status">
                    Appeal details
                  </a>
                </span>
                <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
                <strong class="govuk-tag govuk-tag--green app-task-list__tag govuk-!-margin-right-1" id="eligibility-status">Verified</strong>
              </li>
            </ul>
          </li>

          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">2. </span> Case history
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="05-schedule-of-evidence" aria-describedby="company-information-status">
                    Schedule of evidence
                  </a>
                </span>
                <strong class="govuk-tag app-task-list__tag" id="company-information-status">Completed</strong>
                <strong class="govuk-tag govuk-tag--green app-task-list__tag govuk-!-margin-right-1" id="eligibility-status">Verified</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="13-01-facts" aria-describedby="company-information-status">
                    Facts of the case
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="facts-status">Not started</strong>
              </li>
              <!--
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="06-illness-disabilities" aria-describedby="company-information-status">
                    Illness and disabilities
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="company-information-status">Not started</strong>
              </li>
              -->
            </ul>
          </li>

          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">3. </span> Prepare response
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="09-decision" aria-describedby="company-information-status">
                    Decision
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="decision-status">Not started</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="14-grounds" aria-describedby="company-information-status">
                    Grounds of appeal
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="grounds-status">Not started</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="15-response" aria-describedby="company-information-status">
                    Response to grounds of appeal
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="response-status">Not started</strong>
              </li>
              <!--
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="08-respond-to-points" aria-describedby="company-information-status">
                    Points appellant has raised and responses
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="company-information-status">Not started</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="08-respond-to-points" aria-describedby="company-information-status">
                    Respond to points raised by the appellant
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="company-information-status">Cannot start yet</strong>
              </li>
              -->
            </ul>
          </li>

          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">4. </span> Send response
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <a href="11-review" aria-describedby="company-information-status">
                  Review and send
                </a>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Not sent</strong>
              </li>
            </ul>
          </li>
        </ol>

    </div>
    <div class="govuk-grid-column-one-third">
      <div class=" right-side-bar">
        <h4 class="govuk-heading-s">
          DWP guidance
        </h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="https://intranet.dwp.gov.uk/manual/code-appeals-procedures/preparing-appeal-response" target="_blank">Preparing the response</a>
          </li>
          <li>
            <a href="https://intranet.dwp.gov.uk/manual/code-appeals-procedures/code-appeals-procedures-guide" target="_blank">Code of Appeals</a>
          </li>
        </ul>

        <h4 class="govuk-heading-s">
          Legislation
        </h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="https://www.legislation.gov.uk/ukdsi/2013/9780111531938/contents" target="_blank">UC regulations</a>
          </li>
          <li>
            <a href="https://www.legislation.gov.uk/uksi/2008/2685/contents/made" target="_blank">Tribunal procedure</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', (event) => {
    if(sessionStorage.getItem("introComplete")=="1"
      && sessionStorage.getItem("legacyClaimComplete")=="1"
      && sessionStorage.getItem("uc50Complete")=="1"
      && sessionStorage.getItem("wcaComplete")=="1"
      && sessionStorage.getItem("mrComplete")=="1") {
        document.getElementById("facts-status").innerHTML = "Completed";
        document.getElementById("facts-status").className = "govuk-tag app-task-list__tag";
    }
    else if (sessionStorage.getItem("introComplete")=="1"
      || sessionStorage.getItem("legacyClaimComplete")=="1"
      || sessionStorage.getItem("uc50Complete")=="1"
      || sessionStorage.getItem("wcaComplete")=="1"
      || sessionStorage.getItem("mrComplete")=="1") {
        document.getElementById("facts-status").innerHTML = "In progress";
        document.getElementById("facts-status").className = "govuk-tag govuk-tag--blue app-task-list__tag";
    }
    if (sessionStorage.getItem("groundsComplete")){
      document.getElementById("grounds-status").innerHTML = "Completed ("+sessionStorage.getItem("groundsComplete").length+")";
      document.getElementById("grounds-status").className = "govuk-tag app-task-list__tag";
    }
    else{
      document.getElementById("grounds-status").innerHTML = "Not started";
      document.getElementById("grounds-status").className = "govuk-tag govuk-tag--grey app-task-list__tag";
    }
  });
</script>
{% endblock %}
