
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jacob Abraham')}}
{% endblock %}

{% block content %}
<a href="01-task-list-new" class="govuk-back-link">Back to appeal response</a>

  <div class="govuk-grid-row govuk-!-margin-bottom-7">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">Appel details</h2>
      <strong class="govuk-tag govuk-tag--green">
        Verified
      </strong>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">MRN and appeal submission</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              MRN originating office
            </dt>
            <dd class="govuk-summary-list__value">
              DWP PIP (1)
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of decision
            </dt>
            <dd class="govuk-summary-list__value">
              10 February 2022
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date appeal submitted
            </dt>
            <dd class="govuk-summary-list__value">
              11 March 2022
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Why appeal is late
            </dt>
            <dd class="govuk-summary-list__value">
              Hello, with that spelling, was used in publications in the U.S. as early as the 18 October 1826 edition of the Norwich Courier of Norwich, Connecticut.[1] Another early use was an 1833 American book called The Sketches and Eccentricities of Col. David Crockett, of West Tennessee,[2] which was reprinted that same year in The London Literary Gazette.[3] The word was extensively used in literature by the 1860s.
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              No MRN
            </dt>
            <dd class="govuk-summary-list__value">
              Not applicable
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Reason for appealing</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What you disagree with
            </dt>
            <dd class="govuk-summary-list__value">
              The use of hello as a telephone greeting has been credited to Thomas Edison; according to one source, he expressed his surprise with a misheard Hullo.
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Why you disagree with it
            </dt>
            <dd class="govuk-summary-list__value">
              According to the Oxford English Dictionary, hello is an alteration of hallo, hollo,[1] which came from Old High German "halâ, holâ, emphatic imperative of halôn, holôn to fetch, used especially in hailing a ferryman".[5] It also connects the development of hello to the influence of an earlier form, holla, whose origin is in the French holà (roughly, 'whoa there!', from French là 'there').[6] As in addition to hello, halloo,[7] hallo, hollo, hullo and (rarely) hillo also exist as variants or related words, the word can be spelt using any of all five vowels.[8][9][10]

Telephone
The use of hello as a telephone greeting has been credited to Thomas Edison; according to one source, he expressed his surprise with a misheard Hullo.[11] Alexander Graham Bell initially used Ahoy (as used on ships) as a telephone greeting.[12][13] However, in 1877, Edison wrote to T. B. A. David, president of the Central District and Printing Telegraph Company of Pittsburgh:

Friend David, I do not think we shall need a call bell as Hello! can be heard 10 to 20 feet away. What you think? Edison - P.S. first cost of sender & receiver to manufacture is only $7.00.[11]
By 1889, central telephone exchange operators were known as 'hello-girls' because of the association between the greeting and the telephone.[13][14]

Hullo
Hello might be derived from an older spelling variant, hullo, which the American Merriam-Webster dictionary describes as a "chiefly British variant of hello",[15] and which was originally used as an exclamation to call attention, an expression of surprise, or a greeting. Hullo is found in publications as early as 1803.[16] The word hullo is still in use, with the meaning hello.[17][18][19][20][21]

Hallo and hollo
"Hallo" redirects here. For other uses, see Hallo (disambiguation).
Hello is alternatively thought to come from the word hallo (1840) via hollo (also holla, holloa, halloo, halloa).[22] The definition of hollo is to shout or an exclamation originally shouted in a hunt when the quarry was spotted:[23]

If I fly, Marcius,/Halloo me like a hare.

— Coriolanus (I.viii.7), William Shakespeare
Fowler's has it that "hallo" is first recorded "as a shout to call attention" in 1864.[24] It is used by Samuel Taylor Coleridge's famous poem The Rime of the Ancient Mariner written in 1798:

And the good south wind still blew behind,
But no sweet bird did follow,
Nor any day for food or play

Came to the mariners' hollo!
In many Germanic languages, including German, Danish, Norwegian, Dutch and Afrikaans, "hallo" literally translates into English as "hello". In the case of Dutch, it was used as early as 1797 in a letter from Willem Bilderdijk to his sister-in-law as a remark of astonishment.[25]
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Anything else you want to tell the tribunal
            </dt>
            <dd class="govuk-summary-list__value">
              Not provided
            </dd>
          </div>

        </dl>

        <p><a href="01-task-list-new">Back to appeal response</a></p>

    </div>
  </div>

{% endblock %}
