
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jacob Abraham')}}
{% endblock %}

{% block content %}
<a href="01-task-list-new" class="govuk-back-link">Back to appeal response</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">The facts of the case</h1>
        <h2 class="govuk-heading-l">Add legacy claims</h2>

        <h3 class="govuk-heading-m">Complete the template by adding the following details</h3>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                When did the legacy claim end?
              </h1>
            </legend>
            <div id="passport-issued-hint" class="govuk-hint">
              For example, 27 3 2007
            </div>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="legacy-end-day" name="passport-issued-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="legacy-end-month" name="passport-issued-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="legacy-end-year" name="passport-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" id="addButton" onclick="saveData()">
            Continue
          </button>
        </div>
        <p><a href="01-task-list-new">Back to appeal response</a></p>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', (event) => {

    document.getElementById('legacy-end-day').value=sessionStorage.getItem("legacy-end-day");
    document.getElementById('legacy-end-month').value=sessionStorage.getItem("legacy-end-month");
    document.getElementById('legacy-end-year').value=sessionStorage.getItem("legacy-end-year");



    /*
    if(sessionStorage.getItem("conditionAtIDOC") == "yes")
    {
      document.getElementById("selectedTemplate").innerHTML = "On his initial declaration, <strong>Jacob Abraham</strong> did not disclose any health conditions that would affect his capacity for work but subsequently on <=== DATE OF DECLARATION ===> he declared the following health conditions <=== LIST OF CONDITIONS ===> which restricted his ability to work or to look for work.";
    }
    else {
      document.getElementById("selectedTemplate").innerHTML = "On his initial declaration <strong>Jacob Abraham</strong> stated he suffered from the following health conditions: <strong>Arthritis, High blood pressure and Depression </strong> but stated they did not impact on her ability to work or to look for work. Subsequently on <=== DATE OF DECLARATION ===>, (fit note date) she provided a verified fit note recording the following health conditions: <=== LIST OF CONDITIONS ===> which restricted her ability to work or to look for work ";
    }
    */
  });

  function saveData(){
    sessionStorage.setItem("legacyClaimComplete","1");
    sessionStorage.setItem("legacy-end-day",document.getElementById('legacy-end-day').value);
    sessionStorage.setItem("legacy-end-month",document.getElementById('legacy-end-month').value);
    sessionStorage.setItem("legacy-end-year",document.getElementById('legacy-end-year').value);

    window.location.href = "13-01-facts.html";
  }
</script>
{% endblock %}
