
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jacob Abraham')}}
{% endblock %}

{% block content %}
<a href="01-task-list-new" class="govuk-back-link">Back to appeal response</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">The facts of the case</h1>
        <div class="govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m">Introduction</h2>
          <p class="govuk-body" id="introContainer">
          </p>
          <a class="govuk-body govuk-link" href="13-02-intro" id="introLink">+ Add introduction</a>
        </div>
        <div class="govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m">Legacy claims</h2>
          <p class="" id="legacyClaimsContainer">

          </p>
          <p class="govuk-body">
            <a class="govuk-link" href="13-04-legacy-claim" id="legacyClaimLink">+ Add claim details</a>
          </p>
        </div>

        <div class="govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m">UC50 self-assessment medical questionnaire form</h2>
          <p class="" id="uc50Container">

          </p>
          <p class="govuk-body">
            <a class="govuk-link" href="13-06-uc50" id="uc50Link">+ Add UC50 self-assessment medical questionnaire form details</a>
          </p>
        </div>

        <div class="govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m">WCA assessment</h2>
          <p class="" id="wcaContainer">

          </p>
          <p class="govuk-body">
            <a class="govuk-link" href="#" id="wcaLink">+ Add WCA assessment details</a>
          </p>
        </div>

        <div class="govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m">Mandatory reconsideration details</h2>
          <p class="" id="MRContainer">

          </p>
          <p class="govuk-body">
            <a class="govuk-link" href="#" id="MRLink">+ Add mandatory reconsideration details</a>
          </p>
        </div>

        <div class="govuk-button-group">
          <a class="govuk-button" href="08-02-response">
            Continue
          </a>
        </div>
        <p><a href="01-task-list-new">Back to appeal response</a></p>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', (event) => {
    var introText = "";
    var introLink = "";
    var legacyClaimText = "";
    var legacyClaimLink = "";
    var uc50Text = "";
    var uc50Link = "";

    //Introduction
    if(sessionStorage.getItem("introComplete")=="1"){
      introText = "<p>On <strong>21 December 2021</strong>, <strong>Jacob Abraham</strong> made a claim to Universal Credit (UC).</p><p>On his initial claim, Jacob said he suffered from <strong>arthritis and high blood pressure</strong> but they did not affect his ability to work or look for work.</p>";
      if(sessionStorage.getItem("conditionAtIDOC") == "yes"){
        introText += "On his initial declaration, <strong>Jacob Abraham</strong> did not disclose any health conditions that would affect his capacity for work but subsequently on <strong>"
        + sessionStorage.getItem("condition-declared-day") + " / "  + sessionStorage.getItem("condition-declared-month") + " / "  + sessionStorage.getItem("condition-declared-year")
        + "</strong> he declared the following health conditions <strong>"
        + sessionStorage.getItem("conditionsDeclared")
        + "</strong> which restricted his ability to work or to look for work.";
      }
      else{
        introText += "<p>Jacob’s circumstances changed. On <strong>"
        + sessionStorage.getItem("condition-declared-day") + " / " + sessionStorage.getItem("condition-declared-month") + " / " + sessionStorage.getItem("condition-declared-year")
        + "</strong> he provided a fit note declaring he had <strong>"
        + sessionStorage.getItem("conditionsDeclared")
        + "</strong> which restricted his ability to work or look for work.</p><p>Receipt of the fit note was accepted as an application for the LCW/LCWRA element of UC. As a result, Jacob was referred for a Work Capability Assessment (WCA).</p>";
      }
      introLink = "Edit introduction";
      document.getElementById("introContainer").innerHTML = introText;
    }
    else{
      introLink = "+ Add introduction";
    }
    document.getElementById("introLink").innerHTML = introLink;


    //Legacy claims
    if(sessionStorage.getItem("legacyClaimComplete")=="1"){
      if(sessionStorage.getItem("legacyClaim")=="yes"){
        legacyClaimText += "The Tribunal may wish to note that Jacob Abraham was previously in receipt of Employment and Support Allowance (ESA) with the Work Related Activity Component/Support Component. This award ended on <strong>"
        + sessionStorage.getItem("legacy-end-day") + " / "  + sessionStorage.getItem("legacy-end-month") + " / "  + sessionStorage.getItem("legacy-end-year")
        + "</strong> following a determination that Jacob Abraham did not have LCW OR was treated as not having LCW.";
      }
      else{
        legacyClaimText += "<i>Not applicable as there are no legacy claims</i>";
      }
      legacyClaimLink = "Edit legacy claims";
      document.getElementById("legacyClaimsContainer").innerHTML = legacyClaimText;
    }
    else{
      legacyClaimLink = "+ Add legacy claim";
    }
    document.getElementById("legacyClaimLink").innerHTML = legacyClaimLink;

    //UC50
    if(sessionStorage.getItem("uc50Complete")=="1"){
      if(sessionStorage.getItem("uc50")=="returned-included"){
        uc50Text += "On <strong>"
        + sessionStorage.getItem("uc50-declared-day") + " / "  + sessionStorage.getItem("uc50-declared-month") + " / "  + sessionStorage.getItem("uc50-declared-year")
        + "</strong> , Jacob completed a UC50 self-assessment medical questionnaire form. It asked about his capability to perform activities in order to assess whether he has LCW. </p><p>Jacob stated that he had varying degrees of difficulty with:<ul class=\"govuk-list govuk-list--bullet\">";
        var activities = sessionStorage.getItem("uc50-activities").split("#");
        for(activity of activities)
        {
          if(activity != "")
            uc50Text += "<li>"+activity+"</li>";
        }
        uc50Text += "</ul>";
      }
      else{
        legacyClaimText += "<i>Not applicable as there are no legacy claims</i>";
      }
      uc50Link = "Edit legacy claims";
      document.getElementById("uc50Container").innerHTML = uc50Text;
    }
    else{
      uc50Link = "+ Add legacy claim";
    }
    document.getElementById("uc50Link").innerHTML = uc50Link;

  });
</script>
{% endblock %}
