
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jacob Abraham')}}
{% endblock %}

{% block content %}
<a href="01-task-list-new" class="govuk-back-link">Back to appeal response</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">The facts of the case</h1>
        <h2 class="govuk-heading-l">UC medical questionnaire</h2>
        <div class="govuk-inset-text">
          <h4 class="govuk-heading-s">Selected template</h4>
          <p id="selectedTemplate"></p>
        </div>

        <h3 class="govuk-heading-m">Add the following details</h3>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Which activities did they state they had varying degrees of difficulty with?
              </h1>
            </legend>
            <div id="waste-hint" class="govuk-hint">
              Select all that apply.
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="uc50Activities-mobilising" name="uc50Activities" type="checkbox" value="uc50Activities-mobilising">
                <label class="govuk-label govuk-checkboxes__label" for="uc50Activities-mobilising">
                  Mobilising
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="uc50Activities-stairs" name="uc50Activities" type="checkbox" value="uc50Activities-stairs">
                <label class="govuk-label govuk-checkboxes__label" for="uc50Activities-stairs">
                  Using Stairs
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="uc50Activities-seats" name="uc50Activities" type="checkbox" value="uc50Activities-seats">
                <label class="govuk-label govuk-checkboxes__label" for="uc50Activities-seats">
                  Transferring from one seat to another
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="uc50Activities-standing-sitting" name="uc50Activities" type="checkbox" value="uc50Activities-standing-sitting">
                <label class="govuk-label govuk-checkboxes__label" for="uc50Activities-standing-sitting">
                  Standing and sitting
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="uc50Activities-reaching" name="uc50Activities" type="checkbox" value="uc50Activities-reaching">
                <label class="govuk-label govuk-checkboxes__label" for="uc50Activities-reaching">
                  Reaching
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="uc50Activities-things" name="uc50Activities" type="checkbox" value="uc50Activities-things">
                <label class="govuk-label govuk-checkboxes__label" for="uc50Activities-things">
                  Picking up and moving things
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="uc50Activities-hands" name="uc50Activities" type="checkbox" value="uc50Activities-hands">
                <label class="govuk-label govuk-checkboxes__label" for="uc50Activities-hands">
                  Using your hands
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="uc50Activities-speak-write-type" name="uc50Activities" type="checkbox" value="uc50Activities-speak-write-type">
                <label class="govuk-label govuk-checkboxes__label" for="uc50Activities-speak-write-type">
                  Speaking, writing and typing
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="uc50Activities-communication" name="uc50Activities" type="checkbox" value="uc50Activities-communication">
                <label class="govuk-label govuk-checkboxes__label" for="uc50Activities-communication">
                  Hearing or understanding communication
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="uc50Activities-sight" name="uc50Activities" type="checkbox" value="uc50Activities-sight">
                <label class="govuk-label govuk-checkboxes__label" for="uc50Activities-sight">
                  Getting around safely (sight)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="uc50Activities-control" name="uc50Activitie" type="checkbox" value="uc50Activities-control">
                <label class="govuk-label govuk-checkboxes__label" for="uc50Activities-control">
                  Control of bladder, bowels or stoma
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="uc50Activities-conscious" name="uc50Activities" type="checkbox" value="uc50Activities-conscious">
                <label class="govuk-label govuk-checkboxes__label" for="uc50Activities-conscious">
                  Staying conscious when awake
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="uc50Activities-learning-tasks" name="uc50Activities" type="checkbox" value="uc50Activities-learning-tasks">
                <label class="govuk-label govuk-checkboxes__label" for="uc50Activities-learning-tasks">
                  Learning tasks
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="uc50Activities-danger" name="uc50Activities" type="checkbox" value="uc50Activities-danger">
                <label class="govuk-label govuk-checkboxes__label" for="uc50Activities-danger">
                  Being aware of danger
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="uc50Activities-finishing-tasks" name="uc50Activities" type="checkbox" value="uc50Activities-finishing-tasks">
                <label class="govuk-label govuk-checkboxes__label" for="uc50Activities-mobilising">
                  Starting and finishing tasks
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="uc50Activities-changes" name="uc50Activities" type="checkbox" value="uc50Activities-changes">
                <label class="govuk-label govuk-checkboxes__label" for="uc50Activities-changes">
                  Coping with changes
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="uc50Activities-people" name="uc50Activities" type="checkbox" value="uc50Activities-people">
                <label class="govuk-label govuk-checkboxes__label" for="uc50Activities-people">
                  Coping with going out or getting about
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="uc50Activities-people" name="uc50Activities" type="checkbox" value="uc50Activities-people">
                <label class="govuk-label govuk-checkboxes__label" for="uc50Activities-people">
                  Dealing with other people
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="uc50Activities-behaviour" name="uc50Activities" type="checkbox" value="uc50Activities-behaviour">
                <label class="govuk-label govuk-checkboxes__label" for="uc50Activities-behaviour">
                  Appropriateness of behaviour
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="uc50Activities-eat-drink" name="uc50Activities" type="checkbox" value="uc50Activities-eat-drink">
                <label class="govuk-label govuk-checkboxes__label" for="uc50Activities-eat-drink">
                  Ability to eat and drink
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" id="addButton" onclick="saveData()">
            Save and continue
          </button>
        </div>
        <p><a href="01-task-list-new">Back to appeal response</a></p>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', (event) => {

    if(sessionStorage.getItem("uc50")=="returned-included")
    {
      document.getElementById("selectedTemplate").innerHTML += "On &lt;date&gt;, Jacob completed a UC50 self-assessment medical questionnaire form. It asked about his capability to perform activities in order to assess whether he has LCW. Jacob stated that he had varying degrees of difficulty with: &lt;list of activities&gt;";
    }
    else {
      document.getElementById("selectedTemplate").innerHTML += "<p>Yet to be desinged</p>";
    }
    if(sessionStorage.getItem("uc50Complete") == "1")
    {
      var activities = sessionStorage.getItem("uc50-activities").split(",");
      const checkBoxes = document.querySelectorAll('input[name="uc50Activities"]');
      for(checkBox of checkBoxes){
        if(checkIfSelected(checkBox.value,activities)){
        checkBox.checked = true;
        }
      }
    }

    /*
    if(sessionStorage.getItem("conditionAtIDOC") == "yes")
    {
      document.getElementById("selectedTemplate").innerHTML = "On his initial declaration, <strong>Jacob Abraham</strong> did not disclose any health conditions that would affect his capacity for work but subsequently on <=== DATE OF DECLARATION ===> he declared the following health conditions <=== LIST OF CONDITIONS ===> which restricted his ability to work or to look for work.";
    }
    else {
      document.getElementById("selectedTemplate").innerHTML = "On his initial declaration <strong>Jacob Abraham</strong> stated he suffered from the following health conditions: <strong>Arthritis, High blood pressure and Depression </strong> but stated they did not impact on her ability to work or to look for work. Subsequently on <=== DATE OF DECLARATION ===>, (fit note date) she provided a verified fit note recording the following health conditions: <=== LIST OF CONDITIONS ===> which restricted her ability to work or to look for work ";
    }
    */
  });

  function checkIfSelected(checkBoxValue,activities){
    for(activity of activities){
      if(checkBoxValue == activity)
        return true;
    }
    return false;
  }

  function saveData(){
    sessionStorage.setItem("uc50Complete","1");
    var activities = "";
    const checkBoxes = document.querySelectorAll('input[name="uc50Activities"]');
    for(const checkBox of checkBoxes){
      if(checkBox.checked){
        activities += checkBox.value + ",";
      }
    }
    sessionStorage.setItem("uc50-activities",activities);
    window.location.href = "13-01-facts.html";
  }
</script>
{% endblock %}
