
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jacob Abraham')}}
{% endblock %}

{% block content %}
<a href="01-task-list-new" class="govuk-back-link">Back to appeal response</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">The facts of the case</h1>
        <h2 class="govuk-heading-l">Add introduction</h2>
        <div class="govuk-inset-text">
          <h4 class="govuk-heading-s">Selected template</h4>
          <p>
            On <strong>21 December 2021</strong>, <strong>Jacob Abraham</strong> made a claim to Universal Credit (UC).
            On his initial declaration, he reported the following health conditions <strong>Arthritis, High blood pressure and Depression </strong> which restricted his ability to work or to look for work. A verified fit note confirming these conditions was provided on <strong>21 December 2021</strong>.
          </p>
          <p id="selectedTemplate"></p>
        </div>

        <h3 class="govuk-heading-m">Complete the template by adding the following details</h3>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                When were the conditions declared subsequently?
              </h1>
            </legend>
            <div id="passport-issued-hint" class="govuk-hint">
              For example, 27 3 2007
            </div>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="condition-declared-day" name="passport-issued-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="condition-declared-month" name="passport-issued-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="condition-declared-year" name="passport-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--s" for="event-name">
              What conditons were declared subsequently?
            </label>
          </h1>
          <div id="account-number-hint" class="govuk-hint">
            Separate each conditon by a comma (,)
          </div>
          <input class="govuk-input" id="conditionsDeclared" name="event-name" type="text">
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" id="addButton" onclick="saveData()">
            Save and continue
          </button>
        </div>
        <p><a href="01-task-list-new">Back to appeal response</a></p>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', (event) => {
    if(sessionStorage.getItem("conditionAtIDOC") == "yes")
    {
      document.getElementById("selectedTemplate").innerHTML = "On his initial declaration, <strong>Jacob Abraham</strong> did not disclose any health conditions that would affect his capacity for work but subsequently on <=== DATE OF DECLARATION ===> he declared the following health conditions <=== LIST OF CONDITIONS ===> which restricted his ability to work or to look for work.";
    }
    else {
      document.getElementById("selectedTemplate").innerHTML = "On his initial declaration <strong>Jacob Abraham</strong> stated he suffered from the following health conditions: <strong>Arthritis, High blood pressure and Depression</strong> but stated they did not impact on his ability to work or to look for work. Subsequently on <=== DATE OF DECLARATION ===> he provided a verified fit note recording the following health conditions <=== LIST OF CONDITIONS ===> which restricted his ability to work or to look for work.";
    }
  });

  function saveData(){
    sessionStorage.setItem("introComplete","1");
    sessionStorage.setItem("condition-declared-day",document.getElementById('condition-declared-day').value);
    sessionStorage.setItem("condition-declared-month",document.getElementById('condition-declared-month').value);
    sessionStorage.setItem("condition-declared-year",document.getElementById('condition-declared-year').value);
    sessionStorage.setItem("conditionsDeclared",document.getElementById('conditionsDeclared').value);

    window.location.href = "13-01-facts.html";
  }
</script>
{% endblock %}
