
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jacob Abraham')}}
{% endblock %}

{% block content %}
<a href="01-task-list-new" class="govuk-back-link">Back to appeal response</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">The facts of the case</h1>
        <h2 class="govuk-heading-l">Mandatory reconsideration</h2>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="Select a template">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Select the relevant template
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="callMadeNoInfo" name="mr" type="radio" value="callMadeNoInfo" aria-describedby="Select this template with legacy claims">
                <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="f2f">
                  Outbound call made– no more information to add
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="callMadeExtraInfo" name="mr" type="radio" value="callMadeExtraInfo" aria-describedby="Select this template for no legacy claims">
                <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="phone">
                  Outbound call made – gave extra information to consider
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="noCall" name="mr" type="radio" value="noCall" aria-describedby="Select this template for no legacy claims">
                <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="phone">
                  No call conducted
                </label>
              </div>
            </div>

          </fieldset>
        </div>
        <div class="govuk-button-group">
          <button class="govuk-button" id="addButton" onclick="saveData()">
            Select and continue
          </button>
        </div>
        <p><a href="01-task-list-new">Back to appeal response</a></p>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', (event) => {
    const radioButtons = document.querySelectorAll('input[name="mr"]');
    for(const radioButton of radioButtons){
      if(radioButton.value == sessionStorage.getItem("mr")){
        radioButton.checked = true;
      }
    }
  });

  function saveData(){
    const radioButtons = document.querySelectorAll('input[name="mr"]');
    for(const radioButton of radioButtons){
      if(radioButton.checked){
        sessionStorage.setItem("mr",radioButton.value);
      }
    }
    //sessionStorage.setItem("wcaComplete","1");
    if(sessionStorage.getItem("mr")=="callMadeNoInfo")
      window.location.href = "13-11-mr.html";
    else
      window.location.href = "13-01-facts.html";
  }
</script>
{% endblock %}
