
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jacob Abraham')}}
{% endblock %}

{% block content %}
<a href="01-task-list-new" class="govuk-back-link">Back to appeal response</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Grounds of appeal</h1>
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary" id="errorSummary" style="display:none;">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            Some data is missing
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li id="whatErrorSummary" style="display:none;">
                <a href="#passport-issued-day">Enter what the appellant is appealing</a>
              </li>
              <li id="summaryErrorSummary" style="display:none;">
                <a href="#postcode-input">Enter the summary of the appellant's reason for the appeal</a>
              </li>
            </ul>
          </div>
        </div>
        <h2 class="govuk-heading-m" id="pageTitle">Add a new ground for appeal</h2>
        <p>Add each ground separately. You can add as many grounds as necessary.</p>
        <div class="govuk-form-group" id="whatContainer">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--s" for="more-detail">
              What are they appealing?
            </label>
          </h1>
          <p id="whatError" class="govuk-error-message" style="display:none;">
            <span class="govuk-visually-hidden">Error:</span> Enter what they are appealing
          </p>
          <input class="govuk-input" id="groundsTitle" name="event-name" type="text">
        </div>
        <div class="govuk-form-group" id="summaryContainer">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--s" for="more-detail">
              Give a summary of their reasons
            </label>
          </h1>
          <p id="summaryError" class="govuk-error-message" style="display:none;">
            <span class="govuk-visually-hidden">Error:</span> Enter a summary of their reasons
          </p>
          <textarea class="govuk-textarea" id="groundsText" name="groundsText" rows="5" aria-describedby="Ground of appeal"></textarea>
        </div>

        <div class="govuk-button-group">
          <a class="govuk-button" onclick="saveData()">
            Continue
          </a>
        </div>
        <p><a href="01-task-list-new">Back to appeal response</a></p>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">

  window.addEventListener('load', (event) => {
    if(!sessionStorage.getItem("grounds")){
      document.getElementById('pageTitle').innerHTML = "Add the first reason for appeal";
    }
    else {
      document.getElementById('pageTitle').innerHTML = "Add the next reason for appeal";
    }
  });

  function saveData(){
    var grounds = "";
    var groundsTitles = "";

    whatText = document.getElementById('groundsTitle').value;
    summaryText = document.getElementById('groundsText').value;

    if(whatText != "" && summaryText != ""){
      console.log("Both were entered");

      if(sessionStorage.getItem("grounds")){
        grounds = sessionStorage.getItem("grounds");
        groundsTitles = sessionStorage.getItem("groundsTitles");
      }
      grounds += document.getElementById('groundsText').value + "#";
      groundsTitles += document.getElementById('groundsTitle').value + "#";

      sessionStorage.setItem("groundsTitles",groundsTitles);
      sessionStorage.setItem("grounds",grounds);
      if(sessionStorage.getItem("groundsComplete"))
        sessionStorage.setItem("groundsComplete",sessionStorage.getItem("groundsComplete")+".");
      else
        sessionStorage.setItem("groundsComplete",".");

      window.location.href = "14-grounds";
    }
    else {
      document.getElementById('errorSummary').style.display = "block";
      if(whatText == ""){
        document.getElementById('whatErrorSummary').style.display="block";
        document.getElementById('whatError').style.display="block";
        document.getElementById('whatContainer').classList.add("govuk-form-group--error");
        document.getElementById('groundsTitle').classList.add("govuk-input--error");
      }
      if(summaryText == ""){
        document.getElementById('summaryErrorSummary').style.display="block";
        document.getElementById('summaryError').style.display="block";
        document.getElementById('summaryContainer').classList.add("govuk-form-group--error");
        document.getElementById('groundsText').classList.add("govuk-input--error");
      }
    }
  }
</script>
{% endblock %}
