
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jacob Abraham')}}
{% endblock %}

{% block content %}
<a href="15-response" class="govuk-back-link">Back to grounds of appeal</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Respond to point <span id="pointCount"></span></h1>
        <h2 class="govuk-heading-m">Appellant's point</h2>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0" id="groundTitle"></h3>
        <p id="groundDesc"></p>
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="more-detail">
              DWP's response
            </label>
          </h1>
          <textarea class="govuk-textarea" id="dwpResponse" name="dwpResponse" rows="10" aria-describedby="DWP's response"></textarea>
        </div>

        <div class="govuk-button-group">
          <a class="govuk-button" onclick="saveData()">
            Continue
          </a>
        </div>
        <p><a href="15-response">Back to grounds of appeal</a></p>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  window.addEventListener('load', (event) => {
    let index = 0;
    let dwpResponse = "";
    if(sessionStorage.getItem("groundIndex")){
      index = sessionStorage.getItem("groundIndex");
      document.getElementById('pointCount').innerHTML =  (parseInt(index)+1) + " of " + (sessionStorage.getItem("grounds").split("#").length-1);
    }

    if(sessionStorage.getItem("grounds")){
      ground = sessionStorage.getItem("grounds").split("#")[index];
      groundTitle = sessionStorage.getItem("groundsTitles").split("#")[index];
      document.getElementById('groundTitle').innerHTML = groundTitle;
      document.getElementById('groundDesc').innerHTML = ground;
      if(sessionStorage.getItem("dwpResponse").split("#")[index]){
        document.getElementById('dwpResponse').value = sessionStorage.getItem("dwpResponse").split("#")[index];
      }
      else {
        document.getElementById('dwpResponse').value = "";
      }
    }
  });

  function saveData(){
    var dwpResponse = "";
    //Introduction
    if(sessionStorage.getItem("dwpResponse")){
      dwpResponse = sessionStorage.getItem("dwpResponse");
    }
    dwpResponse += document.getElementById('dwpResponse').value + "#";

    sessionStorage.setItem("dwpResponse",dwpResponse);
    /* Need to figure this out soon */
    sessionStorage.setItem("dwpResponseComplete","1");

    window.location.href = "15-02-add-legislation";
  }

</script>
{% endblock %}
