{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">




<form novalidation method="post">
  
  
    
 

 {{ govukDateInput({
  id: "date",
  fieldset: {
    legend: {
      text: "When did the appellant first apply for Universal Credit?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "For example, 31 3 1980"
  },
  items: [
    {
      name: "date",
      label: "Day",
      value: data.day.claim,
      classes: "govuk-input--width-2"
    },
    {
      name: "date",
      label: "Month",
      value: data.month.claim,
      classes: "govuk-input--width-2"
    },
    {
      name: "date",
      label: "Year",
      value: data.year.claim,
      classes: "govuk-input--width-4"
    }
  ]
 }) }}

  
  <a href="00-task-list-new.html" class="govuk-button" data-module="govuk-button">
    Continue
  </a>


  
  </form>

</div>

</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  function saveData(){
    sessionStorage.setItem("taskProgressRepDetails","2");
    document.getElementById("form").submit();
  }

</script>
{% endblock %}