{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <form novalidation method="post">


    <h1 class="govuk-heading-l">Reference evidence to support why schedule 8 Provisions haven't been met for paragraphs 1,2,3,5 & 6</h1>

    

    
    {{ govukInput({
      label: {
        text: "Document name"
      },
      classes: "govuk-input--width-20",
      id: "width-20",
      name: "width20"
    }) }}

    {{ govukInput({
      label: {
        text: "Page number"
      },
      classes: "govuk-input--width-5",
      id: "width-5",
      name: "width5"
    }) }}
      

    <p class="govuk-body">
      <a href="#" class="govuk-link govuk-link--no-visited-state">Add another document</a>
    </p>
         

 {{ govukButton({
  text: "Continue"
 }) }}
</form>
</div>
</div>
{% endblock %}

//when they click continue - change to '2,copy to endblock

