
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,0,[{ text: "Start a new response", link: "index" , class:"inActive"},{ text: "Find a response", link: "#", class:"active"}])}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <h1 class="govuk-heading-xl ">Find a response</h1>
      <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" for="event-name">
          HMCTS reference number
        </label>
      </h3>
      <div id="account-number-hint" class="govuk-hint">
      </div>
      <input class="govuk-input" id="event-name" name="event-name" type="text" value="">
    </div>
    <a class="govuk-button" href="previous_responses.html"> Search</a>
  </div>
</div>
{% endblock %}
