
{% extends "layout.html" %}

{% set pageName = "Prepare an appeal response prototype" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     <h1 class="govuk-heading-l">{{ pageName}}</h1>
      
     <h2 class="govuk-heading-m">
      This prototype is to be used in user research sessions only, it is not a demonstration system.
      </h2>
      
      
      <p>
      Please only click start if you've been invited to take part in a research session, and you've received a link to this prototype from the researcher for that specific session.
      </p>


      
    

    </div>
  </div>

{% endblock %}
