
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<a href="index" class="govuk-back-link">Back to home page</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="cHeader">
        <h1 class="govuk-heading-xl">
          New appeal response
        </h1>
        <p>
          This service automatically populates relevant details from the bundle into the appeal response. All standard paragraphs needed are inbuilt into this system
        </p>
        <div class="govuk-form-group">
          <h3 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="event-name">
              Upload the bundle
            </label>
          </h3>
          <div id="account-number-hint" class="govuk-hint">
            Upload the bundle that you will have created using the bundle builder.
          </div>
          <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
        </div>
        {{ govukButton({
          text: "Create new response",
          href: "task-list-concept-v2/01-task-list-new.html"
        }) }}
        <br>
        <a href="index" class="govuk-link">Cancel and go back to home page</a>
      </div>
    </div>
  </div>

{% endblock %}
