
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName)}}
{% endblock %}

{% block content %}
<a href="index" class="govuk-back-link">Back to home page</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-form-group">
      <h1 class="govuk-heading-l govuk-!-margin-top-5">Search for an appeal response</h1>
      <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" for="event-name">
          HMCTS appeal reference number
        </label>
      </h3>
      <div id="account-number-hint" class="govuk-hint">
      </div>
      <input class="govuk-input" id="event-name" name="event-name" type="text" value="1234-1234-1234-1234">
    </div>
    <a class="govuk-button govuk-button--secondary" href="previous_responses.html"> Search again</a>

    <h2 class="govuk-heading-m govuk-!-margin-top-5">
      Search results for "1234-1234-1234-1234"
    </h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Appellant name</th>
          <th scope="col" class="govuk-table__header">HMCTS reference number</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="task-list-concept-v2/01-task-list-new.html" class="govuk-link">Jacob Abraham</a></td>
          <td class="govuk-table__cell">1234-1234-1234-1234</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">draft</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
