
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName)}}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Background (Fictitious case – no details here relate to a specific individual or case)
      </h1>
      <h2 class="govuk-heading-m">
        Application
      </h2>

      <p>
        J applied for Universal Credit. It's the first time he's made a claim to DWP.
      </p>
      <p>
        On the UC application, J declared arthritis and high blood pressure but said they did not affect his ability to work. After the original application, J also declared that he suffered from depression and provided a fit note to support this.
      </p>

      <p>
        J had a face-to-face work capability assessment. The UC50 questionnaire was returned and is in the evidence bundle; it suggested J has difficulty dealing with other people.
      </p>

      <h2 class="govuk-heading-m">
        Outcome
      </h2>

      <p>
        UC was not awarded, and J requested a Mandatory Reconsideration (MR).
      </p>

      <p>
        DWP phoned J and established there was no more information to add to the claim. The MR decision remained the same and UC was not awarded.
      </p>
      <p>
        J has now raised an appeal.
      </p>

      <h2 class="govuk-heading-m">
        Scenario
      </h2>

      <p>
        Imagine you’re producing an appeal response for J's appeal and you now need to put together the “facts of the case” section. Please use this system to produce the “facts of the case” for this appeal. Any dates required can be made up.
      </p>


    </div>
  </div>

{% endblock %}
