
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName)}}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Background (Fictitious case – no details here relate to a specific individual or case)
      </h1>
      <h2 class="govuk-heading-m">
        SCENARIO
      </h2>

      <p>
         I’d like you to think of a new, totally fictitious, appeal for which you have to write a response. You’ve already been through the information supplied by the appellant, and you’ve identified two reasons (grounds) for appeal.
      </p>
      <p>
         Please think of two reasons which are in this appeal – imagining both the type of reason and the specific detail. You can make a note of these, or just keep them in mind. If possible, please include an example of one common reason and one rare reason.
      </p>

      <p>
        You’re now at the point in writing the appeal response where you’re needing to address the appellant’s grounds/reasons for appeal.
      </p>

      <h2 class="govuk-heading-m">
        TASK
      </h2>

      <p>
        Starting from the screen you’re now looking at, can you continue with this appeal response and get these grounds for appeal – and your response to them – into the appeal?
      </p>
    </div>
  </div>

{% endblock %}
